%main.team_page
  %section.team_page_body
    %h2
      = @assignable.name
      Region Assignments
    %h3 Region Director
    - if (director = @assignable.director).present?
      = render 'admin/shared/user_contact', locals: { user: director }
    - else
      This region does not currently have a director.
      %br/
      = link_to "New #{REGION_DIRECTOR} Assignment", new_admin_region_assignment_path(@assignable, title: REGION_DIRECTOR)
      %br/
    %h3 Region Support
    - if (supports = @assignable.supports).present?
      - supports.each do |support|
        = render 'admin/shared/user_contact', locals: { user: support }
    - else
      This region does not currently have any supports.
      %br/
    %p= link_to "New #{REGION_SUPPORT} Assignment", new_admin_region_assignment_path(@assignable, title: REGION_SUPPORT)
    %p= link_to "Back to #{@assignable.name} Region", admin_competition_region_path(@competition, @assignable)
