%main.team_page
  %section.team_page_body
    %h2
      Add New Assignment to #{@assignable.name} #{@assignable.class.to_s}
    = form_tag(new_admin_region_assignment_path, method: :get) do
      = search_field_tag :term, params[:term]
      = hidden_field_tag(:title, @title)
      = submit_tag 'Search'
    %br/
    - if @user.present? # User found show create new assignment for
      = render 'admin/shared/user_contact', locals: { user: @user }
      - unless @existing_registration.present? # check for existing registration
        = form_for [:admin, @assignable, @assignment] do |f|
          = hidden_field_tag(:user_id, @user.id)
          = hidden_field_tag(:title, @title)
          = f.submit "Create #{@title} Assignment for #{@user.full_name}"
      - else
        Assignment for #{@user.full_name} to #{@assignable.name} as #{@title} already exists.
        %br/
    - elsif @users.present? # Review search results
      - @users.each do |user|
        = render 'admin/shared/user_contact', locals: { user: user }
        = link_to 'Select', new_admin_region_assignment_path(@assignable, title: @title, term: user.email)
        %br/
    - elsif params[:term].present? # Could not find anything.
      Apologies, no name matching search term '#{params[:term]}'
      %br/
    - else # No search term entered / first visit to page
      Please enter an email address or name to search for a user.
      %br/
    = link_to "Back to #{@assignable.name} #{@assignable.class.to_s} Assignments", admin_region_assignments_path(@assignable)
