%main.dataset_page
  = render 'index_header'
  - if @data_sets.present?
    = link_to 'Download CSV', highlight_data_sets_path(format: 'csv'), class: 'download-csv'
    %table#dataset_table{'data-turbolinks' => 'false'}
      %thead
        %tr
          %th Name
          %th Description
          %th Dataset URL
          %th Jurisdiction
      %tbody
        - @data_sets.each do |data_set|
          %tr
            %td= link_to data_set.name, data_set_path(data_set)
            %td= markdown truncate(data_set.description, length: 100, omission: '... ')
            %td= link_to data_set.url, data_set.url, class: 'dataseturl'
            %td= data_set.region.name
  - else
    %p
      %strong No Data Set Highlights saved for #{@competition.name} at this time.
