<% content_for :title, "GovHack Datasets" %>
<main class="dataset_page">
  <section>
    <h1>
      <%= yield :title %>
    </h1>
  </section>
  <section>
    <% if @data_sets.present? %>
      <h2><%= @data_sets.length %> Datasets available</h2>
      <p>
       <span>Filters:</span>
       <span class="filter">Australia <%= link_to "X", data_sets_path %></span>
       <span class="filter">Agriculture and the Environment <%= link_to "X", data_sets_path %></span>
      </p>
      <% @data_sets.each do |data_set| %>
        <section>
          <div>
            <h3><%= data_set.name %></h3>
            <p><%= markdown truncate(data_set.description, length: 100, omission: '... ') %></p>
            <p><%= data_set.region.name %></p>
          </div>  
          <div>
            <%= link_to "Go to Dataset", data_set_path(data_set) %>
          </div>  
        </section> 
        <% unless data_set == @data_sets.last %> 
          <hr/>
        <% end %>    
      <% end %>
    <% else %>
      <p>
        <strong>No matching datasets at this time.</strong>
      </p>
    <% end %>
  </section>  
</main>
<%= link_to 'Back to Resources', resources_path %>
