<% content_for :title, "Datasets for #{@competition.name}" %>
<main class="dataset_page">
  <h1>
    <%= yield :title %>
  </h1>
  <% if @data_sets.present? %>
    <% @data_sets.each do |data_set| %>
      <section>
        <div>
          <h2><%= data_set.name %></h2>
          <p><%= markdown truncate(data_set.description, length: 100, omission: '... ') %></p>
          <p><%= data_set.region.name %></p>
        </div>  
        <%= link_to "Go to Dataset", data_set_path(data_set) %>
      </section> 
      <% unless data_set == @data_sets.last %> 
        <hr/>
      <% end %>    
    <% end %>
  <% else %>
    <p>
      <strong>No Data Set Highlights saved for <%= @competition.name %> at this time.</strong>
    </p>
  <% end %>
</main>
<%= link_to 'Back to Resources', resources_path %>
