<% content_for :title, "GovHack Datasets" %>
<main class="dataset_page">
  <section>
    <h1 class="mx-3">
      <%= yield :title %>
    </h1>
  </section>
  <section class="dataset_list">
    <% if @data_sets.present? %>
      <h2 class="mx-3 mb-5 fw-bold"><%= @data_sets.length %> Datasets available</h2>
      <% @data_sets.each do |data_set| %>
        <section class="dataset d-flex justify-content-between align-items-center mx-3 my-5">
          <div>
            <h3 class="mb-3"><%= data_set.name %></h3>
            <p class="mb-2"><%= data_set.description %></p>
            <p class="region"><%= data_set.region.name %></p>
          </div>  
          <div class="link_container">
            <%= link_to "Go to Dataset", data_set_path(data_set) %>
          </div>  
        </section> 
        <% unless data_set == @data_sets.last %> 
          <hr/>
        <% end %>    
      <% end %>
    <% else %>
      <p>
        <strong>No matching datasets at this time.</strong>
      </p>
    <% end %>
  </section>  
</main>
<%= link_to 'Back to Resources', resources_path %>
