- content_for :title, 'Data Sets'
%main.dataset_page
  %h2
    Data for Competition #{@competition.year}
  %h3 Data Portals
  %section.dataportals
    - @data_portals.each do |data_portal|
      = render 'data_set_tile', locals: data_portal
  %h3 Data Set Highlight
  - if @data_sets.present?
    = link_to 'Download CSV', data_sets_path(format: 'csv')
    %table#dataset_table
      %thead
        %tr
          %th Name
          %th Description
          %th Dataset URL
          %th Jurisdiction
      %tbody
        - @data_sets.each do |data_set|
          %tr
            %td= link_to data_set.name, data_set_path(data_set)
            %td= markdown data_set.description
            %td= link_to data_set.url, data_set.url, {:class => 'dataseturl'}
            %td= data_set.region.name
  - else
    %p
      %strong No Data Set Highlights saved for #{@competition.name} at this time.
