%main.project_index
  %h2= @data_set.name
  %p
    Region: #{@data_set.region.name}
  %p
    Description: #{@data_set.description}
  %p
    %a{:href => "#{@data_set.url}", :target => "_blank"} URL
  %h3
    Team Projects Utilising #{@data_set.name}
  - if @competition.started?
    - if @team_data_sets.present?
      - @teams.each do |team|
        %h4= "#{ team.current_project.team_name } - #{ team.current_project.project_name }"
        %p= link_to 'Go to Team Project', project_path(team.current_project.identifier)
    - else
      %p No team projects utilising this data set currently.
  - else
    %p
      Check back here at the start of the competition to see which team projects
      are utilising this data set.
%p= link_to 'Back to Data Sets', data_sets_path
