<% unless @current_project.description.blank? %>
  <h4>Description</h4>
  <%= markdown @current_project.description %>
<% end %>

<% unless @current_project.data_story.blank? %>
  <h4>Data Story</h4>
  <%= markdown @current_project.data_story %>
<% end %>

<% unless @current_project.source_code_url.blank? %>
  <a href='<%= @current_project.source_code_url %>' target="_blank">Sorce Code</a>
<% end %>

<% unless @current_project.video_url.blank? %>
  <a href='<%= @current_project.video_url %>' target="_blank">Video</a>
<% end %>

<% unless @current_project.homepage_url.blank? %>
  <a href='<%= @current_project.homepage_url %>' target="_blank">Homepage</a><br>
<% end %>
