- content_for :title, 'Create Team'
%main.team_page
  %h2 Create New Team Project #{@participating_competition_event.name}
  = form_for @team do |form|
    .field
      = form.label :youth_team, 'Is your team a youth team (made up by at least 75% people aged under 18 years old)?'
      = form.check_box :youth_team
    .actions
      = form.submit 'Create New Team Project'
%p= link_to 'Back to Account Management', manage_account_path
%p= link_to 'Back to Projects', projects_path
