<h2><%= @current_project.team_name %></h2>

<%= render 'team_project_info' %>

<%= link_to 'Update Team Project', edit_team_project_path(@team, @team.current_project) %>

<h3>Team Data Sets</h3>

<% if (team_data_sets = @team.team_data_sets).present? %>

  <% team_data_sets.each do |team_data_set| %>
    <%= render 'team_data_set', locals: { data_set: team_data_set } %>
    <%= link_to 'Update Data Set', edit_team_team_data_set_path(@team, team_data_set) %><br>
  <% end %>

<% else %>
  <div>Your team does not currently have any data sets.</div>
<% end %>

<%= link_to 'Add New Data Set', new_team_team_data_set_path(@team) %>

<h3>Team Leader</h3>

<%= render 'users/user_contact', locals: { user: @team.team_leader } %>

<% if (team_members = @team.team_members).present? %>
  <h3>Team Members</h3>
  <% team_members.each do |team_member| %>
    <%= render 'users/user_contact', locals: { user: team_member } %>
  <% end %>
<% end %>

<% if (invitees = @team.invitees).present? %>
  <h3>Invitees</h3>
  <% invitees.each do |invitee| %>
    <%= render 'users/user_contact', locals: { user: invitee } %>
  <% end %>
<% end %>

<% if @team.assignments.count < MAX_TEAM_SIZE %>
  <%= link_to 'Add Team Members', new_team_assignment_path(@team, title: INVITEE) %><br>
<% else %>
  <div>You have reached the maximum team size of <%= MAX_TEAM_SIZE %><div>
<% end %>

<h3>Competition Event</h3>
<%= @event.name %><br>
<%= link_to 'Change Participating Competition Event', edit_team_path(@team) %><br>
<%= link_to 'Back to Event', event_path(@team.event.identifier) %><br>

<h4>Challenge Entries</h4>

<% if (entries = @team.entries).present? %>

  <% entries.each do |entry| %>
    Challenge: <%= entry.challenge.name %><br>
    Checkpoint End Time: <%= entry.checkpoint.end_time %><br>
  <% end %>

<% else %>
  <div>Your team is not currently entered into any challenges.</div>
<% end %>
<%= link_to 'Enter Challenge', new_team_entry_path(@team) %><br>
