<h2><%= @team.name %></h2>

<% if user_signed_in? %>

  <% if in_peoples_choice_window? %>
    <h3>People's Choice</h3>
    <% if @user.in_team?(@team) %>

      Your team project is being judged in the People's Choice Awards.

    <% elsif @peoples_scorecard.present? %>

      You gave this team a score of <%= @peoples_scorecard.display_score %><br>

      <%= link_to 'Update Scorecard', edit_peoples_scorecard_path(@peoples_scorecard) %>

    <% else %>

      You are yet to judge this project.<br>

      <%= link_to 'Vote', new_peoples_scorecard_path(team_id: @team.id) %>

    <% end %>
  <% end %>

  <h3>Favourites</h3>
  <% if @favourite.present? %>
    <%= link_to 'Unfavourite Project', favourite_path(@favourite),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br>
  <% else %>
    <%= link_to 'Favourite Project', favourites_path(team_id: @team.id), method: :post %>
  <% end %>

<% else %>

  Login to vote for this project in the People's Choice Awards.<br>

<% end %>

<h3>Project Info</h3>

<%= render 'team_project_info' %>

<h3>Team DataSets</h3>

<% if (team_data_sets = @team.team_data_sets).present? %>

  <% team_data_sets.each do |team_data_set| %>
    <%= render 'team_data_set', locals: { data_set: team_data_set } %>
  <% end %>

<% else %>
  <div>This team does not currently have any datasets.</div>
<% end %>

<h3>Challenges</h3>

<% passed_checkpoints.each do |checkpoint| %>

  <h3><%= checkpoint.name %> Checkpoint</h3>
  <% if (national_challenges = @team.national_challenges(checkpoint)).present? %>
    <h4>National Challenges</h4>
    <% national_challenges.each do |challenge| %>
      <h5><%= challenge.name %></h5>
      Region: <%= challenge.region.name %><br>
    <% end %>
  <% end %>

  <% if (regional_challenges = @team.regional_challenges(checkpoint)).present? %>
    <h4>Regional Challenges</h4>
    <% regional_challenges.each do |challenge| %>
      <h5><%= challenge.name %></h5>
      Region: <%= challenge.region.name %><br>
    <% end %>
  <% end %>
<% end %>

<% if user_signed_in? && @user.in_team?(@team) %>
  <%= link_to 'Managage this Team Project', team_management_team_path(@team) %><br>
<% end %>

<%= link_to 'Back to Teams', teams_path %>
