<h2><%= @assignable.name %> Event Assignments</h2>

<h3>Event Host</h3>

<% if (host = @assignable.host_user).present? %>
  <%= render 'admin/shared/user_contact', locals: { user: host } %>
<% else %>
  This event does not currently have a host.<br>
  <%= link_to "New #{EVENT_HOST} Assignment", new_admin_event_assignment_path(@assignable, title: EVENT_HOST) %><br>
<% end %>

<h3>Event Support</h3>

<% if (supports = @assignable.support_users).present? %>
  <% supports.each do |support| %>
    <%= render 'admin/shared/user_contact', locals: { user: support } %>
  <% end %>
<% else %>
  This event does not currently have any supports.<br>
<% end %>
<%= link_to "New #{EVENT_SUPPORT} Assignment", new_admin_event_assignment_path(@assignable, title: EVENT_SUPPORT) %><br>

<%= link_to "Back to #{@assignable.name} Event", admin_region_event_path(@assignable.region, @assignable) %>
