- content_for :title, 'Update Profile'
%main.registration.edit-account
  %container
    %section.signup-form
      %h2.heading Update Profile
      -if @profile.slack_user_id
        %p
          %strong Slack Account Linked
      - else
        = link_to 'Link Slack Account for Chat', user_slack_omniauth_authorize_path, method: :post, class: 'download-csv'
      %br
      = form_for @profile do |form|
        .form-group
          = form.label :team_status
          = form.select :team_status, |
            options_for_select(Profile.team_statuses.keys, selected: @profile.team_status), |
            include_blank: true
        .form-group
          = form.label :description
          = form.text_field :description, class: 'form-control'
        .form-group
          = form.label :website
          = form.url_field :website, class: 'form-control'
          %small Please put in the full URL: https://my-site.com/me
        .form-group
          = form.label :github
          = form.url_field :github, class: 'form-control'
          %small Please put in the full URL: https://github.com/profile-name
        .form-group
          = form.label :twitter
          = form.url_field :twitter, class: 'form-control'
          %small Please put in the full URL: https://twitter.com/my-handle
        .form-group
          = form.label :linkedin, 'LinkedIn'
          = form.url_field :linkedin, class: 'form-control'
          %small Please put in the full URL: https://www.linkedin.com/in/name-id
        .form-group
          = form.label :skill_list
          = form.text_field :skill_list, value: @profile.skill_list&.join(', '), class: 'form-control'
          %small Separate tags with commas
        .form-group
          = form.label :interest_list
          = form.text_field :interest_list, value: @profile.interest_list&.join(', '), class: 'form-control'
          %small Separate tags with commas
        .actions
          = form.submit (@profile.published ? 'Update' : 'Publish')
      %div.links
        %p= link_to 'Back to Account Management', manage_account_path
        %p= link_to 'Back to Profile', profile_path(@profile)
