<% content_for :title, 'Update Profile' %>
<main class="registration edit-account">
  <container>
    <section class="signup-form">
      <h2 class="heading">Update Profile</h2>
      <p>
        <strong>
          <% if @profile.slack_user_id %>
            Slack Account Linked
          <% else %>
            <%= link_to 'Link Slack Account for Chat', user_slack_omniauth_authorize_path, method: :post %>
          <% end %>
        </strong>
      </p>
      <br/>
      <%= form_for @profile do |form| %>
        <div class="form-group">
          <%= form.label :team_status %>
          <%= form.select :team_status, 
            options_for_select(Profile.team_statuses.keys, selected: @profile.team_status), 
            include_blank: true
          %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_field :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :website %>
          <%= form.url_field :website, class: 'form-control' %>
          <small>Please put in the full URL: https://my-site.com/me</small>
        </div>
        <div class="form-group">
          <%= form.label :github %>
          <%= form.url_field :github, class: 'form-control' %>
          <small>Please put in the full URL: https://github.com/profile-name</small>
        </div>
        <div class="form-group">
          <%= form.label :twitter %>
          <%= form.url_field :twitter, class: 'form-control' %>
          <small>Please put in the full URL: https://twitter.com/my-handle</small>
        </div>
        <div class="form-group">
          <%= form.label :linkedin, 'LinkedIn' %>
          <%= form.url_field :linkedin, class: 'form-control' %>
          <small>Please put in the full URL: https://www.linkedin.com/in/name-id</small>
        </div>
        <div class="form-group">
          <%= form.label :skill_list %>
          <%= form.text_field :skill_list, value: @profile.skill_list&.join(', '), class: 'form-control' %>
          <small>Separate tags with commas</small>
        </div>
        <div class="form-group">
          <%= form.label :interest_list %>
          <%= form.text_field :interest_list, value: @profile.interest_list&.join(', '), class: 'form-control' %>
          <small>Separate tags with commas</small>
        </div>
        <div class="actions">
          <%= form.submit (@profile.published ? 'Update' : 'Publish') %>
        </div>
      <% end %>
      <div class="links">
        <p>
          <%= link_to 'Back to Account Management', manage_account_path %>
        </p>
        <p>
          <%= link_to 'Back to Profile', profile_path(@profile) %>
        </p>
      </div>
    </section>
  </container>
</main>
