- content_for :title, 'All Profiles'
%main.profiles_page_test
  %section.header
    %h2 GovHack 2020 Profiles
    %h3 Find a Participant, Mentor, Industry partner, GovHack Support here.

    -# = link_to 'All', profiles_path
    -# |
    -# = link_to 'Participants', participants_profiles_path
    -# |
    -# = link_to 'Mentors', mentors_profiles_path
    -# |
    -# = link_to 'Industry', industry_profiles_path
    -# |
    -# = link_to 'Support', support_profiles_path
  %section.table-wrapper
    %h2= yield :title
    %table.profiles-table#projects_table{'data-turbolinks' => 'false'}
      %thead
        %th Name
        %th Category
        %th Region
        %th Team Status
        %th Skills
      %tbody
        - @profiles.each do |profile|
          %tr
            %td
              %strong= link_to "#{profile.user.display_name}", profile_path(profile)
            %td= profile.user.category
            %td= profile.user.region
            %td= profile.team_status
            %td= profile.skills.map {|tag|"##{tag}"}.join(' ')
