- content_for :title, (action_name.capitalize unless action_name == 'index')
%main.profiles_page_test
  %section.header
    %h2 GovHack 2020 Profiles
    %h3 Find your team mate, mentor or industry partner here.
    = link_to 'All', profiles_path
    |
    = link_to 'Participants', participants_profiles_path
    |
    = link_to 'Mentors', mentors_profiles_path
    |
    = link_to 'Industry', industry_profiles_path
  %section.table-wrapper
    %h2= yield :title
    %table.profiles-table#projects_table{'data-turbolinks' => 'false'}
      %thead
        %th Full Name
        %th Preferred Name
        %th Region
        %th Team Status
        %th Skills
      %tbody
        - @profiles.each do |profile|
          %tr
            %td= link_to "#{profile.user.full_name}", profile_path(profile)
            %td= profile.user.preferred_name
            %td= profile.user.region
            %td= profile.team_status
            %td= profile.skills.map {|tag|"##{tag}"}.join(' ')
