- content_for :title, @user.display_name
%main.profile_page
  %section.profile-header
    = image_tag @user.gravatar_url, class: "profile-picture"
      %div.profile-content
        %h2.name= yield :title
        %div.links
          %p.region
            %strong
              Region
            = @user.region
          %p.slack
            %strong
              Slack Handle
            = @user.slack
        - if @profile.team_status.present?
          %strong
            Team Status
          = @profile.team_status
        - if @team_name.present?
          %p
            %strong
              Team Name
            = @team_name
          %p
            %strong
              Region
            = @user.region
          %p
            %strong
              Website
            = @profile.website
          %p
            %strong
              linkedin
            = @profile.linkedin
          %p
            %strong
              Description
            = @profile.description
        - if user_signed_in? && @profile == current_user.profile
        = link_to 'Edit Profile', edit_profile_path(@profile)
  %hr.grey-border
  %section.profile-skills
    %h2
      %strong
        Skills
      = @profile.skills.map {|tag|"##{tag}"}.join(' ')
  %section.profile-interests
    %p
      %strong
        Skills
      = @profile.skills.map {|tag|"##{tag}"}.join(' ')
    %h2
      %strong
        Interests
      = @profile.interests.map {|tag|"##{tag}"}.join(' ')
  %section.profile-badges
    %h3 Badges
  - @badges.each do |badge|
    %p
      %strong
        = badge.name
    - if badge.art.attached?
      = image_tag(url_for(badge.art), alt: 'GovHack Badge Art')
    - else
      = image_tag "default_profile_pic.png"
  %section.profile-footer
    %button.black-button= link_to 'Back to Profiles', profiles_path
