- content_for :title, @user.display_name
%main.project_index
  %h2= yield :title
  - if user_signed_in? && @profile == current_user.profile
    = link_to 'Edit Profile', edit_profile_path(@profile)
  = image_tag @user.gravatar_url, class: "profile-picture"
  - if @profile.team_status.present?
    %strong
      Team Status
    = @profile.team_status
  - if @team_name.present?
    %p
      %strong
        Team Name
      = @team_name
  %p
    %strong
      Region
    = @user.region
  %p
    %strong
      Website
    = @profile.website
  %p
    %strong
      Twitter
    = @profile.twitter
  %p
    %strong
      linkedin
    = @profile.linkedin
  %p
    %strong
      Description
    = @profile.description
  %p
    %strong
      Skills
    = @profile.skills.map {|tag|"##{tag}"}.join(' ')
  %p
    %strong
      Interests
    = @profile.interests.map {|tag|"##{tag}"}.join(' ')
  %h3 Badges
  - @badges.each do |badge|
    %p
      %strong
        = badge.name
    - if badge.art.attached?
      = image_tag(url_for(badge.art), alt: 'GovHack Badge Art')
    - else
      = image_tag "default_profile_pic.png"

= link_to 'Back to Profiles', profiles_path
