<%= form_for [@project, @scorecard] do |f| %>
  <% current_scorecard = @scorecard %>
  <% @judgments.each do |judgment| %>
    <% if challenge_title_required?(judgment) %>
      <h3><%= @challenge_scorecard.judgeable.challenge.name %></h3>
      <p class="justification"><strong>Justification</strong>:<br /> <em><%= @challenge_scorecard.judgeable.justification %></em></p>
    <% end %>
    <%= fields_for "judgments[]", judgment do |judgment_form| %>
    <div class="field">
	    <div>
      <%= judgment_form.label :score, judgment.criterion.name %><br /><em><%= judgment.criterion.description %></em>
	    </div>
      <%= judgment_form.number_field(:score, { value: judgment.score, in: MIN_SCORE..MAX_SCORE, step: 1 }) %>
    </div>
    <% end %>
  <% end %>
  <div class="actions">
  <%= f.submit 'Save Scorecard' %>
  </div>
<% end %>

<%= javascript_tag 'window.addEventListener("unload", function(event) { window.opener.location.reload();})' %>