= form_for [@project, @header], url: project_scorecard_path(@project, @header) do |f|
  - current_header = @header
  - @scores.each do |score|
    - if challenge_title_required?(score)
      %h3= @challenge_header.scoreable.challenge.name
      %p.justification
        %strong> Justification
        \:
        %br/
        %em= @challenge_header.scoreable.justification
    = fields_for "scores[]", score do |score_form|
      .field
        %div
          = score_form.label :entry, score.criterion.name
          %br/
          %em= score.criterion.description
        = score_form.number_field(:entry, { value: score.entry, in: MIN_SCORE..MAX_SCORE, step: 1 })
  .actions
    = f.submit 'Save Scorecard'
= javascript_tag 'window.addEventListener("unload", function(event) { window.opener.location.reload();})'
