<%= form_for [@project, @scorecard] do |f| %>
  <% current_scorecard = @scorecard %>
  <% @judgments.each do |judgment| %>
    <% if challenge_title_required?(judgment) %>
      <h3><%= @challenge_scorecard.judgeable.challenge.name %></h3>
    <% end %>
    <%= fields_for "judgments[]", judgment do |judgment_form| %>
      <%= judgment_form.label :score, judgment.criterion.name %>
      <%= judgment_form.number_field(:score, { value: judgment.score, in: MIN_SCORE..MAX_SCORE, step: 1 }) %></br>
    <% end %>
  <% end %>
  <%= f.submit 'Save Scorecard' %>
<% end %>
