<% content_for :title, 'Edit Scorecard' %>
<main class="scorecard">
  <h2>
    <%= yield :title %>
  </h2>
  <%= render 'form' %>
  <% @headers.each do |header| %>
    <% if header.type == PROJECT %>
      <h3>Project Score</h3>
    <% else %>
      <h3>
        <%= header.scoreable.challenge.name %>
      </h3>
    <% end %>
    <div class="score-display">
      <p>Total Score</p>
      <% if header.display_score.is_a? Integer %>
        <% score_value = ((header.display_score.to_f / (header.max_score).to_f) * 100).to_i %>
        <% rgb_g =  (255 * score_value) / 100 %>
        <% rgb_r =  (255 * (100 - score_value)) / 100 %>
        <p style="background-color: rgb(<%= rgb_r %>,<%= rgb_g %>,0); color: white;">
          <%= score_value %>
          \%
        </p>
      <% else %>
        <p>
          <%= header.display_score %>
        </p>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Close', project_path(@project.identifier), id: 'close-scorecard' %>
</main>
