<% content_for :title, title %>
<h2 class="index-header"><%= full_title %></h2>
<h3 class="index-header">
  <span style="text-decoration: <%= 'underline' if params[:action] == catalogue_action %>;">
    <%= link_to 'Catalogue', catalogue_path, class: 'dataset_nav' %>
  </span>
  |
  <span style="text-decoration: <%= 'underline' if params[:action] == table_action %>;">
    <%= link_to 'Table', table_path, class: 'dataset_nav' %>
  </span>
</h3>
