= form_for [:admin, @competition, @checkpoint] do |form|
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :end_time
    = form.datetime_local_field :end_time
  .field
    = form.label :max_national_challenges
    = form.number_field :max_national_challenges, { value: @checkpoint.max_national_challenges, min: MIN_CHALLENGE_ENTRY, step: 1 }
  .field
    = form.label :max_regional_challenges
    = form.number_field :max_regional_challenges, { value: @checkpoint.max_regional_challenges, min: MIN_CHALLENGE_ENTRY, step: 1 }
  .actions
    = form.submit
