<main class="team_page">
  <h2>Checkpoints for Competition <%= @competition.year %></h2>

  <% if @checkpoints.present? %>
    <% @checkpoints.order(end_time: :asc).each do |checkpoint| %>
      <h3><%= checkpoint.name %></h3>
      <p>End Time: <%= checkpoint.end_time %></p>
      <p><em>Max number of challenges a team can enter for this challenge...</em></p>
      <p>National Challenges: <%= checkpoint.max_national_challenges %></p>
      <p>Regional Challenges: <%= checkpoint.max_regional_challenges %></p>
      <p><%= link_to 'Update Checkpoint', edit_admin_competition_checkpoint_path(@competition, checkpoint) %></p>
    <% end %>
  <% else %>
    <p>The Competition does not currently have any checkpoints set.</p>
  <% end %>

  <p><%= link_to 'Add New Checkpoint', new_admin_competition_checkpoint_path(@competition) %></p>
  <p><%= link_to 'Back to Competition', admin_competition_path(@competition) %></p>
</main>
