<main class="team_page">

<h2>Team Members</h2>

<h3>Team Leader</h3>
<section>
<% if (team_leader = @team.team_leader).present? %>
  <%= render 'users/user_contact', locals: { user: team_leader } %>
<% else %>
  <strong>No team leader assigned for this team.</strong>
<% end %>
</section>
<% if (team_members = @team.team_members).present? %>
  <h3>Team Members</h3>
  <% team_members.each do |team_member| %>
  <section>
    <%= render 'users/user_contact', locals: { user: team_member } %>
    <% if team_member == current_user %>
      <% assignment = Assignment.find_by(assignable: @team, user: current_user) %>
      <%= link_to 'Leave Team', users_membership_path(assignment),
      method: :delete, data: { confirm: 'Are you sure?' } %>
    <% elsif @team.team_leader == current_user || team_leader.nil? %>
      <% assignment = Assignment.find_by(assignable: @team, user: team_member) %>
      <%= link_to 'Make Team Leader', team_management_team_assignment_path(@team, assignment, title: TEAM_LEADER), method: :patch %>
    <% end %>
  </section>
  <% end %>
<% end %>

<% if (invitees = @team.invitees).present? %>
  <h3>Invitees</h3>
  <% invitees.each do |invitee| %>
    <%= render 'users/user_contact', locals: { user: invitee } %>
    <% assignment = Assignment.find_by(assignable: @team, user: invitee) %>
    <%= link_to 'Remove Invitee', team_management_team_assignment_path(@team, assignment),
     method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<% if @team.assignments.count < MAX_TEAM_SIZE %>
  <p><%= link_to 'Add Team Members', new_team_management_team_assignment_path(@team, title: INVITEE) %></p>
<% else %>
  <div>You have reached the maximum team size of <%= MAX_TEAM_SIZE %></div>
<% end %>

<p><%= link_to 'Back to Team', team_management_team_path(@team) %></p>
  </main>
