<% content_for :title, "Add New Team Member to #{@team.name}" %>
<main class="team_page">
  <section>
    <h2>
      <%= yield :title %>
    </h2>
    <section>
      <%= form_tag(new_team_management_team_assignment_path, method: :get) do %>
        <%= search_field_tag :term, params[:term] %>
        <%= hidden_field_tag(:title, @title) %>
        <%= submit_tag 'Search' %>
      <% end %>
      <p>
        <%= link_to 'Clear Search', new_team_management_team_assignment_path(@team, title: INVITEE) %>
      </p>
    </section>
    <% if @user.present? %>
      <section>
        <%= render 'users/user_contact', locals: { user: @user } %>
        <% if @participating_events.empty? %>
          <p>
            <strong>This participant is not registered for a competition event.</strong>
          </p>
        <% elsif @existing_assignment.present? %>
          <p>
            <%= "Assignment for #{@user.display_name} to #{@team.name} as #{@existing_assignment.title} already exists." %>
          </p>
        <% else %>
          <p>
            <%= link_to "Add #{@user.display_name} to #{@team.name}",
            team_management_team_assignments_path(@team, assignment: { user_id: @user.id }), method: :post %>
          </p>
        <% end %>
      </section>
    <% elsif @users.present? %>
      <section>
        <% @users.each do |user| %>
          <%= render 'shared/user_public_contact', locals: { user: user } %>
          <p>
            <%= link_to 'Select', new_team_management_team_assignment_path(@team, title: @title, term: user.id) %>
          </p>
        <% end %>
      </section>
    <% elsif params[:term].present? %>
      <section>
        <p>
          Apologies, no name matching search term '<%= params[:term] %>'
        </p>
      </section>
    <% else %>
      <section>
        <p>Please enter a name or email address to search for a participant.</p>
      </section>
    <% end %>
    <div class="links">
      <p>
        <%= link_to 'Back to Team Assignments', team_management_team_assignments_path(@team) %>
      </p>
    </div>
  </section>
</main>
