<main class="team_page">
  <h2>Events</h2>

  <h3>Connection Events</h3>

  <p><%= pluralize @connections_registrations.count, 'attending registration' %>.</p>

  <% @connections.each do |event| %>
    <%= render 'admin/regions/events/event_single', locals: { event: event } %>
  <% end %>

  <h3>Competition Events</h3>

  <p><%= pluralize @competition_registrations.count, 'attending registration' %>.</p>

  <% @competition_events.each do |event| %>
    <%= render 'admin/regions/events/event_single', locals: { event: event } %>
  <% end %>

  <h3>Award Events</h3>

  <p><%= pluralize @award_registrations.count, 'attending registration' %>.</p>

  <% @award_events.each do |event| %>
    <%= render 'admin/regions/events/event_single', locals: { event: event } %>
  <% end %>
  <p><%= link_to "Back", :back %></p>
</main>
