<h2><%= @event.name %> Event</h2>

<h3>Event Information</h3>

Region: <%= @event.region.name %><br>
Event Category: <%= @event.category_type %><br>
Registration Type: <%= @event.registration_type %><br>

<%= link_to "Edit #{@event.name} Event", edit_admin_region_event_path(@event.region, @event) %><br>
<%= link_to 'Go to Event Page', event_path(@event) %><br>

<h3>Event Assignments</h3>

<h4>Event Host</h4>

<% if (host = @event.host).present? %>
  <%= render 'admin/shared/user_contact', locals: { user: host } %>
<% else %>
  This event does not currently have a host.<br>
  <%= link_to "New #{EVENT_HOST} Assignment", new_admin_event_assignment_path(@event, title: EVENT_HOST) %><br>
<% end %>

<h4>Event Support</h4>

<%= pluralize @event.supports.count, 'event support' %> currently assigned to event.<br>

<%= link_to "Manage #{@event.name} Assignments", admin_event_assignments_path(@event) %>

<h3>Event Registrations</h3>

<%= pluralize @event.registrations.where(status: INTENDING).count, 'guest' %> attending.<br>
<%= pluralize @event.registrations.where(status: NON_ATTENDING).count, 'guest' %> registered not attending.<br>
<%= pluralize @event.registrations.where(status: PENDING).count, 'guest' %> yet to respond.<br>

<%= link_to "Manage #{@event.name} Registrations", admin_event_registrations_path(@event) %>

<h3>Event Partner</h3>

<% if (event_partner = @event.event_partner).present? %>
  <%= render 'admin/sponsors/sponsor', locals: { sponsor: event_partner.sponsor } %>
<% else %>
  <%= link_to 'Add Event Partner', new_admin_event_event_partner_path(@event) %><br>
<% end %>

<%= link_to "Go back to #{@event.region.name} region", admin_region_path(@event.region) %>
