<h2><%= @event.name %> Event</h2>

<h3>Event Information</h3>

Region: <%= @event.region.name %><br>
Event Category: <%= @event.event_type %><br>
Registration Type: <%= @event.registration_type %><br>
Event Capacity: <%= @event.capacity %><br>

<%= link_to "Edit #{@event.name} Event", edit_admin_region_event_path(@event.region, @event) %><br>

<h3>Event Assignments</h3>

<h4>Event Host</h4>

<% if (host = @event.host_user).present? %>
  <%= render 'admin/shared/user_contact', locals: { user: host } %>
<% else %>
  This event does not currently have a host.<br>
  <%= link_to "New #{EVENT_HOST} Assignment", new_admin_event_assignment_path(@event, title: EVENT_HOST) %><br>
<% end %>

<h4>Event Support</h4>

<%= pluralize @event.support_users.count, 'event support' %> currently assigned to event.<br>

<%= link_to "Manage #{@event.name} Assignments", admin_event_assignments_path(@event) %>

<h3>Event Registrations</h3>

<% if @event.at_capacity? %>
  <strong>This event is at capacity</strong><br>
  All future participant registrations will be added to the waiting list.<br>
<% end %>

<%= pluralize @event.registrations.where(status: ATTENDING).count, 'guest' %> attending
(<%= pluralize @event.attending_participants_count, 'participant' %> and
<%= pluralize @event.registration_assignments.where(title: VIP).count, 'vip' %>).<br>
<% if @event.waitlist? %>
  <%= pluralize @event.registrations.where(status: WAITLIST).count, 'participant' %> on the wait list.<br>
<% end %>
<%= pluralize @event.registrations.where(status: NON_ATTENDING).count, 'guest' %> registered not attending.<br>

<%= link_to "Manage #{@event.name} Registrations", admin_event_registrations_path(@event) %>

<h3>Event Partner</h3>

<% if (event_partnership = @event.event_partnership).present? %>
  <%= render 'admin/sponsors/sponsor', locals: { sponsor: event_partnership.sponsor } %>
<% else %>
  <%= link_to 'Add Event Partner', new_admin_event_event_partnership_path(@event) %><br>
<% end %>

<%= link_to 'Go to Event Page', event_path(@event.identifier) %><br>
<%= link_to "Go back to #{@event.region.name} region", admin_region_path(@event.region) %>
