<% content_for :title, 'Update Email and Password' %>
<main class="registration change-email-password">
  <container>
    <section class="signup-form">
      <h2 class="heading">Update Email and Password</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div class="form-group">
          <%= f.label :email %>
          <br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <% if @minimum_password_length %>
            <small>
              <%= @minimum_password_length %>
              characters minimum
            </small>
          <% end %>
          <br/>
          <small>leave blank if you don't want to change it</small>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          <small>we need your current password to confirm your changes.</small>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: 'blue' %>
        </div>
      <% end %>
      <div class="links">
        <p>
          <%= link_to 'Back to Account Management', manage_account_path %>
        </p>
      </div>
    </section>
    <hr/>
    <section class="signup-form">
      <h3>Cancel my account</h3>
      <p>Unhappy?</p>
      <div class="actions">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'black'%>
      </div>
    </section>
  </container>
</main>
