<main class="registration single-col change-email-password">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<section>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
	  <div>
    <%= f.label :password %> <em>(leave blank if you don't want to change it)</em><br />
    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
	  </div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <div><%= f.label :current_password %> <br /><em>(we need your current password to confirm your changes)</em></div>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</section>
<%= link_to "Back", :back %>
<hr>
<aside>
<h3>Cancel my account</h3>

<p>Unhappy?</p>
<div class="actions"> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>

</aside>
<%= link_to "Back", :back %>
</main>
