<% content_for :title, 'Sign Up' %>
<main class="registration signup">
  <container>
    <section class="signup-form">
      <h2 class="heading">Register for GovHack <%= @competition.year %></h2>
      <%= render 'components/registration_status', page: 'sign_up' %>
      <div class="google-oath">
        <%= link_to (render "devise/shared/google", locals: { google_label: 'Sign up with Google' }), user_google_omniauth_authorize_path, method: :post %>
        <hr class="grey-border">
        <p class="alt-text">or register below</p>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div class="form-group">
          <%= f.label :email %>
          <div class="email-wrapper">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <div class="password-wrapper">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password-field' %>
            <span class="toggle-password" onclick="togglePasswordVisibility()">
              <i class="fa fa-eye" id="toggle-password-icon"></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <div class="password-confirm-wrapper">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'password-confirm-field' %>            
            <span class="toggle-password" onclick="togglePasswordConfirmVisibility()">
              <i class="fa fa-eye" id="toggle-password-confirm-icon"></i>
            </span>
          </div>
        </div>
        <%= invisible_captcha %>
        <div class="actions">
          <%= f.submit "Sign Up" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </section>
    <section class="rhs-image">
    </section>
  </container>
</main>
