%table
  %thead
    %th Project
    %th Team
    %th Location
    %th Scorecard Count
    %th Mean
    %th Mode
    %th Median
    %th Standard Deviation
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to "#{project.project_name}", project_path(project.identifier)
        %td= project.team_name
        %td= project.event.name
        - scores = @region_helper[project.team_id][:scores]
        - total_card_count = @region_helper[project.team_id][:total_card_count]
        - if total_card_count == 0
          %td No Scores for this Team Project Recorded
        - else
          %td
            = link_to "#{scores.count}/#{total_card_count}",                   |
              admin_team_scorecards_path(project.team_id,                      |
              popup: true, include_judges: params[:include_judges]),           |
              {                                                                |
                class: 'open-team-scorecards',                                 |
                data: {                                                        |
                  id: project.team_id,                                         |
                  include_judges: params[:include_judges]                      |
                }                                                              |
              }                                                                |
            - unless scores.empty?
              - scores.extend(DescriptiveStatistics)
              - mean_score = ((scores.mean / MAX_SCORE.to_f) * 100).to_i
              = render 'challenges/judging_cell', locals: { total: mean_score }
              - mode_score = ((scores.mode / MAX_SCORE.to_f) * 100).to_i
              = render 'challenges/judging_cell', locals: { total: mode_score }
              - median_score = ((scores.median / MAX_SCORE.to_f) * 100).to_i
              = render 'challenges/judging_cell', locals: { total: median_score }
              %td= scores.standard_deviation
= javascript_tag "window._admin_teams_path = '#{admin_competition_teams_path(@competition)}';"
