%table#projects_table
  %tr
    %th Challenges
    - @region_names.each do |region_name|
      %th= region_name
    %th Total Entries
  - @challenge_names.each do |challenge_name|
    %tr
      %th= challenge_name
      - @region_names.each do |region_name|
        %td= @region_counts[challenge_name][region_name]
      %td= @region_counts[challenge_name][:total_entries]
= javascript_tag  "window._region_counts = #{@region_counts.to_json}"
