- content_for :title, 'Stats'
%main.entries_page
  - if @competition.started?
    %h2 Challenge Entry Counts for #{@competition.name}
    %h3= @root_region.name
    = render 'national_challenge_entries'
    %section
      - @sub_regions.each do |region|
        %h3= region.name
        - event_counts = challenges_event_counts(region, @competition.passed_checkpoint_ids(region.time_zone))
        - event_names = region.events.competitions.order(:name).pluck(:name)
        - challenge_names = region.challenges.order(:name).pluck(:name)
        %table
          %tr
            %th Challenges
            - event_names.each do |event_name|
              %th= event_name
            %th Total Entries
          - challenge_names.each do |challenge_name|
            %tr
              %th= challenge_name
              - event_names.each do |event_name|
                %td= event_counts[challenge_name][event_name]
              %td= event_counts[challenge_name][:total_entries]
  - else
    %h2 Challenge Entries for #{@competition.name}
    %section.later
      %p
        %strong
          Check back here at the commencement of the competition at #{@competition.start_time.strftime("%I.%M %p %e %B %Y")}
