<h2>Entries for <%= @challenge.name %> Challenge</h2>

<%= form_tag challenge_entries_path(@challenge), method: :get do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>
<%= link_to 'Clear Search', challenge_entries_path(@challenge) %></br>

<% passed_competition_checkpoints.each do |checkpoint| %>

  <% if (teams = filter_challenge_teams(checkpoint, params[:term])).present? %>

    <h3><%= checkpoint.name %> Checkpoint</h3>

    <% teams.each do |team| %>
      <h4><%= team.name %></h4>
      <%= link_to 'Go to Team', team_path(team) %><br>
    <% end %>

  <% end %>

<% end %>

<%= link_to 'Back to Challenge', challenge_path(@challenge) %>
