<main class="entries_page">
  <h2>National Challenge Entry Counts for <%= @competition.name %></h2>
  <%= render 'national_challenge_entries' %>
  <section>
    <% @sub_regions.each do |region| %>
      <h3>Regional Challenge Entry Counts for <%= region.name %> </h3>
      <% event_counts = challenges_event_counts(region, @competition.passed_checkpoint_ids(region.time_zone)) %>
      <% event_names = @competition.events.where(event_type: COMPETITION_EVENT, region: region).order(:name).pluck(:name) %>
      <% challenge_names = region.challenges.order(:name).pluck(:name) %>
      <table>
        <tr>
          <th>Challenges</th>
          <% event_names.each do |event_name| %>
            <th><%= event_name %></th>
          <% end %>
          <th>Total Entries</th>
        </tr>
        <% challenge_names.each do |challenge_name| %>
          <tr>
            <th><%= challenge_name %></th>
            <% event_names.each do |event_name| %>
              <td><%= event_counts[challenge_name][event_name] %></td>
            <% end %>
            <td><%= event_counts[challenge_name][:total_entries] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </section>
</main>
