<%= form_for [:team_management, @team, @entry] do |form| %>
  <div class="field">
    <%= form.label :checkpoint_id %>
    <%= form.select :checkpoint_id, options_from_collection_for_select(@checkpoints, :id, :name, @entry.checkpoint_id.to_s) %>
  </div>
  <p style="text-align: center;">
    Please justify why your project is eligible for this challenge with a
    short description.
  </p>
  <p style="text-align: center;">
    <strong>
      This will need to be completed by the end of the Competition.
    </strong>
  </p>
  <div class="field">
    <%= form.label :justification %>
    <%= form.text_area :justification %>
  </div>
  <div class="actions">
    <%= form.hidden_field(:challenge_id, value: @challenge.id) %>
    <%= form.submit %>
  </div>
<% end %>
