- content_for :title, 'Challenge Entries'
%main.team_page
  %h2
    = @team.name
    = yield :title
  - @checkpoints.each do |checkpoint|
    - national_challenges = @team.national_challenges(checkpoint)
    %p= "#{national_challenges.count} of #{pluralize checkpoint.max_national(@region), 'national challenge'} entered"
    - national_challenges.each do |challenge|
      = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
    - regional_challenges = @team.regional_challenges(checkpoint)
    %p= "#{regional_challenges.count} of #{pluralize checkpoint.max_regional(@region), 'regional challenge'} entered"
    - regional_challenges.each do |challenge|
      = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
= link_to 'Back to Team', team_management_team_path(@team)
