<% content_for :title, 'Challenge Entries' %>
<main class="team_page">
  <section>
    <h2>
      <%= @team.name %>
      <%= yield :title %>
    </h2>
    <% unless @team.entries.exists? %>
      <p>You're team has not entered any challenges yet.</p>
    <% end %>
    <% @checkpoints.each do |checkpoint| %>
      <% @team.national_challenges(checkpoint).each do |challenge| %>
        <%= render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge } %>
      <% end %>
      <% @team.regional_challenges(checkpoint).each do |challenge| %>
        <%= render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge } %>
      <% end %>
    <% end %>
    <div class="links">
      <%= link_to 'Back to Team', team_management_team_path(@team) %>
    </div>
  </section>
</main>
