- content_for :title, 'Challenge Entries'
%main.team_page
  %h2
    = @team.name
    = yield :title
  - @checkpoints.each do |checkpoint|
    - @team.national_challenges(checkpoint).each do |challenge|
      = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
    - @team.regional_challenges(checkpoint).each do |challenge|
      = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
= link_to 'Back to Team', team_management_team_path(@team)
