<main class="team_page">
<h2><%= @team.name %> Challenge Entries</h2>

<% @checkpoints.each do |checkpoint| %>

  <h3><%= checkpoint.name %> Checkpoint</h3>

  <% national_challenges = @team.national_challenges(checkpoint) %>
  <h4>National Challenges</h4>
  <%= "#{national_challenges.count} of #{pluralize checkpoint.max_national_challenges, 'national challenge'} entered" %><br>
  <% national_challenges.each do |challenge| %>
    <%= render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge } %>
  <% end %>

  <% regional_challenges = @team.regional_challenges(checkpoint) %>
  <h4>Regional Challenges</h4>
  <%= "#{regional_challenges.count} of #{pluralize checkpoint.max_regional_challenges, 'regional challenge'} entered" %><br>
  <% regional_challenges.each do |challenge| %>
    <%= render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge } %>
  <% end %>
<% end %>

<%= link_to 'Back to Team', team_management_team_path(@team) %>
</main>
