- content_for :title, 'Challenge Entries'
%main.team_page
  %h2
    = @team.name
    = yield :title
  - @checkpoints.each do |checkpoint|
    %h3
      = checkpoint.name
      Checkpoint
    - national_challenges = @team.national_challenges(checkpoint)
    %h4 National Challenges
    = "#{national_challenges.count} of #{pluralize checkpoint.max_national_challenges, 'national challenge'} entered"
    %br/
    - national_challenges.each do |challenge|
      = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
    - regional_challenges = @team.regional_challenges(checkpoint)
    %h4 Regional Challenges
    = "#{regional_challenges.count} of #{pluralize checkpoint.max_regional_challenges, 'regional challenge'} entered"
    %br/
    - regional_challenges.each do |challenge|
      = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
= link_to 'Back to Team', team_management_team_path(@team)
