<h2>Create New Data Set for <%= @challenge.name %></h2>

<%= form_tag(new_admin_challenge_challenge_data_set_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @data_set.present? %>

  <p>Data Set: <%= @data_set.name %></p>
  <p>Data URL: <%= @data_set.url %></p>
  <% unless @existing_challenge_data_set.present? %>

    <p><%= link_to "Create new Challenge Data Set with #{@data_set.name}", admin_challenge_challenge_data_sets_path(@challenge), params: { challenge_data_set: { data_set_id: @data_set.id } } %></p>

  <% else %>

    <p>Challenge Data Set <%= @data_set.name %> to <%= @challenge.name %> already exists.</p>

  <% end %>

<% elsif @data_sets.present? %>

  <% @data_sets.each do |data_set| %>
    <p>Data Set: <%= data_set.name %></p>
    <p>Data URL: <%= data_set.url %></p>
    <p><%= link_to 'Select', new_admin_challenge_challenge_data_set_path(@challenge, term: data_set.url) %></p>
  <% end %>

<% elsif params[:term].present? %>

  <p>No data set name matching search term '<%= params[:term] %>'</p>

<% else %>

  <p>Please enter a data set name above.</p>

<% end %>

<p><%= link_to "Back to #{@challenge.name}", admin_region_challenge_path(@challenge.region, @challenge) %></p>
