<h2>Create a New Team Project to participate in <%= @event.name %></h2>

<%= form_for [@event, @team_project] do |f| %>

    <%= f.fields_for :team_project_versions do |team_project_version_form| %>
      <%= team_project_version_form.label :team_name %>
      <%= team_project_version_form.text_field :team_name %><br>

      <%= team_project_version_form.label :description %>
      <%= team_project_version_form.text_field :description %><br>

      <%= team_project_version_form.label :data_story %>
      <%= team_project_version_form.text_field :data_story %><br>

      <%= team_project_version_form.label :source_code_url %>
      <%= team_project_version_form.text_field :source_code_url %><br>

      <%= team_project_version_form.label :video_url %>
      <%= team_project_version_form.text_field :video_url %><br>

      <%= team_project_version_form.label :homepage_url %>
      <%= team_project_version_form.text_field :homepage_url %><br>
    <% end %>

    <%= f.submit %>
<% end %>
