= form_for [:admin, @competition, @badge] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :capacity
    = f.number_field :capacity
  .form-group
    = f.file_field :art, accept: 'image/png,image/gif,image/jpeg', class: 'form-control'
    - if @badge.art.attached?
      = image_tag url_for(@badge.art), alt: @badge.name
    - else
      = image_tag 'default_profile_pic.png'
  .actions
    = f.submit
