- content_for :title, "#{@competition.name} Badges"
%main.team_page
  %section
    %h2= yield :title
    = link_to 'New Badge', new_admin_competition_badge_path(@competition), class: 'download-csv'
    - if @badges.any?
      %table.projects-table#admin-badge{'data-turbolinks' => 'false'}
        %thead
          %th Name
          %th Capacity
          %th Image Saved?
          %th Claim Count
        %tbody
          - @badges.each do |badge|
            %tr
              %td= link_to "#{badge.name}", admin_competition_badge_path(@competition, badge)
              %td= badge.capacity
              %td= badge.art.attached?
              %td= badge.assignments.length
    - else
      %p No badges saved for the current competition.
    = link_to 'Back to Competition', admin_competition_path(@competition)
