<% content_for :title, "#{@badge.name} Badge" %>
<main class="team_page">
  <section>
    <h2>
      <%= yield :title %>
    </h2>
    <%= link_to 'edit badge', edit_admin_competition_badge_path(@competition, @badge), class: 'download-csv' %>
    <p>
      <strong>
        Name:
      </strong>
      <%= @badge.name %>
    </p>
    <p>
      <strong>
        Capacity:
      </strong>
      <%= @badge.capacity || '-' %>
    </p>
    <p>
      <%= link_to 'Delete Badge', admin_competition_badge_path(@competition, @badge), 
      method: :delete,                                                                          
      data: { confirm: 'Are you sure you want to delete this badge?...and its awards' } %>
    </p>
    <h3>Badge Claims</h3>
    <p><strong>❗Note: Awarding a badge will send an email notification to the recipient.</strong></p>
    <table class="projects-table" data-turbolinks="false" id="admin-badge-table">
      <thead>
        <th>Full Name</th>
        <th>Preferred Name</th>
        <th>Email</th>
        <th>Profile Identifier</th>
        <th>Award</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.full_name %>
            </td>
            <td>
              <%= user.preferred_name %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <% if (user.profile&.identifier).present? %>
                <%= link_to(user.profile.identifier, profile_path(user.profile)) %>
              <% else %>
                [none]
              <% end %>
            </td>
            <td>
              <% if @badge_assignments.find {|a| a.user_id == user.id }.present? %>
                Badge Awarded
              <% else %>
                <%= link_to 'Award Badge', award_admin_competition_badge_path(@competition, @badge,  assignment: { user_id: user.id }), method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back to Badges', admin_competition_badges_path(@competition) %>
  </section>
</main>
