- content_for :title, "#{@badge.name} Badge"
%main.team_page
  %h2= yield :title
  = link_to 'edit badge', edit_admin_competition_badge_path(@competition, @badge)
  %p
    %strong
      Name:
    = @badge.name
  %p
    %strong
      Capacity:
    = @badge.capacity || '-'
  %p
    %strong
      Badge Claim Link:
    = link_to "Claim #{@badge.name}", new_badge_claim_path(@badge)
  - if @badge.art.attached?
    = image_tag url_for(@badge.art), alt: @badge.name
  - else
    = image_tag 'default_profile_pic.png'
  %p= link_to 'Delete Badge', admin_competition_badge_path(@competition, @badge), |
    method: :delete,                                                                          |
    data: { confirm: 'Are you sure you want to delete this badge?' }
= link_to 'Back to Badges', admin_competition_badges_path(@competition)
