%main.registrations_list
  %h2
    Bulk Mail Order #{@bulk_mail.name} for #{@event.name}
  %p
    From Email: #{@bulk_mail.from_email}
  %p
    Subject: #{@bulk_mail.subject}
  %p
    Created At: #{@bulk_mail.created_at}
  %div
    %p &gt;&gt;&gt;&gt;
    = markdown(BulkMail.correspondence_body(@bulk_mail.body, @example_user, @example_project)) unless @bulk_mail.body.nil?
    %p &gt;&gt;&gt;&gt;
  - unless @bulk_mail.status == PROCESSED
    %p#edit= link_to 'Edit Bulk Mail', edit_admin_event_bulk_mail_path(@event, @bulk_mail)
    %p#configure
      Current Order: #{@user_order.request_type.nil? ? 'None Selected' : @user_order.request_type}
    = form_for [:admin, @bulk_mail, @user_order] do |form|
      = form.select(:request_type, options_for_select(USER_ORDER_QUERIES, @user_order.request_type))
      = form.submit 'Amend Order'
  %table#correspondences{'data-bulk-mail-id' => @bulk_mail.id}
    %tr
      %th Status
      %th Display Name
      %th Email Status
    - @registrations.each do |registration|
      - next unless registration.user.me_govhack_contact
      %tr
        %td= registration.status
        %td= registration.user.display_name
        - @participant_count += 1
        - if (correspondence = correspondence_with(registration.user.id)).present?
          %td= link_to correspondence.status, admin_bulk_mail_correspondence_path(@bulk_mail, correspondence)
        - else
          %td{'data-user-id' => registration.user.id}
  - if @bulk_mail.status == DRAFT && !@participant_count.zero?
    %p#process_mail= link_to "Process Mail Orders for #{ pluralize @participant_count, 'Participant'}", |
        '#', data: { confirm: "Are you sure?" }                                         |
= link_to 'Back to Bulk Mails', admin_event_bulk_mails_path(@event)
