<% content_for :title, "Bulk Mail Order #{@bulk_mail.name} for #{@event.name}" %>
<main class="registrations_list">
  <h2>
    <%= yield :title %>
  </h2>
  <p>
    From Email: <%= @bulk_mail.from_email %>
  </p>
  <p>
    Subject: <%= @bulk_mail.subject %>
  </p>
  <p>
    Created At: <%= @bulk_mail.created_at %>
  </p>
  <div>
    <p>&gt;&gt;&gt;&gt;</p>
    <%= markdown(BulkMail.correspondence_body(@bulk_mail.body, @example_user, @example_project)) unless @bulk_mail.body.nil? %>
    <p>&gt;&gt;&gt;&gt;</p>
  </div>
  <% unless @bulk_mail.status == PROCESSED %>
    <p id="edit">
      <%= link_to 'Edit Bulk Mail', edit_admin_event_bulk_mail_path(@event, @bulk_mail) %>
    </p>
    <p id="configure">
      Current Order: <%= @user_order.request_type.nil? ? 'None Selected' : @user_order.request_type %>
    </p>
    <%= form_for [:admin, @bulk_mail, @user_order] do |form| %>
      <%= form.select(:request_type, options_for_select(USER_ORDER_QUERIES, @user_order.request_type)) %>
      <%= form.submit 'Amend Order' %>
    <% end %>
  <% end %>
  <table class="projects-table" data-bulk-mail-id="<%= @bulk_mail.id %>" id="correspondences">
    <tr>
      <th>Status</th>
      <th>Display Name</th>
      <th>Email Status</th>
    </tr>
    <% @registrations.each do |registration| %>
      <% next unless registration.user.me_govhack_contact %>
      <tr>
        <td>
          <%= registration.status %>
        </td>
        <td>
          <%= registration.user.display_name %>
        </td>
        <% @participant_count += 1 %>
        <% if (correspondence = correspondence_with(registration.user.id)).present? %>
          <td>
            <%= link_to correspondence.status, admin_bulk_mail_correspondence_path(@bulk_mail, correspondence) %>
          </td>
        <% else %>
          <td data-user-id="<%= registration.user.id %>"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if @bulk_mail.status == DRAFT && !@participant_count.zero? %>
    <p id="process_mail">
      <%= link_to "Process Mail Orders for #{ pluralize @participant_count, 'Participant'}",
      '#', data: { confirm: "Are you sure?" }              %>
    </p>
  <% end %>
</main>
<%= link_to 'Back to Bulk Mails', admin_event_bulk_mails_path(@event) %>
