Hello Finance

The below participant has recently entered bank details.

Full Name: #{@user.full_name}
Email: #{@user.email}
BSB: #{@user.bsb}
Account Number: #{@user.acc_number}
Account Name: #{@user.acc_name}
Branch Name: #{@user.branch_name}
