<p>Hello Finance</p>
<p>The below participant has recently entered bank details.</p>
<p>
  Full Name: <%= @user.full_name %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  BSB: <%= @user.bsb %>
</p>
<p>
  Account Number: <%= @user.acc_number %>
</p>
<p>
  Account Name: <%= @user.acc_name %>
</p>
<p>
  Branch Name: <%= @user.branch_name %>
</p>
