<% start_day = @competition.start_time.day.ordinalize %>
<% end_day = @competition.end_time.day.ordinalize %>
<% start_weekday_name = @competition.start_time.strftime("%A") %>

<% start_month = @competition.start_time.strftime("%B") %>
<% end_month = @competition.end_time.strftime("%B") %>

<div class="event-info">
  <h4>Dates</h4>
  <p>
    <%= start_day %> <%= start_month unless start_month == end_month %> - <%= end_day %> <%= end_month %>
  </p>
</div>
<div class="event-info">
  <h4>Challenges Open</h4>
  <p>7pm <%= start_weekday_name %> <%= start_day %> <%= start_month %></p>
  <p>(Local Times)</p>
</div>
