<% start_day = @competition.start_time.day.ordinalize %>
<% end_day = @competition.end_time.day.ordinalize %>

<% start_month = @competition.start_time.strftime("%B") %>
<% end_month = @competition.end_time.strftime("%B") %>

<p>
  <em>GovHack</em>
  is an annual Open Data competition held across Australia. In <%= @competition.year %> it will be held on the weekend of
  <strong> <%= start_day%> <%= start_month == end_month ? "" : start_month %> - <%= end_day %> <%= end_month %></strong>
</p>
<p>In 46 hours teams create a project page, proof of concept and a video that tells the story of how government data can be reused.</p>
<p>
  Doors generally open at <%= @competition.start_time.strftime("%-I%p") %> local time <%= @competition.start_time.strftime("%A")%> <%= start_day %> <%= start_month%>
  <em>(confirm with event times below)</em>
</p>
<p>Some venues will keep the doors open all 46 hours! However good ideas need sleep, so many will close late and reopen in the morning.</p>
<p>
  <strong>Attending a GovHack event</strong>
</p>
<p>GovHack is a free event to attend for competitors.</p>
<p>GovHack events are recorded in video, audio and photographic form. By attending, you acknowledge and accept that you may be the subject of such recording and your image may be publicly displayed in connection to the event. We will seek to accommodate but cannot guarantee any specific wish not to be recorded or image displayed.</p>
<p>Node events may not have all the bells and whistles of an Official event. They are unique as they cater to our community groups with Youth, Makers or Special Interest themes.</p>
