<% content_for :title, 'Competition Events' %>
<main class="events_page">
  <section class="header">
    <h2>Competition Events</h2>
    <%= render 'competition_event_description' %>
  </section>
  <section>
    <%= render partial: 'events/event_collection', locals: { events: @future_locations, title: 'Upcoming Competition Events' } %>
    <%= render partial: 'events/event_collection', locals: { events: @future_remotes, title: "Upcoming Remote Kitchen Table Competition Events" } %>
    <%= render partial: 'events/event_collection', locals: { events: @past_competitions, title: 'Past Competition Events' } %>
    <p>
      <%= link_to 'All Events', events_path %>
    </p>
  </section>
  <main></main>
</main>
