<% content_for :title, "Datasets for #{@competition.name}" %>
<main class="dataset_page">
  <h2>
    <%= yield :title %>
  </h2>
  <% if @portals.present? %>
    <%= link_to 'Download CSV', datasets_path(format: 'csv'), class: 'download-csv' %>
    <table class="projects-table" data-turbolinks="false" id="dataset_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Dataset URL</th>
          <th>Jurisdiction</th>
        </tr>
      </thead>
      <tbody>
        <% @portals.each do |portal| %>
          <tr>
            <td>
              <%= link_to portal.dataset.name, dataset_path(portal) %>
            </td>
            <td>
              <%= markdown truncate(portal.dataset.description, length: 100, omission: '... ') %>
            </td>
            <td>
              <%= link_to portal.dataset.url, portal.dataset.url, class: 'dataseturl' %>
            </td>
            <td>
              <%= portal.portable.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      <strong>No Data Set Highlights saved for <%= @competition.name %> at this time.</strong>
    </p>
  <% end %>
</main>
<%= link_to 'Back to Resources', resources_path %>
