<% content_for :title, @dataset.name %>
<main class="project_index">
  <h2>
    <%= @dataset.name %>
  </h2>
  <p>
    Region: <%= @region.name %>
  </p>
  <p>
    Description: <%= @dataset.description %>
  </p>
  <p>
    <a href="<%= @dataset.url %>" target="_blank">URL</a>
  </p>
  <h3>
    Team Projects Utilising <%= @dataset.name %>
  </h3>
  <% if @competition.started? %>
    <% if @teams.any? %>
      <% @teams.each do |team| %>
        <h4>
          <%= "#{ team.current_project.team_name } - #{ team.current_project.project_name }" %>
        </h4>
        <p>
          <%= link_to 'Go to Team Project', project_path(team.current_project.identifier) %>
        </p>
      <% end %>
    <% else %>
      <p>No team projects utilising this dataset currently.</p>
    <% end %>
  <% else %>
    <p>
      Check back here at the start of the competition to see which team projects
      are utilising this dataset.
    </p>
  <% end %>
</main>
<p>
  <%= link_to 'Back to Datasets', datasets_path %>
</p>
