<% content_for :title, "GovHack #{@competition.year}" %>
<main class="competition_page">
  <h2>
    Welcome to GovHack <%= @competition.year %> Hackerspace
  </h2>
  <nav>
    <section>
      <% if @competition.year == 2021 %>
        <div>
          <%= link_to 'GovHack Handbook', 'https://govhack.org/howtocompete/handbook/', target: '_blank' %>
        </div>
      <% end %>
      <% if @competition.year == 2021 %>
        <div>
          <%= link_to '#lifehacks Photo Competition', 'https://govhack.org/lifehacks/', target: '_blank' %>
        </div>
      <% end %>
      <% if @competition.hunt_published %>
        <div>
          <%= link_to 'Treasure Hunt', treasure_hunt_path %>
        </div>
      <% end %>
      <% if @event_counts[CONFERENCE] %>
        <div>
          <%= link_to 'Conference', conference_index_path %>
        </div>
      <% end %>
      <% if @event_counts[CONNECTION_EVENT] %>
        <div>
          <%= link_to 'Connections Events', connections_path %>
        </div>
      <% end %>
      <% if @event_counts[COMPETITION_EVENT] %>
        <div>
          <%= link_to 'Competition Events', competition_events_path %>
        </div>
      <% end %>
      <% if @event_counts[AWARD_EVENT] %>
        <div>
          <%= link_to 'Awards Events', awards_path %>
        </div>
      <% end %>
      <% if @any_challenges %>
        <div>
          <%= link_to 'Challenges', challenges_path %>
        </div>
      <% end %>
      <% if @any_teams %>
        <div>
          <%= link_to 'Projects', projects_path %>
        </div>
      <% end %>
      <% if @competition.current %>
        <div>
          <%= link_to 'Resources', resources_path %>
        </div>
        <div>
          <%= link_to 'Competition Rules', 'https://govhack.org/howtocompete/competition-rules-and-code-of-conduct/', target: 'blank' %>
        </div>
      <% end %>
    </section>
  </nav>
</main>
