<main class="index_page">
	<h2>Welcome to GovHack <%= @competition.year %> Hackerspace</h2>
	<nav>
		<section>
			<% if @competition_events.present? %>
				<div><%= link_to 'Connection Events', connections_path %></div>
			<% end %>
			<% if @competition_events.present? %>
				<div><%= link_to 'Competition Events', competition_events_path %></div>
			<% end %>
			<% if @awards.present? %>
				<div><%= link_to 'Award Events', awards_path %></div>
			<% end %>
			<% if @challenges.present? %>
				<div><%= link_to 'Challenges', challenges_path %></div>
			<% end %>
			<% if @teams.present? %>
				<div><%= link_to 'Projects', projects_path %></div>
			<% end %>
			<% if @data_sets.present? %>
				<div><%= link_to 'Datasets', data_sets_path %></div>
			<% end %>
		</section>
	</nav>
</main>
