- content_for :title, "GovHack #{@competition.year}"
%main.competition_page
  %h2
    Welcome to GovHack #{@competition.year} Hackerspace
  %nav
    %section
      - if @event_counts[CONFERENCE]
        %div= link_to 'Conference', conference_index_path
      - if @event_counts[CONNECTION_EVENT]
        %div= link_to 'Connections Events', connections_path
      - if @event_counts[COMPETITION_EVENT]
        %div= link_to 'Competition Events', competition_events_path
      - if @event_counts[AWARD_EVENT]
        %div= link_to 'Awards Events', awards_path
      - if @any_challenges
        %div= link_to 'Challenges', challenges_path
      - if @any_teams
        %div= link_to 'Projects', projects_path
      - if @any_data_sets
        %div= link_to 'Datasets', data_sets_path
