<% content_for :title, "Visits for #{@competition.name}" %>
<main class="project_index">
  <h2>
    <%= yield :title %>
  </h2>
  <table class="projects-table" data-turbolinks="false" id="admin-visits-table">
    <thead>
      <th>Type</th>
      <th>Name</th>
      <th>Count</th>
    </thead>
    <tbody>
      <% @visit_counts.each do |(type, id), count| %>
        <% visitable = visitable(@visits, type, id) %>
        <tr>
          <td>
            <%= visitable_label visitable %>
          </td>
          <td>
            <%= link_to visitable.url, target: '_blank' do %>
              <%= visitable.name %>
            <% end %>
          </td>
          <td>
            <%= count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
<p>
  <%= link_to 'Back to Competition Management', admin_competition_path(@competition) %>
</p>
