<main class="project_index">
<h2>Participating Team Projects for Event <%= @event.name %></h2>

<%= form_tag event_teams_path(@event.identifier), method: :get do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>
<%= link_to 'Clear Search', event_teams_path(@event.identifier) %></br>

<table>
	<thead>
		<th>Project</th>
		<th>Team</th>
		<th>Location</th>
    <% if @judgeable_assignment.present? %>
      <th>Project Scorecard (/<%= @competition.score_total PROJECT %>)</th>
    <% end %>
	</thead>
	<tbody>
  <% filter_teams(@teams, params[:term]).each do |team| %>
  <tr>
    <% project = @id_teams_projects[team.id][:current_project] %>
    <% event = @id_teams_projects[team.id][:event] %>
    <td><%= link_to "#{project.project_name}", project_path(project.identifier) %></td>
    <td><%= project.team_name %></td>
    <td><%= event.name %></td>
    <% if @judgeable_assignment.present? %>
      <td><%= @project_judging[team.id][:display_score_status] %></td>
    <% end %>
  </tr>
  <% end %>
	</tbody>
</table>

<%= link_to "Back to #{@event.name}", event_path(@event.identifier) %>
</main>
