<main class="project_index">
<h2>Participating Team Projects for Event <%= @event.name %></h2>

<%= form_tag event_teams_path(@event.identifier), method: :get do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>
<%= link_to 'Clear Search', event_teams_path(@event.identifier) %></br>

<table>
	<thead>
		<th>Project</th>
		<th>Team</th>
    <% if @judgeable_assignment.present? %>
      <th>Project Scorecard</th>
    <% end %>
	</thead>
	<tbody>
  <% filter_projects(params[:term]).each do |project| %>
  <tr>
    <td><%= link_to "#{project.project_name}", project_path(project.identifier) %></td>
    <td><%= project.team_name %></td>
    <% if @judgeable_assignment.present? %>
      <% if @project_judging[team.id][:display_score_status].is_a? Integer %>
    		<% score_value = ((@project_judging[team.id][:display_score_status].to_f / (@competition.score_total PROJECT).to_f) * 100).to_i %>
			<% rgb_g =  (255 * score_value) / 100 %>
			<% rgb_r =  (255 * (100 - score_value)) / 100 %>
			<td style="background-color: rgb(<%= rgb_r %>,<%= rgb_g %>,0); color: white; text-align: center; font-weight: 700; font-size: 1.25;"><%= score_value %>%</td>
    	<% else %>
    		<td><%= @project_judging[team.id][:display_score_status] %></td>
    	<% end %>
    <% end %>
  </tr>
  <% end %>
	</tbody>
</table>

<%= link_to "Back to #{@event.name}", event_path(@event.identifier) %>
</main>
