- content_for :title, "Participating Teams for #{@event.name}"
%main.project_index
  %h2= yield :title
  %table#events_teams_table
    %thead
      %th Project
      %th Team
      - if show_peoples_choice_stuff?
        %th Project Scorecard
    %tbody
      - filter_projects(params[:term]).each do |project|
        %tr
          %td= link_to "#{project.project_name}", project_path(project.identifier)
          %td= project.team_name
          - if show_peoples_choice_stuff?
            - if (display_score = @project_judging[project.team_id][:display_score_status]).is_a? Integer
              - score_value = ((display_score.to_f / @project_judging_total.to_f) * 100).to_i
              = render 'challenges/judging_cell', locals: { total: score_value }
            - else
              %td= display_score
= link_to "Back to #{@event.name}", event_path(@event.identifier)
