<%= form_for current_user do |form| %>
  <div class="form-group">
    <%= form.label :bsb, 'BSB:' %>
    <%= form.text_field :bsb, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :acc_number, 'Account Number:' %>
    <%= form.text_field :acc_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :acc_name, 'Account Name:' %>
    <%= form.text_field :acc_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :branch_name, 'Branch Name:' %>
    <%= form.text_field :branch_name, class: 'form-control' %>
  </div>
  <%= hidden_field_tag :banking, true %>
  <div class="actions">
    <%= form.submit 'Update Banking Details' %>
  </div>
<% end %>
