= form_for current_user do |form|
  .field
    .select-profile
      .field
        = form.radio_button(:preferred_img, GOVHACK, options = {checked: GOVHACK == @user.preferred_img})
        .govhack-profile
          %div
            = form.label(:preferred_img, 'GovHack')
            - if @user.govhack_img.attached?
              %img{:alt => "GovHack Profile Picture", :src => "#{url_for(@user.govhack_img)}"}/
            - else
              = image_tag "default_profile_pic.png"
          .field
            = form.label :govhack_img, 'Upload a Profile Picture (only png/gif/jpeg/jpg)'
            %br/
            = form.file_field :govhack_img, accept: 'image/png,image/gif,image/jpeg'
            %br/
            = form.submit 'Upload Image'
            %br/
      .field
        = form.radio_button(:preferred_img, GOOGLE, options = {checked: GOOGLE == @user.preferred_img})
        %div
          = form.label(:preferred_img, 'Google')
          - if current_user.google_img.nil?
            -# TODO: remove once https://github.com/omniauth/omniauth/pull/809 is resolved
            = link_to 'Connect Google Account', user_google_omniauth_authorize_path, method: :post
          - else
            %img{:alt => "Google Profile Picture", :src => "#{@user.google_img}"}/
      .field
        = form.radio_button(:preferred_img, GRAVITAR, options = {checked: GRAVITAR == @user.preferred_img})
        %div
          = form.label(:preferred_img, 'Gravitar')
          = image_tag @user.gravatar_url
  .actions
    = hidden_field_tag(:profile_pic, true)
    = form.submit 'Update Details'
= link_to 'Back to Account Management', manage_account_path
