<%= form_for current_user do |form| %>
  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :preferred_name %>
    <%= form.text_field :preferred_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :organisation_name %>
    <%= form.text_field :organisation_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :phone_number %>
    <%= telephone_field(:user, :phone_number, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label :dietary_requirements %>
    <%= form.text_field :dietary_requirements, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :region %>
    <%= form.select :region, options_for_select(User.regions.keys, selected: @user.region) %>
  </div>
  <div class="form-group">
    <%= form.label :registration_type %>
    <%= form.select :registration_type, options_for_select(USER_REGISTRATION_TYPES, @user.registration_type) %>
  </div>
  <div class="custom-control custom-checkbox">
    <%= form.check_box :mailing_list, checked: @user.mailing_list, class:'custom-control-input' %>
    <%= form.label :mailing_list, class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-checkbox">
    <%= form.check_box :challenge_sponsor_contact_place, checked: @user.challenge_sponsor_contact_place, class:'custom-control-input' %>
    <%= form.label :challenge_sponsor_contact_place, class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-checkbox">
    <%= form.check_box :challenge_sponsor_contact_enter, checked: @user.challenge_sponsor_contact_enter, class:'custom-control-input' %>
    <%= form.label :challenge_sponsor_contact_enter, class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-checkbox">
    <%= form.check_box :my_project_sponsor_contact, checked: @user.my_project_sponsor_contact, class:'custom-control-input' %>
    <%= form.label :my_project_sponsor_contact, class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-checkbox">
    <%= form.check_box :me_govhack_contact, checked: @user.me_govhack_contact, class:'custom-control-input' %>
    <%= form.label :me_govhack_contact, class: 'custom-control-label' %>
  </div>
  <div class="actions">
    <%= form.submit 'Update Details' %>
  </div>
<% end %>
