- registration = locals[:registration]
- event = registration.event
- region = event.region
%div.content-wrapper
  %div.content-wrapper-content
    %h2 #{event.name} - #{region.name}
    - unless event.registration_type == CLOSED
      %h4 RSVP: #{registration.status}
  %div.content-wrapper-button
    - if registration.status == INVITED
      = link_to edit_event_registration_path(event.identifier, registration) do
        %button.content-black-button
          Respond to Invitation
    - if registration.category == GROUP_GOLDEN
      = link_to edit_event_registration_path(event.identifier, registration, task: GROUP_GOLDEN) do
        %button.content-black-button
          Transfer Group Golden Ticket to another team member
    - else
      = link_to event_registration_path(event.identifier, registration) do
        %button.content-blue-button
          View Registration
    = link_to event_path(event.identifier) do
      %button.content-red-button
        Go to Event Page
