- registration = locals[:registration]
- event = registration.event
- region = event.region
%h5 #{event.name} - #{region.name}
- unless event.registration_type == CLOSED
  %p You are registered as: #{registration.status}
  - if registration.status == INVITED
    %p= link_to 'Respond to Invitation', edit_event_registration_path(event.identifier, registration)
    - if registration.category == GROUP_GOLDEN
      %p= link_to 'Transfer Group Golden Ticket to another team member', edit_event_registration_path(event.identifier, registration, task: GROUP_GOLDEN)
  - else
    %p= link_to 'View Registration', event_registration_path(event.identifier, registration)
%p= link_to 'Go to Event Page', event_path(event.identifier)
