%main.registration.single-col.edit-account
  %container
    - if params[:banking].present?
      %section.signup-form
        %h2.heading Update Banking Details
        = render 'edit_banking'
        %div.links
          = link_to 'Back to Account Management', manage_account_path
    - else
      - content_for :title, 'Update Personal Details'
      %section.signup-form
        %h2.heading= yield :title
        = render 'full_form'
        %div.links
          = link_to 'Back to Account Management', manage_account_path
