%main.registration.single-col.edit-account
  - if params[:banking].present?
    %section
      %h2 Update Banking Details
    %section
      = render 'edit_banking'
      = link_to 'Back to Account Management', manage_account_path
  - else
    - content_for :title, 'Update Personal Details'
    %section
      %h2= yield :title
    %section
      = render 'full_form'
      %div.links
        = link_to 'Back to Account Management', manage_account_path
