<main class="registration single-col manage-account">

<h2>Manage Account</h2>

<section>
	<article>
<%= render 'user_profile_pic' %>

<%= render 'user_contact', locals: { user: @user } %>

<%= link_to 'Update Personal Details' , edit_personal_details_path %><br>
<%= link_to 'Change Email and Password' , edit_user_registration_path %><br>
</article>
</section>
<section>
	<article>
<h3>My Events</h3>

<% if (registrations = @user.event_assignment.registrations).present? %>

  <% @user.event_assignment.registrations.each do |registration| %>
    <% event = registration.event %>
    <% region = event.region %>
    <h4><%= event.name %> -  <%= region.name %></h4>

    You are registered as: <%= registration.status %><br>

    <%= link_to 'Go to Event Page', event_path(event.identifier) %><br>
    <%= link_to 'Update Registration', edit_event_registration_path(event.identifier, registration) %><br>
  <% end %>

<% else %>

  <div>You are not currently registered for any events.</div>
  <%= link_to 'Find events', events_path %>

<% end %>
    </article>
    </section>
</main>