- content_for :title, 'Manage Account'
%main.manage_account
  %section.profile-header
    = link_to profile_path(current_user.profile) do
      = image_tag(default_profile_picture_url(current_user, current_user.profile), class: "profile-picture")
    %h2.name= @user.display_name
  %hr.grey-border
  %section.profile-contents
    %div.manage-profile
      %article.left-menu
        %h3 Manage your profile
        = link_to update_personal_details_path do
          %button.red-button
            Update Personal Details
        = link_to edit_user_registration_path do
          %button.red-button
            Update Email and Password
        = link_to edit_profile_path(current_user.profile) do
          %button.red-button
            Update Profile
        = link_to update_profile_picture_path do
          %button.red-button
            Update Profile Picture
        - if @public_winning_entries
          = link_to update_personal_details_path(banking: true) do
            %button.red-button
              Update Banking Details
      %article.left-menu
        - if user_has_admin_privileges?
          %h3 Admin Settings
          = link_to admin_users_path do
            %button.black-button
              User Management
          = link_to admin_competitions_path do
            %button.black-button
              Competiton Management
        - if user_has_region_privileges?
          = link_to admin_competition_regions_path(@competition) do
            %button.black-button
              Region Management
        - if user_has_event_privileges?
          = link_to admin_competition_events_path(@competition) do
            %button.black-button
              Event Management
      %article.left-menu
        - if user_has_sponsor_privileges?
          %h3 Sponsor Management
          = link_to admin_competition_sponsors_path(@competition) do
            %button.blue-button
              Sponsor Management
          = link_to admin_competition_sponsorship_types_path(@competition) do
            %button.blue-button
              Sponsorship Type Management
        - if user_is_chief_judge?
          %h3 Competition Judging Criteria
          = link_to admin_competition_criteria_path(@competition) do
            %button.black-button
              Competiton Criteria Management
    %div.profile-events
      - if @sponsor_contact_assignments.present?
        %article
          %h2.section-heading My Sponsors
          - @sponsor_contact_assignments.each do |assignment|
            %div.content-wrapper
              %div.content-wrapper-content
                %h4 #{assignment.assignable.name}
              %div.content-wrapper-button
                = link_to sponsorship_management_sponsor_path(assignment.assignable) do
                  %button.content-black-button
                    Go to Sponsor
      - if @competition.in_challenge_judging_window?(LAST_TIME_ZONE) && @judging_assignments.present?
        %article
          %h2.section-heading Challenge Judging
          - @judging_assignments.each do |assignment|
            - challenge = assignment.assignable
            %div.content-wrapper
              %div.content-wrapper-content
                %h4= challenge.name
                %div.content-wrapper-button
                  = link_to challenge_path(challenge.identifier) do
                    %button.content-black-button
                      Go to Challenge
      %article
        %h2.section-heading My Events
        - if @registrations_present
          - if @connection_registrations.present?
            %section
              %h3.sub-heading Connection Events
              - @connection_registrations.each do |registration|
                = render 'registration_management', locals: { registration: registration }
          - if @conference_registrations.present?
            %section
              %h3.sub-heading Conference
              - @conference_registrations.each do |registration|
                = render 'registration_management', locals: { registration: registration }
          - if @competition_registrations.present?
            %section
              %h3.sub-heading Competition Events
              - @competition_registrations.each do |registration|
                = render 'registration_management', locals: { registration: registration }
          - if @award_registrations.present?
            %section
              %h3.sub-heading Award Events
              - @award_registrations.each do |registration|
                = render 'registration_management', locals: { registration: registration }
        - else
          %section
            %div.message
              %p.message-text You are not currently registered for any events.
              = link_to events_path do
                %button.message-button
                  Find more events
      %article
        %h2.section-heading My Team Projects
        - if @participating_competition_event
          = render 'my_projects'
        - if @competition.in_form_or_comp_window? LAST_TIME_ZONE
          = render 'my_invitations'
        - elsif @competition.in_form_or_comp_window? LAST_TIME_ZONE
          %section
            %div.message
              %p.message-text Join a Competition Event to create a team.
              = link_to competition_events_path do
                %button.message-button
                  Go to Competition Events
      %article
        %h2.section-heading My Favourite Projects
        %section
          - if @competition.started? && @favourite_teams.present?
            - @favourite_teams.each do |team|
              %div.content-wrapper
                %div.content-wrapper-content
                  %h2 #{team.current_project.team_name} - #{team.current_project.project_name}
                  %p Event: #{team.event.name}
                %div.content-wrapper-button
                  = link_to project_path(team.current_project.identifier) do
                    %button.content-blue-button
                      Go to Team Project
          - else
            %div
              %p.blank-message Projects that you favourite will appear here.
%main
