<h2>Manage Acccount</h2>

<%= @user.email %><br>
<%= @user.preferred_name %><br>
<%= @user.full_name %><br>

<%= link_to 'Update Personal Details' , edit_personal_details_path %><br>
<%= link_to 'Change Email and Password' , edit_user_registration_path %><br>
