<main class="registration single-col manage-account">

	<h2>Manage Account</h2>

	<section>
		<article>
			<% if false %>
				<%= render 'user_profile_pic'%>
				<p><%= link_to 'Change Profile Pic', update_personal_details_path(profile_pic: true) %></p>
			<% end %>
			<%= render 'user_contact', locals: { user: @user } %>
			<p><%= link_to 'Update Personal Details' , update_personal_details_path %></p>
			<p><%= link_to 'Change Email and Password' , edit_user_registration_path %></p>
			<% if @public_winning_entries %>
				<p><%= link_to 'Update Banking Details', update_personal_details_path(banking: true) %></p>
			<% end %>
		</article>
		<article>
			<% if user_has_admin_privilieges? %>
				<h3>Admin</h3>
				<p><%= link_to 'User Management', admin_users_path %></p>
				<p><%= link_to 'Competiton Management', admin_competitions_path %></p>
				<p><%= link_to 'Team Management', admin_teams_path %></p>
			<% end %>

			<% if user_has_event_privileges? %>
				<p><%= link_to 'Event Management', admin_events_path %></p>
			<% end %>

			<% if user_has_sponsor_privileges? %>
				<h3>Sponsor Managmement</h3>
				<p><%= link_to 'Sponsor Management', admin_sponsors_path %></p>
				<p><%= link_to 'Sponsorship Type Management', admin_sponsorship_types_path %></p>
			<% end %>

			<% if user_is_chief_judge? %>
				<h3>Competition Judging Criteria</h3>
				<p><%= link_to 'Competiton Criteria Management', admin_competition_criteria_path(@competition) %></p>
			<% end %>
		</article>
	</section>

	<section>
		<% if @sponsor_contact_assignments.present? %>
			<article>
				<h3>My Sponsors</h3>
				<% @sponsor_contact_assignments.each do |assignment| %>
					<h4><%= assignment.assignable.name %></h4>
					<%= link_to 'Go to Sponsor', sponsorship_management_sponsor_path(assignment.assignable) %>
				<% end %>
			</article>
		<% end %>

		<article>
			<h3>My Events</h3>

			<% if @registrations.present? %>

				<% @registrations.each do |registration| %>
					<h4><%= registration.event.name %> -  <%= registration.event.region.name %></h4>
					<% unless registration.event.registration_type == CLOSED %>
						<p>You are registered as: <%= registration.status %></p>
						<% if registration.status == INVITED %>
							<p><%= link_to 'Respond to Invitation', edit_event_registration_path(registration.event.identifier, registration) %></p>
							<% if registration.category == GROUP_GOLDEN %>
								<p><%= link_to 'Transfer Group Golden Ticket to another team member', edit_event_registration_path(registration.event.identifier, registration, task: GROUP_GOLDEN) %></p>
							<% end %>
						<% else %>
							<p><%= link_to 'View Registration', event_registration_path(registration.event.identifier, registration) %></p>
						<% end %>
					<% end %>
					<p><%= link_to 'Go to Event Page', event_path(registration.event.identifier) %></p>
				<% end %>

			<% else %>

				<div>You are not currently registered for any events.</div>
				<%= link_to 'Find events', events_path %>

			<% end %>
		</article>

		<% if competition_started_or_region_privileges? && @joined_teams.present? %>
			<article>
				<h3>My Team Projects</h3>
				<% @joined_teams.each do |team| %>
					<h4><%= team.current_project.team_name %> - <%= team.current_project.project_name %></h4>
					<p>Event: <%= team.event.name %></p>
					<% if @competition.not_finished? team.region.time_zone %>
						<p><%= link_to "Manage #{team.name}", team_management_team_path(team) %></p>
					<% elsif team.published %>
						<p><%= link_to "Go to #{team.name}", project_path(team.current_project.identifier) %></p>
					<% else %>
						<p>This project is yet to be published.</p>
					<% end %>
				<% end %>
			</article>
		<% end %>

		<% if in_competition_window_or_region_privileges?(LAST_TIME_ZONE) && @invited_team_assignments.present? %>
			<article>
				<h3>My Invitations</h3>
				<% @invited_team_assignments.each do |assignment| %>
					<h4><%= assignment.assignable.current_project.team_name %> - <%= assignment.assignable.current_project.project_name %></h4>
					<p>Event: <%= assignment.assignable.event.name %></p>

					<p><%= link_to 'Accept Invitation and Go to Team',
							users_invitation_path(assignment), method: :patch %></p>

					<p><%= link_to 'Decline Invitation',
							users_invitation_path(assignment), method: :delete,
							data: { confirm: 'Are you sure?' } %></p>
				<% end %>
			</article>
		<% end %>
		<article>
			<% if competition_started_or_region_privileges? %>
				<h3>My Favourite Projects</h3>
				<% if @favourite_teams.present? %>
					<% @favourite_teams.each do |team| %>
						<h4><%= "#{team.current_project.team_name} - #{team.current_project.project_name}" %></h4>
						<p>Event: <%= team.event.name %></p>
						<p><%= link_to "Go to Team Project", project_path(team.current_project.identifier) %></p>
					<% end %>
				<% else %>
					<p>Projects that you favourite will appear here.</p>
				<% end %>
			<% end %>
		</article>
	</section>
</main>
