<main class="registration single-col manage-account">

	<h2>Manage Account</h2>

	<section>
		<article>
			<%= render 'user_profile_pic'%>
			<%= link_to 'Change Profile Pic', update_personal_details_path(profile_pic: true) %><br>
			<%= render 'user_contact', locals: { user: @user } %>
			<%= link_to 'Update Personal Details' , update_personal_details_path %><br>
			<%= link_to 'Change Email and Password' , edit_user_registration_path %><br>
		</article>
		<article>
			<% if user_has_admin_privilieges? %>
				<h3>Admin</h3>
				<%= link_to 'Region Management', admin_regions_path %><br>
				<%= link_to 'User Management', admin_users_path %><br>
				<%= link_to 'Competiton Management', admin_competition_path(@competition) %><br>
				<%= link_to 'Region Management', admin_regions_path %><br>
			<% end %>

			<% if user_has_event_privileges? %>
				<%= link_to 'Event Management', admin_events_path %><br>
			<% end %>

			<% if user_has_sponsor_privileges? %>
				<h3>Sponsor Managmement</h3>
				<%= link_to 'Sponsor Management', admin_sponsors_path %><br>
				<%= link_to 'Sponsorship Type Management', admin_sponsorship_types_path %><br>
			<% end %>

			<% if user_is_chief_judge? %>
				<%= link_to 'Competiton Criteria Management', admin_competition_criteria_path(@competition) %><br>
			<% end %>

			<% if user_is_a_judge? %>
				<%= link_to 'Challenge Scorecards', admin_challenge_scorecards_path %>
			<% end %>
		</article>
	</section>

	<section>
		<article>
			<% if @sponsor_contact_assignments.present? %>
				<h3>My Sponsors</h3>
				<% @sponsor_contact_assignments.each do |assignment| %>
					<% sponsor = @id_sponsors[assignment.assignable_id] %>
					<h4><%= sponsor.name %></h4>
					<%= link_to 'Go to Sponsor', sponsorship_management_sponsor_path(sponsor) %>
				<% end %>
			<% end %>
		</article>
		<article>

			<h3>My Events</h3>

			<% if @registrations.present? %>

				<% @registrations.each do |registration| %>
					<% event = @id_events[registration.event_id] %>
					<h4><%= event.name %> -  <%= @id_regions[event.region_id].name %></h4>

					You are registered as: <%= registration.status %><br>

					<%= link_to 'Go to Event Page', event_path(event.identifier) %><br>
					<%= link_to 'Update Registration', edit_event_registration_path(event.identifier, registration) %><br>
				<% end %>

			<% else %>

				<div>You are not currently registered for any events.</div>
				<%= link_to 'Find events', events_path %>

			<% end %>
		</article>
		<article>
			<% if @competition.started? && (teams = @user.joined_teams).present? %>
				<h3>My Team Projects</h3>
				<% teams.each do |team| %>
					<h4><%= team.name %></h4>
					Event: <%= team.event.name %><br>
					<%= link_to "Go to #{team.name}", team_management_team_path(team) %><br>
				<% end %>
			<% end %>
			<% if @competition.started? && (teams = @user.invited_teams).present? %>
				<h3>My Invitations</h3>
				<% teams.each do |team| %>
					<h4><%= "#{team.name} entered @ #{team.event.name}" %></h4>
					<% assignment = Assignment.find_by(user: @user, assignable: team) %>

					<%= form_for [@user, assignment] do |f| %>
						<%= f.submit 'Accept Invitation and Go to Team' %>
					<% end %>

					<%= link_to 'Decline Invitation', user_assignment_path(@user, assignment), method: :delete,
												data: { confirm: 'Are you sure?' } %><br>
				<% end %>
			<% end %>
		</article>
		<article>
			<% if @competition.started? && (teams = @user.event_assignment.teams).present? %>
				<h3>My Favourite Projects</h3>
				<% teams.each do |team| %>
					<h4><%= team.name %></h4>
					Event: <%= team.event.name %><br>
					<%= link_to "Go to #{team.name}", team_path(team) %><br>
				<% end %>
			<% end %>
		</article>
	</section>
</main>
