- content_for :title, 'Manage Account'
%main.registration.single-col.manage-account
  %h2= yield :title
  %section
    %article
      - if false
        = render 'user_profile_pic'
        %p= link_to 'Change Profile Pic', update_personal_details_path(profile_pic: true)
      = render 'user_contact', locals: { user: @user }
      %p= link_to 'Update Personal Details' , update_personal_details_path
      %p= link_to 'Update Email and Password' , edit_user_registration_path
      - if @public_winning_entries
        %p= link_to 'Update Banking Details', update_personal_details_path(banking: true)
    %article
      - if user_has_admin_privilieges?
        %h3 Admin
        %p= link_to 'User Management', admin_users_path
        %p= link_to 'Competiton Management', admin_competitions_path
      - if user_has_event_privileges?
        %p= link_to 'Event Management', admin_competition_events_path(@competition)
      - if user_has_sponsor_privileges?
        %h3 Sponsor Managmement
        %p= link_to 'Sponsor Management', admin_competition_sponsors_path(@competition)
        %p= link_to 'Sponsorship Type Management', admin_competition_sponsorship_types_path(@competition)
      - if user_is_chief_judge?
        %h3 Competition Judging Criteria
        %p= link_to 'Competiton Criteria Management', admin_competition_criteria_path(@competition)
  %section
    - if @sponsor_contact_assignments.present?
      %article
        %h3 My Sponsors
        - @sponsor_contact_assignments.each do |assignment|
          %h4= assignment.assignable.name
          = link_to 'Go to Sponsor', sponsorship_management_sponsor_path(assignment.assignable)
    %article
      %h3 My Events
      - if @registrations.present?
        - @registrations.each do |registration|
          %h4
            = registration.event.name
            \-  #{registration.event.region.name}
          - unless registration.event.registration_type == CLOSED
            %p
              You are registered as: #{registration.status}
            - if registration.status == INVITED
              %p= link_to 'Respond to Invitation', edit_event_registration_path(registration.event.identifier, registration)
              - if registration.category == GROUP_GOLDEN
                %p= link_to 'Transfer Group Golden Ticket to another team member', edit_event_registration_path(registration.event.identifier, registration, task: GROUP_GOLDEN)
            - else
              %p= link_to 'View Registration', event_registration_path(registration.event.identifier, registration)
          %p= link_to 'Go to Event Page', event_path(registration.event.identifier)
      - else
        %div You are not currently registered for any events.
        = link_to 'Find events', events_path
    - if competition_started_or_region_privileges? && @joined_teams.present?
      %article
        %h3 My Team Projects
        - @joined_teams.each do |team|
          %h4
            = team.current_project.team_name
            \- #{team.current_project.project_name}
          %p
            Event: #{team.event.name}
          - if @competition.not_finished? team.region.time_zone
            %p= link_to "Manage #{team.name}", team_management_team_path(team)
          - elsif team.published
            %p= link_to "Go to #{team.name}", project_path(team.current_project.identifier)
          - else
            %p This project is yet to be published.
    - if in_competition_window_or_region_privileges?(LAST_TIME_ZONE) && @invited_team_assignments.present?
      %article
        %h3 My Invitations
        - @invited_teams.each do |team|
          %h4 #{team.current_project.team_name} - #{team.current_project.project_name}
          %p Event: #{assignment.assignable.event.name}
          %p= link_to 'Accept Invitation and Go to Team', users_invitation_path(assignment), method: :patch
          %p= link_to 'Decline Invitation', users_invitation_path(assignment), method: :delete, data: { confirm: 'Are you sure?' }
    %article
      - if competition_started_or_region_privileges?
        %h3 My Favourite Projects
        - if @favourite_teams.present?
          - @favourite_teams.each do |team|
            %h4 #{team.current_project.team_name} - #{team.current_project.project_name}
            %p Event: #{team.event.name}
            %p= link_to "Go to Team Project", project_path(team.current_project.identifier)
        - else
          %p Projects that you favourite will appear here.
