<% options = locals[:options] %>

<%= form_for [@event, @registration] do |f| %>
  <% options.each do |status| %>
    <%= f.radio_button(:status, status,
      options = {checked: @registration.status == status}) %>
    <%= f.label(:status, status) %>
  <% end %><br>
  <div class="field">
    <%= label_tag :preferred_name %>
    <%= text_field_tag :preferred_name, @user.preferred_name %>
  </div>
  <div class="field">
    <%= label_tag :organisation_name %>
    <%= text_field_tag :organisation_name, @user.organisation_name %>
  </div>
  <div class="field">
    <%= label_tag :dietary_requirements %>
    <%= text_field_tag :dietary_requirements, @user.dietary_requirements %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
