%br
%p
  %strong Want to be a Mentor?
%p
  Head to
  %a{href: 'http://govhack.org/mentor', target: '_blank'} Mentor EoI
  to express your interest and we will be in contact with you shortly.
%p
  No need to register here.
.field
  %div
    = label_tag :preferred_name
    %br/
    %em (this will be printed on your badge)
  = text_field_tag :preferred_name, @user.preferred_name
.field
  = label_tag :organisation_name
  = text_field_tag :organisation_name, @user.organisation_name
.field
  = label_tag :dietary_requirements
  = text_field_tag :dietary_requirements, @user.dietary_requirements
- if @event.event_type == COMPETITION_EVENT
  .field
    = label_tag :registration_type
    = select_tag :registration_type, options_for_select(USER_REGISTRATION_TYPES, @user.registration_type)
    %br/
  .field
    = label_tag :parent_guardian, "If Registration Type '#{YOUTH_COMPETITOR}', name of your parent/guardian"
    = text_field_tag :parent_guardian, @user.parent_guardian
  .field
    = label_tag :request_not_photographed, 'Request not to be photographed'
    = check_box_tag :request_not_photographed, 'true', @user.request_not_photographed
  .field
    = label_tag :aws_credits_requested, 'Do you need / want AWS Credits?'
    = check_box_tag :aws_credits_requested, 'true', @holder.aws_credits_requested
  %div Tell us what your skill set is (tick all that apply)
  .field
    = label_tag :data_cruncher
    = check_box_tag :data_cruncher, 'true', @user.data_cruncher
  .field
    = label_tag :coder
    = check_box_tag :coder, 'true', @user.coder
  .field
    = label_tag :creative
    = check_box_tag :creative, 'true', @user.creative
  .field
    = label_tag :facilitator
    = check_box_tag :facilitator, 'true', @user.facilitator
= render 'agree_to_code_of_conduct'
