<% content_for :title, "Registration for #{@event.name}" %>
<main class="register">
  <% if params[:task] == GROUP_GOLDEN %>
    <h2>
      <%= "Transfer Golden Ticket to Other Team Member in #{@project.team_name}" %>
    </h2>
    <% if @other_members.present? %>
      <% @other_members.each do |assignment| %>
        <% user = assignment.user %>
        <p>
          <%= link_to "Transfer to #{user.full_name}",
          event_registration_path(@event.identifier, @registration, assignment_id: assignment.id, task: GROUP_GOLDEN),
          data: { confirm: "Transfer to #{ user.full_name }. Are you sure?" }, method: :patch %>
        </p>
      <% end %>
    <% else %>
      <p>
        There are no other team members in <%= @project.team_name %>.
      </p>
    <% end %>
  <% else %>
    <h2>
      <%= "Update Registration for #{@event.name} #{@event.region.name}" %>
    </h2>
    <% if @event.not_attending?(@assignment) && @event.at_capacity? %>
      <p>
        This event is at capacity. Please add yourself to the waitlist below and you
        will be emailed should a space become available.
      </p>
      <%= render 'edit_form', locals: { options: [WAITLIST, NON_ATTENDING] } %>
    <% elsif @event.waitlisted? @assignment %>
      <p>
        You are on the waitlist and will be emailed should a space become available.
      </p>
      <%= render 'edit_form', locals: { options: [WAITLIST, NON_ATTENDING] } %>
    <% else %>
      <p>
        You are registered as attending.
      </p>
      <%= render 'edit_form', locals: { options: [ATTENDING, NON_ATTENDING] } %>
    <% end %>
  <% end %>
</main>
<p>
  <%= link_to 'Back to Registration', event_registration_path(@event.identifier, @registration) %>
</p>
