<main class="register">
  <h2>Update Registration for <%= @event.name %> <%= @event.region.name %></h2>

  <% if @event.not_attending?(@event_assignment) && @event.at_capacity?  %>

  This event is at capacity. Please add yourself to the waitlist below and you
  will be emailed should a space become available.<br>

  <%= render 'edit_form', locals: { options: [WAITLIST, NON_ATTENDING] } %>

  <% elsif @event.waitlisted? @event_assignment %>

    You are on the waitlist and will be emailed should a space become available.

    <%= render 'form', locals: { options: [WAITLIST, NON_ATTENDING] } %>

  <% else %>

    You are registerd as attending.

    <%= render 'edit_form', locals: { options: [ATTENDING, NON_ATTENDING] } %>

  <% end %>

  <%= link_to "Back", :back %>
</main>
