<% content_for :title, "Registration for #{@event.name}" %>
<main class="register">
  <section class="register_section">
    <h1>
      <%= "Update Registration for #{@event.name} #{@event.region.name}" %>
    </h1>
    <% if @event.not_attending?(@assignment) && @event.at_capacity? %>
      <p>
        This event is at capacity. Please add yourself to the waitlist below and you
        will be emailed should a space become available.
      </p>
      <%= render 'edit_form', locals: { options: [WAITLIST, NON_ATTENDING] } %>
    <% elsif @event.waitlisted? @assignment %>
      <p>
        You are on the waitlist and will be emailed should a space become available.
      </p>
      <%= render 'edit_form', locals: { options: [WAITLIST, NON_ATTENDING] } %>
    <% else %>
      <p>
        You are registered as attending.
      </p>
      <%= render 'edit_form', locals: { options: [ATTENDING, NON_ATTENDING] } %>
    <% end %>
  <%= link_to 'Back to Registration', event_registration_path(@event.identifier, @registration), class: "blue"%>
  </section>
</main>
