<main class="register">

<h2>Register to attend <%= @event.name %> - <%= @event.region.name %></h2>

<% if @event.below_capacity? %>

  <%= render 'new_form', locals: { status: ATTENDING, label: 'Register to Attend Event' } %>

<% else %>

  This event is at capacity.<br>

  If you add yourself to the waitlist below, you will be emailed should a space
  become available.<br>

  <%= render 'new_form', locals: { status: WAITLIST, label: 'Add to Waitlist' } %>

<% end %>

<%= link_to 'Back to Event', event_path(@event.identifier) %>

</main>
