- content_for :title, "Registration for #{@event.name}"
%main.register
  %h2
    Registration for #{@event.name}
  %section
    %article
      - if @event.attending? @assignment
        %p You are registered to attend the event.
        %p If you no longer wish to attend, please update your registration below.
        - unless @registration.category == REGULAR
          = render 'flight_options'
      - elsif @event.waitlisted? @assignment
        %p You are on the waitlist, you will be notified should a space become available.
        %p If you no longer wish to attend, please update your registration below.
      - elsif @event.not_attending? @assignment
        %p You are registered as not attending.
        %p Please update your registration below if you wish to attend.
      %h3 Dietary Requirements
      - if @user.no_dietary_requirements?
        %p We do not have any dietary requirements for you on record.
      - else
        %p= @user.dietary_requirements
      .actions
        = link_to 'Update Registration', edit_event_registration_path(@event, @registration)
%p= link_to 'Back to Event Page', event_path(@event.identifier)
%p= link_to 'Back to Account Management', manage_account_path
