<main class="register">

	<h2>Registration for <%= @event.name %></h2>

	<section>
		<article>
			<% if @event.attending? @assignment %>

				<p>You are registered to attend the event.</p>

				<p>If you no longer wish to attend, please update your registration below.</p>

				<% unless @registration.category == REGULAR %>
					<%= render 'flight_options' %>
				<% end %>

			<% elsif @event.waitlisted? @assignment %>

			  <p>You are on the waitlist, you will be notified should a space become available.</p>

			  <p>If you no longer wish to attend, please update your registration below.</p>

			<% elsif @event.not_attending? @assignment %>

			  <p>You are registered as not attending.</p>

			  <p>Please update your registration below if you wish to attend.</p>

			<% end %>

			<h3>Dietary Requirements</h3>

			<% if @user.no_dietary_requirements? %>

			  <div>We do not have any dietary requirements for you on record</div>

			<% else %>

			  <div><%= @user.dietary_requirements %></div>

			<% end %>

			<div class="actions">
				<%= link_to 'Update Registration', edit_event_registration_path(@registration) %><br>
			</div>
			<p><%= link_to 'Back to Event Page', event_path(@event.identifier) %></p>
			<p><%= link_to 'Back to Account Management', manage_account_path %></p>
		</article>
	</section>

</main>
