<main class="team_page">
  <h2>Competiton Assignments</h2>

  <h3>Competition Director</h3>

  <% if (director = @assignable.director).present? %>
    <%= render 'admin/shared/user_contact', locals: { user: director } %>
  <% else %>
    <p>This competition does not currently have a Director.</p>
    <p><%= link_to "New #{COMPETITION_DIRECTOR} Assignment", new_admin_competition_assignment_path(@assignable, title: COMPETITION_DIRECTOR) %></p>
  <% end %>

  <h3>Sponsorship Director</h3>

  <% if (director = @assignable.sponsorship_director).present? %>
    <%= render 'admin/shared/user_contact', locals: { user: director } %>
  <% else %>
    <p>This competition does not currently have a Sponsorship Director.</p>
    <p><%= link_to "New #{SPONSORSHIP_DIRECTOR} Assignment", new_admin_competition_assignment_path(@assignable, title: SPONSORSHIP_DIRECTOR) %></p>
  <% end %>

  <h3>Chief Judge</h3>

  <% if (chief_judge = @assignable.chief_judge).present? %>
    <%= render 'admin/shared/user_contact', locals: { user: chief_judge } %>
  <% else %>
    <p>This competition does not currently have a Chief Judge.</p>
    <p><%= link_to "New #{CHIEF_JUDGE} Assignment", new_admin_competition_assignment_path(@assignable, title: CHIEF_JUDGE) %></p>
  <% end %>

  <h3>Site Admins</h3>

  <% if (site_admins = @assignable.site_admins).present? %>
    <% site_admins.each do |site_admin| %>
      <%= render 'admin/shared/user_contact', locals: { user: site_admin } %>
    <% end %>
  <% else %>
    <p>This competition does not currently have any Site Admins.</p>
    <p><%= link_to "New #{ADMIN} Assignment", new_admin_competition_assignment_path(@assignable, title: ADMIN) %></p>
  <% end %>

  <h3>GovHack Management Team</h3>

  <% if (members = @assignable.management_team).present? %>
    <% members.each do |member| %>
      <%= render 'admin/shared/user_contact', locals: { user: member } %>
    <% end %>
  <% else %>
    <p>This competition does not currently have any management team members.</p>
  <% end %>
  <p><%= link_to "New #{MANAGEMENT_TEAM} Assignment", new_admin_competition_assignment_path(@assignable, title: MANAGEMENT_TEAM) %></p>

  <h3>GovHack Volunteers</h3>

  <% if (members = @assignable.volunteers).present? %>
    <% members.each do |member| %>
      <%= render 'admin/shared/user_contact', locals: { user: member } %>
    <% end %>
  <% else %>
    <p>This competition does not currently have any volunteers.</p>
  <% end %>
  <p><%= link_to "New #{VOLUNTEER} Assignment", new_admin_competition_assignment_path(@assignable, title: VOLUNTEER) %></p>
  <p><%= link_to 'Back to Competition', admin_competition_path(@assignable) %></p>
</main>
