- if user_signed_in?
  %aside
    = image_tag "sydneyback.jpg", class: "navbar-avatar"
    %div.nav-dropdown
      = link_to "Manage Account (#{current_user.display_name})", manage_account_path
      = link_to 'Sign Out', destroy_user_session_path, method: :delete
- else
  = link_to 'Join the Hack', new_user_registration_path, class: "nav-button"
