- if user_signed_in?
  %aside
    = link_to image_tag(default_profile_picture_url(current_user, current_user.profile), class: "navbar-avatar"), manage_account_path
    %div.nav-dropdown
      = link_to "Manage Account (#{current_user.display_name})", manage_account_path
      = link_to 'Sign Out', destroy_user_session_path, method: :delete
- else
  %div.buttons-group
    = link_to 'Join the hack', new_user_registration_path, class: "nav-button"
    = link_to "Sign In", new_user_session_path , class: "login-button"
