%header
  %nav.navbar.navbar-default.top-bar{:role => "navigation"}
    .container-fluid
      .navbar-header
        = link_to (render "shared/logo"), root_path
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span
          %span
          %span
      .navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Events', events_path
          %li
            = link_to 'Challenges', challenges_path
          %li
            = link_to 'Projects', projects_path
          %li
            = link_to 'Datasets', data_sets_path
          %li
            = link_to 'Profiles', profiles_path
        %div.nav.navbar-nav.navbar-right
          %button
            = render "shared/session_login_links"
