%header
  %nav#top-bar
    %section
      = link_to (render "shared/logo"), root_path
      %article
        = link_to 'Events', events_path
        = link_to 'Challenges', challenges_path
        = link_to 'Projects', projects_path
        = link_to 'Datasets', data_sets_path
        = link_to 'Scavenger Hunt', scavenger_hunt_path
    = render "shared/session_login_links"
