<h2>Create New Event Partner for <%= @event.name %></h2>

<%= form_tag(new_admin_event_event_partner_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= hidden_field_tag(:title, @title) %>
  <%= submit_tag 'Search' %>
<% end %><br>

<% if @sponsor.present? # Sponsor found show create new event partnership for %>

  Sponsor: <%= @sponsor.name %><br>

  <% unless @existing_event_partnership.present? # check for existing event partnership %>

    <%= form_for [:admin, @event, @event_partner] do |f| %>
      <%= hidden_field_tag(:sponsor_id, @sponsor.id) %>
      <%= f.submit "Create new Event Partnership with #{@sponsor.name}" %>
    <% end %>

  <% else %>
    Event Partnership for <%= @sponsor.name %> to <%= @event.name %> already exists.<br>
  <% end %>

<% elsif @sponsors.present? # Review search results %>

  <% @sponsors.each do |sponsor| %>
    Sponsor: <%= sponsor.name %><br>
    <%= link_to 'Select', new_admin_event_event_partner_path(@event, term: sponsor.name) %><br>
  <% end %>

<% elsif params[:term].present? # Could not find anything. %>

  Apologies, no sponsor name matching search term '<%= params[:term] %>'<br>

<% else # No search term entered / first visit to page %>

  Please enter a sponsor name above.<br>

<% end %>



<%= link_to "Back to #{@event.name} Event", admin_region_event_path(@event.region, @event) %>
