%article.event-tile
  %div
    %h3= event.name
    %h4= event.region.name
    - if [CONNECTION_EVENT, AWARD_EVENT].include? event.event_type
      - unless event.start_time.blank?
        %h4= event.start_time.strftime("%e %B %Y")
      - unless event.end_time.blank?
        %h4= event.start_time.strftime("%I.%M %p")
      %p
        = event.event_type
        Event
