<% unless @event.email.blank? %>
  <div class="event-info">
    <h4>Email:</h4>
    <p>
      <%= @event.email %>
    </p>
  </div>
<% end %>
<% unless @event.twitter.blank? %>
  <div class="event-info">
    <h4>Twitter:</h4>
    <p>
      <%= @event.twitter %>
    </p>
  </div>
<% end %>
<% unless @event.address.blank? %>
  <div class="event-info">
    <h4>Address:</h4>
    <p>
      <%= simple_format(@event.address) %>
    </p>
  </div>
<% end %>
<% if [CONNECTION_EVENT, CONFERENCE, AWARD_EVENT].include? @event.event_type %>
  <% unless @event.start_time.blank? %>
    <div class="event-info">
      <h4>Date:</h4>
      <p>
        <%= @event.start_time.strftime("%e %B %Y") %>
      </p>
    </div>
    <div class="event-info">
      <h4>Start time:</h4>
      <p>
        <%= @event.start_time.strftime("%I:%M%p") %>
        <%= @region.zone_code_when(@event.start_time) %>
      </p>
    </div>
  <% end %>
  <% unless @event.end_time.blank? %>
    <div class="event-info">
      <h4>End time:</h4>
      <p>
        <%= @event.end_time.strftime("%I:%M%p") %>
        <%= @region.zone_code_when(@event.end_time) %>
      </p>
    </div>
  <% end %>
<% end %>
<% unless @event.accessibility.blank? %>
  <div class="event-info">
    <h4>Accessibility:</h4>
    <p>
      <%= simple_format(@event.accessibility) %>
    </p>
  </div>
<% end %>
<% unless @event.youth_support.blank? %>
  <div class="event-info">
    <h4>Youth Support:</h4>
    <p>
      <%= simple_format(@event.youth_support) %>
    </p>
  </div>
<% end %>
<% unless @event.parking.blank? %>
  <div class="event-info">
    <h4>Parking:</h4>
    <p>
      <%= simple_format(@event.parking) %>
    </p>
  </div>
<% end %>
<% unless @event.public_transport.blank? %>
  <div class="event-info">
    <h4>Public Transport:</h4>
    <p>
      <%= simple_format(@event.public_transport) %>
    </p>
  </div>
<% end %>
<% unless @event.operation_hours.blank? %>
  <div class="event-info">
    <h4>Operating hours:</h4>
    <p>
      <%= simple_format(@event.operation_hours) %>
    </p>
  </div>
<% end %>
<% unless @event.catering.blank? %>
  <div class="event-info">
    <h4>Catering:</h4>
    <p>
      <%= simple_format(@event.catering) %>
    </p>
  </div>
<% end %>
<% if @event_partners.present? %>
  <div class="event-info">
    <h4><%= 'Event Partner'.pluralize(@event_partners.count) %></h4>
    <% @event_partners.each do |event_partner| %>
      <div class="clickable_tile">
        <%= link_to visits_path(visit: {visitable_type: 'Sponsor', visitable_id: event_partner.id}), target: '_blank' do %>
          <% if event_partner.logo.attached? %>
            <%= image_tag url_for(event_partner.logo) %>
          <% else %>
            <%= image_tag 'default_profile_pic.png' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
