<h2><%= @event.name %> - <%= @event.region.name %></h2>

<h3>Event Information</h3>

Region: <%= @event.region.name %><br>
Event Category: <%= @event.category_type %><br>
Registration Type: <%= @event.registration_type %><br>

<% if @event.attending(current_user) %>
  <h4>Your Dietary Requirements</h4>
  <%= form_with(model: current_user, local: true) do |form| %>
    <%= form.label :dietary_requirements, 'Currently we have...' %><br>
    <%= form.text_field :dietary_requirements %><br>
    <%= form.submit 'Update Dietary Requirements' %>
  <% end %>
<% end %>

<% unless @event.registered(current_user) %>
  <%= link_to 'Register to Attend Event', new_event_attendance_path(@event) %><br>
<% else %>
  You are registered as: <%= @attendance.status %><br>
  <%= link_to 'Update Attendance', edit_event_attendance_path(@event, @attendance) %><br>
<% end %>

<%= link_to 'Back to Events', events_path %>
