<h2><%= @event.name %> - <%= @region.name %></h2>

<h3>Event Information</h3>

Registration Type: <%= @event.registration_type %><br>

<% unless @event.email.nil? || @event.email.empty?  %>
  Email: <%= @event.email %><br>
<% end %>

<% unless @event.twitter.nil? || @event.twitter.empty?  %>
  Twitter: <%= @event.twitter %><br>
<% end %>

<% unless @event.address.nil? || @event.address.empty?  %>
  Address: <%= @event.address %><br>
<% end %>

<% unless @event.start_time.nil? || @event.end_time.nil? %>
  Start time: <%= @event.start_time.strftime("%I:%M%p") %><br>
  End time: <%= @event.end_time.strftime("%I:%M%p") %><br>
<% end %>

<% unless @event.accessibility.nil? || @event.accessibility.empty?  %>
  Accessibility: <%= @event.accessibility %><br>
<% end %>

<% unless @event.youth_support.nil? || @event.youth_support.empty?  %>
  Youth Support: <%= @event.youth_support %><br>
<% end %>

<% unless @event.parking.nil? || @event.parking.empty?  %>
  Parking: <%= @event.parking %><br>
<% end %>

<% unless @event.public_transport.nil? || @event.public_transport.empty?  %>
  Public Transport: <%= @event.public_transport %><br>
<% end %>

<% unless @event.operation_hours.nil? || @event.operation_hours.empty?  %>
  Operating hours: <%= @event.operation_hours %><br>
<% end %>

<% unless @event.catering.nil? || @event.catering.empty?  %>
  Catering: <%= @event.catering %><br>
<% end %>

<% unless @event.place_id.nil? || @event.place_id.empty?  %>
  <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=place_id:<%= @event.place_id %>&key=<%= ENV['GOOGLE_API_KEY'] %>" allowfullscreen></iframe><br>
<% end %>

<% unless @event.video_url.nil? || @event.video_url.empty?  %>
  <iframe id="player" type="text/html" width="640" height="390" src="<%= @event.video_url %>"
  frameborder="0"></iframe>
<% end %>

<% if @event_partner.present? %>

  <h3>Event Partner - <%= @event_partner.name %></h3>

  <% if @event_partner.logo.attached? %>
    <%= image_tag url_for(@event_partner.logo) %>
  <% else %>
    <%= image_tag 'default_profile_pic.png' %>
  <% end %>

<% end %><br>

<% if @sponsorship_types.present? %>

  <h3>Regional Sponsors</h3>

  <% @sponsorship_types.each do |sponsorship_type| %>
    <h4><%= sponsorship_type.name %></h4>
    <% sponsorship_type.sponsorships.where(sponsorable: @region).order(:created_at).each do |sponsorship| %>
      <% sponsor = sponsorship.sponsor %>
      <h5><%= sponsor.name %></h5>
      <% if sponsor.logo.attached? %>
        <%= image_tag url_for(sponsor.logo) %>
      <% else %>
        <%= image_tag 'default_profile_pic.png' %>
      <% end %>
    <% end %>
  <% end %>
<% end %><br>

<% if user_signed_in? %>
  <% if @registration.present? %>
    <%= link_to 'Manage your Event Registration', event_registration_path(@event, @registration) %><br>
  <% else %>
    <%= link_to 'Register to Attend this Event', new_event_registration_path(@event) %><br>
  <% end %>
<% else %>
  <%= link_to 'Sign in to register', new_user_session_path %><br>
<% end %>

<% if user_signed_in? && (@event.admin_assignments & current_user.assignments).present? %>
  <%= link_to 'Manage this Event', admin_region_event_path(@region, @event) %><br>
<% end %>

<%= link_to 'Back to Events', events_path %><br>
