<main class="events_page single-event">

	<h2><%= @event.name %> - <%= @region.name %></h2>

	<section>
		<h3>Event Information</h3>

		<section class="info">
			<% if @event.event_type == STATE_CONNECTION %>
				<%= render 'connection_description' %>
			<% else %>
				<%= render 'competition_event_description' %>
			<% end %>
		</section>

		<section>
			<article>

				<div class="event-info">
					<h4>Registration Type:</h4>
					<p> <%= @event.registration_type %></p>
				</div>
				<%= render 'event_text_information' %>

			</article>
			<aside>
				<%= render 'event_map_video' %>

				<%= render 'event_registration_team_links' %>

				<% if @event_partner.present? %>
					<h3>Event Partner</h3>
					<figure>
					  <% if @event_partner.logo.attached? %>
					    <%= image_tag url_for(@event_partner.logo) %>
					  <% else %>
					    <%= image_tag 'default_profile_pic.png' %>
					  <% end %>
					</figure>
				<% end %>
			</aside>
		</section>

		<% if @sponsorship_types.present? %>
		  <h3>Regional Sponsors</h3>
		  <% @sponsorship_types.each do |sponsorship_type| %>
			  <h4><%= sponsorship_type.name %></h4>
			  <div class="sponsors">
			    <% sponsorship_type.sponsorships.where(sponsorable: @region).order(:created_at).each do |sponsorship| %>
			      <% sponsor = sponsorship.sponsor %>
					  <figure>
				      <% if sponsor.logo.attached? %>
				        <%= image_tag url_for(sponsor.logo) %>
				      <% else %>
				        <%= image_tag 'default_profile_pic.png' %>
				      <% end %>
					  </figure>
			    <% end %>
			  </div>
			<% end %>
		<% end %><br>

		<% if user_signed_in? && @event.admin_privileges?(current_user) %>
		  <%= link_to 'Manage this Event', admin_region_event_path(@region, @event) %><br>
		<% end %>

		<%= link_to 'Back to Events', events_path %><br>

	</section>
</main>
