<h2><%= @event.name %> - <%= @region.name %></h2>

<h3>Event Information</h3>

Region: <%= @region.name %><br>
Event Category: <%= @event.category_type %><br>
Registration Type: <%= @event.registration_type %><br>
Email: <%= @event.email %><br>
Twitter: <%= @event.twitter %><br>
Address: <%= @event.address %><br>
Start time: <%= @event.start_time.strftime("%I:%M%p") %><br>
End time: <%= @event.end_time.strftime("%I:%M%p") %><br>
Accessibility: <%= @event.accessibility %><br>
Youth Support: <%= @event.youth_support %><br>
Parking: <%= @event.parking %><br>
Public Transport: <%= @event.public_transport %><br>
Operating hours: <%= @event.operation_hours %><br>
Catering: <%= @event.catering %><br>

<% if user_signed_in? %>
  <% if @registration.present? %>
    <%= link_to 'Manage your Event Registration', event_registration_path(@event, @registration) %><br>
  <% else %>
    <%= link_to 'Register to Attend this Event', new_event_registration_path(@event) %><br>
  <% end %>
<% else %>
  <%= link_to 'Sign in to register', new_user_session_path %><br>
<% end %>

<% if user_signed_in? && (@event.admin_assignments & current_user.assignments).present? %>
  <%= link_to 'Manage this Event', admin_region_event_path(@region, @event) %><br>
<% end %>

<%= link_to 'Back to Events', events_path %><br>
