- content_for :title, @event.name
%main.events_page.single-event
  %h2 #{@event.name} - #{@region.name}
  %section
    %h3 Event Information
    %section.info
      - if @event.description.present?
        - @event.description.split(/\r\n/).each do |paragraph|
          %p= simple_format(paragraph)
      - elsif @event.event_type == CONNECTION_EVENT
        = render 'connections/connection_description'
      - elsif @event.event_type == AWARD_EVENT
        = render 'awards/award_description'
      - else
        = render 'competition_events/competition_event_description'
    %section
      %article
        .event-info
          %h4 Registration Type:
          %p
            = @event.registration_type
        = render 'events/event_text_information'
      %aside
        = render 'events/event_map_video'
        = render 'events/event_registration_team_links'
        - if @event_partners.present?
          %h3= @event_partners.count > 1 ? 'Event Partners' : 'Event Partner'
          - @event_partners.each do |event_partner|
            %figure
              %a{:href => "#{event_partner.website}", :target => "_blank"}
                - if event_partner.logo.attached?
                  = image_tag url_for(event_partner.logo)
                - else
                  = image_tag 'default_profile_pic.png'
    - if @sponsorship_types.present?
      %h3 State Sponsors
      - @sponsorship_types.each do |sponsorship_type|
        %h4= sponsorship_type.name
        .sponsors
          - sponsorship_type.sponsors.where(sponsorships: { sponsorable: @region }).with_attached_logo.each do |sponsor|
            %figure
              = link_to sponsor.website, target: '_blank' do
                - if sponsor.logo.attached?
                  = image_tag url_for(sponsor.logo)
                - else
                  = image_tag 'default_profile_pic.png'
- if user_signed_in? && @event.admin_privileges?(current_user)
  %p= link_to 'Manage this Event', admin_region_event_path(@region, @event)
%p= link_to 'Back to Events', events_path
