<% content_for :title, "#{@event.name} #{ "- #{@region.name}" unless @event.event_type == CONFERENCE }" %>
<main class="events_page single-event">
  <section class="header">
    <h2><%= yield :title %></h2>
  </section>
  <section>
    <h3>Event Information</h3>
    <section class="info">
      <% if @event.description.present? %>
        <% @event.description.split(/\r\n/).each do |paragraph| %>
          <p><%= simple_format(paragraph) %></p>
        <% end %>
      <% elsif @event.event_type == CONNECTION_EVENT %>
        <%= render 'connections/connection_description' %>
      <% elsif @event.event_type == AWARD_EVENT %>
        <%= render 'awards/award_description' %>
      <% else %>
        <%= render 'competition_events/competition_event_description' %>
      <% end %>
    </section>
    <section>
      <article>
        <div class="event-info">
          <h4>Registration Type:</h4>
          <p><%= @event.registration_type %></p>
        </div>
        <%= render 'events/event_text_information' %>
      </article>
      <aside>
        <%= render 'events/event_map_video' %>
        <%= render 'events/event_registration_team_links' %>
        <% if @event_partners.present? %>
          <h3><%= pluralize @event_partners.count, 'Event Partner' %></h3>
          <% @event_partners.each do |event_partner| %>
            <figure>
              <a href="<%= event_partner.url %>" target="_blank">
                <% if event_partner.logo.attached? %>
                  <%= image_tag url_for(event_partner.logo) %>
                <% else %>
                  <%= image_tag 'default_profile_pic.png' %>
                <% end %>
              </a>
            </figure>
          <% end %>
        <% end %>
      </aside>
    </section>
    <% if @sponsorship_types.present? %>
      <h3><%= @region.name %> Sponsors</h3>
      <% @sponsorship_types.each do |sponsorship_type| %>
        <h4><%= sponsorship_type.name %></h4>
        <div class="sponsors">
          <% sponsorship_type.sponsors.where(sponsorships: { sponsorable: @region }).with_attached_logo.each do |sponsor| %>
            <figure>
              <%= link_to sponsor.url, target: '_blank' do %>
                <% if sponsor.logo.attached? %>
                  <%= image_tag url_for(sponsor.logo) %>
                <% else %>
                  <%= image_tag 'default_profile_pic.png' %>
                <% end %>
              <% end %>
            </figure>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</main>
<% if user_signed_in? && @event.admin_privileges?(current_user) %>
  <p><%= link_to 'Manage this Event', admin_region_event_path(@region, @event) %></p>
<% end %>
<p><%= link_to 'Back to Events', events_path %></p>
