<h2><%= @event.name %> - <%= @region.name %></h2>

<h3>Event Information</h3>

Region: <%= @region.name %><br>
Event Category: <%= @event.category_type %><br>
Registration Type: <%= @event.registration_type %><br>
Email: <%= @event.email %><br>
Twitter: <%= @event.twitter %><br>
Address: <%= @event.address %><br>
<% unless @event.start_time.nil? || @event.end_time.nil? %>
  Start time: <%= @event.start_time.strftime("%I:%M%p") %><br>
  End time: <%= @event.end_time.strftime("%I:%M%p") %><br>
<% end %>
Accessibility: <%= @event.accessibility %><br>
Youth Support: <%= @event.youth_support %><br>
Parking: <%= @event.parking %><br>
Public Transport: <%= @event.public_transport %><br>
Operating hours: <%= @event.operation_hours %><br>
Catering: <%= @event.catering %><br>

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:<%= @event.place_id %>&key=<%= ENV['GOOGLE_API_KEY'] %>" allowfullscreen></iframe><br>

<% if @event_partner.present? %>

  <h3>Event Partner - <%= @event_partner.name %></h3>

  <% if @event_partner.logo.attached? %>
    <%= image_tag url_for(@event_partner.logo) %>
  <% else %>
    <%= image_tag 'default_profile_pic.png' %>
  <% end %>

<% end %><br>

<% if @sponsorship_types.present? %>

  <h3>Regional Sponsors</h3>

  <% @sponsorship_types.each do |sponsorship_type| %>
    <h4><%= sponsorship_type.name %></h4>
    <% sponsorship_type.sponsorships.where(sponsorable: @region).order(:created_at).each do |sponsorship| %>
      <% sponsor = sponsorship.sponsor %>
      <h5><%= sponsor.name %></h5>
      <% if sponsor.logo.attached? %>
        <%= image_tag url_for(sponsor.logo) %>
      <% else %>
        <%= image_tag 'default_profile_pic.png' %>
      <% end %>
    <% end %>
  <% end %>
<% end %><br>

<% if user_signed_in? %>
  <% if @registration.present? %>
    <%= link_to 'Manage your Event Registration', event_registration_path(@event, @registration) %><br>
  <% else %>
    <%= link_to 'Register to Attend this Event', new_event_registration_path(@event) %><br>
  <% end %>
<% else %>
  <%= link_to 'Sign in to register', new_user_session_path %><br>
<% end %>

<% if user_signed_in? && (@event.admin_assignments & current_user.assignments).present? %>
  <%= link_to 'Manage this Event', admin_region_event_path(@region, @event) %><br>
<% end %>

<%= link_to 'Back to Events', events_path %><br>
