<% content_for :title, "#{@event.name} #{ "- #{@region.name}" unless @event.event_type == CONFERENCE }" %>
<main class="events_page single-event">
  <section class="events_row">
    <div class="side-menu">
      <h1><%= yield :title %></h1>
      <div class="event-info">
        <h4>Registration Type:</h4>
        <p><%= @event.registration_type %></p>
        <br />
        <%= render 'events/event_registration_team_links' %>
      </div>
      <br />
      <hr class="grey-line" />
      <%= render 'events/event_text_information' %>
      <br />
      <hr class="grey-line" />
      <br />
      <% if user_signed_in? && @event.admin_privileges?(current_user) %>
        <p><%= link_to 'Manage this Event', admin_region_event_path(@region, @event), class: 'black-button' %></p>
      <% end %>
      <p><%= link_to 'Back to Events', events_path, class: "blue-button"%></p>
    </div>
    <div class="content">
      <div class="info">
        <h2>Event Information</h2>
        <% if @event.description.present? %>
          <% @event.description.split(/\r\n/).each do |paragraph| %>
            <p><%= simple_format(paragraph) %></p>
          <% end %>
        <% elsif @event.event_type == CONNECTION_EVENT %>
          <%= render 'connections/connection_description' %>
        <% elsif @event.event_type == AWARD_EVENT %>
          <%= render 'awards/award_description' %>
        <% else %>
          <%= render 'competition_events/competition_event_description' %>
        <% end %>
      </div>
      <div class="info">
        <%= render 'events/event_map_video' %>
      </div>
      <%= render partial: 'events/event_sponsors' %>
    </div>
  </section>
</main>
