<%= form_for [:team_management, @team, @project] do |project_form| %>
  <div class="field">
    <%= project_form.label :team_name %>
    <%= project_form.text_field :team_name %>
  </div>
  <div class="field">
    <%= project_form.label :project_name %>
    <%= project_form.text_field :project_name %>
  </div>
  <div class="field">
    <div><%= project_form.label :description %><br /><em>Markdown supported</em></div>
    <%= project_form.text_area :description %>
  </div>
  <div class="field">
    <div><%= project_form.label :data_story %><br /><em>Markdown supported</em></div>
    <%= project_form.text_area :data_story %>
  </div>
  <div class="field">
    <%= project_form.label :source_code_url %>
    <%= project_form.url_field :source_code_url %>
  </div>
  <div class="field">
    <%= project_form.label :video_url %>
    <%= project_form.url_field :video_url %>
  </div>
  <div class="field">
    <%= project_form.label :homepage_url %>
    <%= project_form.url_field :homepage_url %>
  </div>
  <div class="actions">
    <%= project_form.submit 'Save' %>
  </div>
<% end %>
