<%= form_for [:admin, @region, @challenge] do |form| %>
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :short_desc %>
  <%= form.text_area :short_desc %>
</div>
<div class="field">
  <%= form.label :long_desc %>
  <%= form.text_area :long_desc %>
</div>
<div class="field">
  <%= form.label :eligibility %>
  <%= form.text_area :eligibility %>
</div>
<div class="field">
  <%= form.label :video_url %>
  <%= form.url_field :video_url %>
</div>
  <% if current_user.admin_privileges?(@region.competition) %>
    <div class="field">
      <%= form.label :approved %>
      <%= form.check_box :approved, { checked: @challenge.approved } %>
    </div>
  <% end %>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
