<% content_for :title, "Challenges for #{@region.name} Region" %>
<main class="team_page">
  <section>
    <h2>
      <%= yield :title %>
    </h2>
    <p>
      <%= link_to "Create New Challenge for #{@region.name}", new_admin_region_challenge_path(@region) %>
    </p>
    <% if (@challenges).present? %>
      <% @challenges.each do |challenge| %>
        <h3>
          <%= challenge.name %>
        </h3>
        <% unless challenge.short_desc.blank? %>
          <p>
            Short Description: <%= challenge.short_desc %>
          </p>
        <% end %>
        <p>
          <%= pluralize Header.where(scoreable: challenge.entries).count, 'scorecard' %>
          from <%= pluralize challenge.assignments.count, 'judge' %>
        </p>
        <p>
          <%= link_to 'Go to Challenge', admin_region_challenge_path(@region, challenge) %>
        </p>
      <% end %>
    <% else %>
      <div>There are currently no challenges for this region in the current competition.</div>
    <% end %>
    <p>
      <%= link_to "Back to #{@region.name} Region", admin_competition_region_path(@competition, @region) %>
    </p>
  </section>
</main>
