%main.team_page
  %h2
    Challenges for #{@region.name} Region
  %p= link_to "Create New Challenge for #{@region.name}", new_admin_region_challenge_path(@region)
  - if (@challenges).present?
    - @challenges.each do |challenge|
      %h3= challenge.name
      - unless challenge.short_desc.blank?
        %p
          Short Description: #{challenge.short_desc}
      %p
        = pluralize Scorecard.where(judgeable: challenge.entries).count, 'scorecard'
        from #{pluralize challenge.assignments.count, 'judge'}
      %p= link_to 'Go to Challenge', admin_region_challenge_path(@region, challenge)
  - else
    %div There are currently no challenges for this region in the current competition.
%p= link_to "Back to #{@region.name} Region", admin_competition_region_path(@competition, @region)
