%main.team_page
  %h2
    = @challenge.name
    Challenge #{@region.name} Region
  - unless @challenge.short_desc.blank?
    %p Short Description: #{truncate(@challenge.short_desc, length: 100, omission: '... ')}
  - unless @challenge.long_desc.blank?
    %p Long Description: #{truncate(@challenge.long_desc, length: 100, omission: '... ')}
  - unless @challenge.eligibility.blank?
    %p Eligibility: #{@challenge.eligibility}
  %p
    Entry:
    = render 'challenges/challenge_entry'
  - unless @challenge.video_url.blank?
    %p This challenge has a video attached
  %p= link_to 'Update Challenge', edit_admin_region_challenge_path(@region, @challenge)
  - if @challenge.image.attached?
    %p This challenge has an image attached.
  - else
    %p This challenge does not have an image attached.
  %p= link_to 'Update Image', edit_admin_region_challenge_path(@region, @challenge, image: true)
  - if @challenge.pdf.attached? && @challenge.pdf_preview.attached?
    %p This challenge has a pdf and pdf preview attached.
  - unless @challenge.pdf.attached?
    %p This Challenge does not have a PDF.
  %p= link_to 'Update PDF', edit_admin_region_challenge_path(@region, @challenge, pdf: true)
  - unless @challenge.pdf_preview.attached?
    %p This Challenge does not have a PDF Preview.
  %p= link_to 'Update PDF Preview', edit_admin_region_challenge_path(@region, @challenge, pdf_preview: true)
  - unless @challenge.approved
    %p
      %strong This challenge is yet to be approved.
  - if @competition.started? @region.time_zone
    %p= link_to 'Go to Challenge Page', challenge_path(@challenge.identifier)
  - else
    %p= link_to 'Go to Challenge Preview Page', preview_admin_region_challenge_path(@region, @challenge)
  %h3 Teams Competing
  %p #{ pluralize(@challenge.entries.count, 'team')} entered challenge.
  %p= link_to 'Go to Challenge Entries', admin_challenge_entries_path(@challenge)
  %h3 Judges
  - if @judges.present?
    - @judges.each do |judge|
      = render 'admin/shared/user_contact', locals: { user: judge }
  - else
    %p This challenge does not currently have any judges assigned.
  %p= link_to "New #{JUDGE} Assignment", new_admin_challenge_judge_path(@challenge)
  %h3 Challenge Sponsorships
  %p= link_to 'Add Sponsorship', new_admin_challenge_challenge_sponsorship_path(@challenge)
  - if @challenge_sponsorships.present?
    - @challenge_sponsorships.each do |sponsorship|
      = render 'admin/sponsors/sponsor', locals: { sponsor: sponsorship.sponsor }
      %p= link_to 'Destroy Challenge Sponsorship', admin_challenge_challenge_sponsorship_path(@challenge, sponsorship), |
          method: :delete,                                                                                              |
          data: { confirm: 'Are you sure?' }                                                                            |
  - else
    %p There are currently no sponsorships for this challenge in the current competition.
  %h3 Challenge Data Sets
  %p= link_to 'Add Data Set', new_admin_challenge_challenge_data_set_path(@challenge)
  - if @challenge_data_sets.present?
    - @challenge_data_sets.each do |challenge_data_set|
      - data_set = challenge_data_set.data_set
      %h4= data_set.name
      = data_set.url

      %p= link_to 'Destroy Challenge Data Set', admin_challenge_challenge_data_set_path(@challenge, challenge_data_set), |
        method: :delete,                                                                                               |
        data: { confirm: 'Are you sure?' }                                                                             |
  - else
    %div There are currently no data sets for this challenge in the current competition.
%p= link_to 'Back to Challenges', admin_region_challenges_path(@region)
