= form_for [:admin, @competition, @sponsorship_type] do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :order
    = f.number_field :order, min: 1
  .actions
    = f.submit
