<%= form_for [:admin, @competition, @sponsorship_type] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :order %>
    <%= f.number_field :order, min: 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
