%main.project_index
  %h2 Projects for #{@current_project.team_name}
  %p= link_to 'Update Team Project', edit_admin_team_project_path(@team, @current_project)
  - @projects.each do |project|
    %h3= project.team_name
    - if project == @current_project
      %p
        %strong (Current Project)
    %p Created At: #{project.created_at}
    - if (user = project.user).present?
      %p Created By: #{user.display_name}
    %p= link_to 'Go to project version', admin_team_project_path(@team, project)
%p= link_to 'Back to Team Management', admin_competition_team_path(@team.competition, @team)
