%main.project_index
  %h2
    Project Create At #{@project.created_at}
  - if @project == @current_project
    %strong This is the current project version.
    %br/
  - else
    = link_to 'Make this the current version', admin_competition_team_path(@competition, @team, project_id: @project.id), |
      method: :patch,                                                                           |
      data: { confirm: 'Are you sure?' }                                                        |
    %br/
  Created At: #{@project.created_at}
  %br/
  - if @user.present?
    User: #{@user.display_name}
    %br/
  - else
    User: User no longer in system.
    %br/
  Team Name: #{@project.team_name}
  %br/
  Project Name: #{@project.project_name}
  %br/
  Video URL: #{@project.created_at}
  %br/
  Homepage URL: #{@project.homepage_url}
  %br/
  %h3 Description
  = @project.description
  %h3 Data Story
  = @project.data_story
  %br/
= link_to 'Back to All Project Versions', admin_team_projects_path(@team)
