%main.project_index
  %h2 Project Create At #{@project.created_at}
  - if @project == @current_project
    %p
      %strong This is the current project version.
  - else
    %p= link_to 'Make this the current version',                               |
        update_version_admin_competition_team_path(                            |
          @competition, @team, project_id: @project.id                         |
        ), method: :patch, data: { confirm: 'Are you sure?' }                  |
  %p Created At: #{@project.created_at}
  - if @user.present?
    %p Created By: #{@user.display_name}
  - else
    %p User: User no longer in system.
  %p Team Name: #{@project.team_name}
  %p Project Name: #{@project.project_name}
  %p Video URL: #{@project.created_at}
  %p Homepage URL: #{@project.homepage_url}
  %h3 Description
  %p= @project.description
  %h3 Tags
  - unless @project.tag_list.empty?
    %p
      - @project.tag_list.each do |tag|
        %span= link_to "##{tag}", projects_path(search: "##{tag}")
  %h3 Data Story
  %p= @project.data_story
%p= link_to 'Back to All Project Versions', admin_team_projects_path(@team)
