<% content_for :title, "GovHack Conference #{@competition.year}" %>
<main class="events_page">
  <section class="header">
    <h2><%= yield :title %></h2>
    <p>The conference presents a great opportunity to network and learn from industry experts, all from the comfort of your own home.</p>
  </section>
  <%= render partial: 'events/event_collection', locals: { events: @future_sessions, title: 'Upcoming Conference Sessions' } %>
  <%= render partial: 'events/event_collection', locals: { events: @future_connections, title: 'Upcoming Connection Events' } %>
  <%= render partial: 'events/event_collection', locals: { events: @past_sessions, title: 'Past Conference Sessions' } %>
  <%= render partial: 'events/event_collection', locals: { events: @past_connections, title: 'Past Connection Events' } %>
</main>
<p>
  <%= link_to 'All Events', events_path %>
</p>
