= form_for [:admin, @checkpoint, @region_limit] do |form|
  .form-group
    = form.label :region_id
    = form.select :region_id, options_from_collection_for_select(@regions, :id, :name, @region_limit.region_id.to_s)
  .form-group
    = form.label :max_national_challenges
    = form.number_field :max_national_challenges, { value: @region_limit.max_national_challenges, min: 0, step: 1 }
  .form-group
    = form.label :max_regional_challenges
    = form.number_field :max_regional_challenges, { value: @region_limit.max_regional_challenges, min: 0, step: 1 }
  .actions
    = form.submit
