%main.team_page
  = form_with model: @profile, url: profile_picture_path(@profile), method: :patch do |form|
    .field
      - if @profile.profile_picture.attached?
        = image_tag(url_for(@profile.profile_picture), alt: 'GovHack Profile Picture')
      - else
        = image_tag "default_profile_pic.png"
    .field
      = form.label :profile_picture, 'Upload a Profile Picture (only png/gif/jpeg/jpg)'
      = form.file_field :profile_picture, accept: 'image/png,image/gif,image/jpeg'
    .actions
      = form.submit 'Upload Image'
= link_to 'Back to Account Management', manage_account_path
