<section>
  <section>
    <% if @team.thumbnail.attached? %>
      <img alt="<%= @team.name %> thumbnail" src="<%= url_for(@team.thumbnail) %>" style="width: 150px; height: auto;"/>
    <% end %>
  </section>
  <% if @published_users.any? || @unpublished_users.any? %>
    <section class="markdown">
      <h4 class="sectionHeading">Team Name</h4>
      <hr />
      <p><%= @team.name %></p>
      <hr />
      <h4 class="sectionHeading">Team Members</h4>
      <hr/>
      <% if @published_users.any? %>
        <% @published_users.each_with_index do |user, index| %>
          <span>
            <strong>
              <%= link_to user.display_name, profile_path(user.profile) %>
              <%= ',' if index < @published_users.length - 1 %>
            </strong>
          </span>
        <% end %>
        <% if @unpublished_users.any? %>
          <span>
            <% unless @published_users.empty? %>
              and
            <% end %>
            <%= pluralize @unpublished_users.length, 'other member' %>
            <% if @unpublished_users.length > 1 %>
              with unpublished profiles.
            <% else %>
              with an unpublished profile.
            <% end %>
          </span>
        <% end %>
      <% else %>
        <span>
          <strong>
            <%= pluralize @unpublished_users.length, 'member' %>
            <% if @unpublished_users.length > 1 %>
              with unpublished profiles.
            <% else %>
              with an unpublished profile.
            <% end %>
          </strong>
        </span>
      <% end %>
      <hr/>
    </section>
  <% end %>
  <section class="markdown">
    <% unless @current_project.description.blank? %>
      <h4 class="sectionHeading">Project Description</h4>
      <hr/>
      <%= markdown @current_project.description %>
      <hr/>
    <% end %>
  </section>
  <section class="tags">
    <% unless @current_project.tag_list.empty? %>
      <% @current_project.tag_list.each do |tag| %>
        <span>
          <strong>
            <%= link_to "##{tag}", projects_path(search: "##{tag}") %>
          </strong>
        </span>
      <% end %>
    <% end %>
  </section>
  <section class="markdown">
    <% unless @current_project.data_story.blank? %>
      <h4 class="sectionHeading">Data Story</h4>
      <hr/>
      <%= markdown @current_project.data_story %>
      <hr/>
    <% end %>
  </section>
  <section class="evidence">
    <% unless @current_project.source_code_url.blank? %>
      <p>
        <a class="evidence_work" href="<%= @current_project.source_code_url %>" target="_blank">Evidence of Work</a>
      </p>
    <% end %>
    <% unless @current_project.video_url.blank? %>
      <p>
        <a class="evidence_video" href="<%= @current_project.video_url %>" target="_blank">Video</a>
      </p>
    <% end %>
    <% unless @current_project.homepage_url.blank? %>
      <p>
        <a class="evidence_homepage" href="<%= @current_project.homepage_url %>" target="_blank">Homepage</a>
      </p>
    <% end %>
    <% if @team.high_res_image.attached? %>
      <p>
        <a class="evidence_picture" href="<%= url_for(@team.high_res_image) %>" target="_blank">Project Image</a>
      </p>
    <% end %>
  </section>
</section>
