<section class="markdown">
<% unless @current_project.description.blank? %>
  <h4 class="sectionHeading">Project Description</h4>
  <hr>
  <%= markdown @current_project.description %>
  <hr>
<% end %>
</section>

<section class="markdown">
<% unless @current_project.data_story.blank? %>
  <h4 class="sectionHeading">Data Story</h4>
  <hr>
  <%= markdown @current_project.data_story %>
  <hr>
<% end %>
</section>

<section class="evidence">
<% unless @current_project.source_code_url.blank? %>
  <p><a href='<%= @current_project.source_code_url %>' target="_blank" class="evidence_work">Evidence of Work</a></p>
<% end %>

<% unless @current_project.video_url.blank? %>
  <p><a href='<%= @current_project.video_url %>' target="_blank" class="evidence_video">Video</a></p>
<% end %>

<% unless @current_project.homepage_url.blank? %>
  <p><a href='<%= @current_project.homepage_url %>' target="_blank" class="evidence_homepage">Homepage</a></p>
<% end %>
</section>
