<% if user_signed_in? %>
  <% if @users_team && @competition.in_comp_window?(@team.time_zone) %>
    <%= link_to team_management_team_path(@team) do %>
      <button class="blue-button">
        Manage this Team Project
      </button>
    <% end %>
  <% end %>
  <% if @favourite.present? %>
    <%= link_to favourite_path(@favourite), method: :delete do %>
      <button class="blue-button">
        Unfavourite this Project
      </button>
    <% end %>
  <% else %>
    <%= link_to favourites_path(favourite: {team_id: @team.id}), method: :post do %>
      <button class="blue-button">
        Favourite this Project
      </button>
    <% end %>
  <% end %>
  <% if (show_challenge_score_stuff? || show_peoples_choice_stuff?) && !@users_team %>
    <p>
      <% if @header.present? %>
        <%= link_to edit_project_scorecard_path(@current_project.identifier, @header, popup: true), id: 'open-scorecard' do %>
          <button class="blue-button">
            Edit Scorecard
            <% if @acting_on_behalf_of_user.present? %>
              for <%= @acting_on_behalf_of_user.display_name %>
            <% end %>
          </button>
        <% end %>
        <%= javascript_tag  "window._scorecard_path = '#{edit_project_scorecard_path(@current_project.identifier, @header, popup: true)}';" %>
      <% else %>
        <%= link_to new_project_scorecard_path(@current_project.identifier, popup: true), id: 'open-scorecard' do %>
          <button class="blue-button">
            New Scorecard
            <% if @acting_on_behalf_of_user.present? %>
              for <%= @acting_on_behalf_of_user.display_name %>
            <% end %>
          </button>
        <% end %>
        <%= javascript_tag "window._scorecard_path = '#{new_project_scorecard_path(@current_project.identifier, popup: true)}'" %>
      <% end %>
    </p>
  <% end %>
<% elsif @competition.in_peoples_judging_window? LAST_TIME_ZONE %>
  <div>
    <p>
      <strong>Were you a participant in this year's competition?</strong>
    </p>
    <p>
      <strong>Log in to vote in the People's Choice Awards.</strong>
    </p>
  </div>
<% end %>
