- if user_signed_in?
  - if @users_team && @competition.in_comp_window?(@team.time_zone)
    = link_to team_management_team_path(@team) do
      %button.blue-button
        Manage this Team Project
  - if @favourite.present?
    = link_to favourite_path(@favourite), method: :delete do
      %button.blue-button
        Unfavourite this Project
  - else
    = link_to favourites_path(favourite: {team_id: @team.id}), method: :post do
      %button.blue-button
        Favourite this Project
  - if (show_challenge_score_stuff? || show_peoples_choice_stuff?) && !@users_team
    - if @header.present?
      %p
        = link_to 'Edit Scorecard', edit_project_scorecard_path(@current_project.identifier, @header, popup: true), id: 'open-scorecard'
        = javascript_tag  "window._scorecard_path = '#{edit_project_scorecard_path(@current_project.identifier, @header, popup: true)}';"
    - else
      %p
        = link_to 'New Scorecard', new_project_scorecard_path(@current_project.identifier, popup: true), id: 'open-scorecard'
        = javascript_tag "window._scorecard_path = '#{new_project_scorecard_path(@current_project.identifier, popup: true)}'"
- elsif @competition.in_peoples_judging_window? LAST_TIME_ZONE
  %div
    %p
      %strong Were you a participant in this year's competition?
    %p
      %strong Sign in to vote in the People's Choice Awards.
