
<% if user_signed_in? %>

  <% if @users_team && @competition.in_competition_window?(@team.time_zone) %>
    <p><%= link_to 'Manage this Team Project', team_management_team_path(@team) %></p>
  <% end %>

  <% if @favourite.present? %>
    <p><%= link_to 'Unfavourite this Project', favourite_path(@favourite), method: :delete %></p>
  <% else %>
    <p><%= link_to 'Favourite this Project', favourites_path(team_id: @team.id), method: :post %></p>
  <% end %>

  <% if (show_challenge_judgment_stuff? || show_peoples_choice_stuff?) && !@users_team %>
    <% if @scorecard.present? %>
      <p><%= link_to 'Edit Scorecard', edit_project_scorecard_path(@current_project.identifier, @scorecard, popup: true), id: 'open-scorecard' %>
      <%= javascript_tag  "window._scorecard_path = '#{edit_project_scorecard_path(@current_project.identifier, @scorecard, popup: true)}';" %></p>
    <% else %>
      <p><%= link_to 'New Scorecard', new_project_scorecard_path(@current_project.identifier, popup: true), id: 'open-scorecard' %>
      <%= javascript_tag "window._scorecard_path = '#{new_project_scorecard_path(@current_project.identifier, popup: true)}'" %></p>
    <% end %>
    <%= javascript_tag "window._scorecard_title = 'Scorecard for #{@current_project.team_name} - #{@current_project.project_name}'" %>
  <% end %>

<% elsif @competition.in_peoples_judging_window?(LAST_TIME_ZONE) %>
	<div>
    <p><strong>Were you a participant in this year's competition?</strong></p>
    <p><strong>Sign in to vote in the People's Choice Awards.</strong></p>
	</div>
<% end %>
