<main class="team_page">
<h2><%= @current_project.project_name %></h2>

<aside>
  <% if user_signed_in? && @user.in_team?(@team) %>
  <p><%= link_to 'Manage this Team Project', team_management_team_path(@team) %></p>
  <% end %>
  <% if @favourite.present? %>
    <p><%= link_to 'Unfavourite this Project', favourite_path(@favourite),
                  method: :delete %></p>
  <% else %>
    <p><%= link_to 'Favourite this Project', favourites_path(team_id: @team.id), method: :post %></p>
  <% end %>
</aside>


<% if user_signed_in? && in_peoples_choice_window? %>
  <h3>People's Choice</h3>
  <% if @user.in_team?(@team) %>
    <p>Your team project is being judged in the People's Choice Awards.</p>
  <% elsif @peoples_scorecard.present? %>
    <p>You gave this team a score of <%= @peoples_scorecard.display_score %></p>
    <%= link_to 'Update Scorecard', edit_peoples_scorecard_path(@peoples_scorecard) %><br>
  <% else %>
    <p>You are yet to judge this project.</p>
    <%= link_to 'Vote', new_peoples_scorecard_path(team_id: @team.id) %><br>
  <% end %>
<% elsif in_peoples_choice_window? %>
  <p>Login to vote for this project in the People's Choice Awards.</p>
<% end %>

<h3>Project Info</h3>

<%= render 'team_project_info' %>

<h3>Team DataSets</h3>

<section class="markdown">

<% if (team_data_sets = @team.team_data_sets).present? %>

  <% team_data_sets.each do |team_data_set| %>
    <%= render 'team_data_set', locals: { data_set: team_data_set } %>
  <% end %>

<% else %>
  <div>This team does not currently have any datasets.</div>
<% end %>

</section>
<h3>Challenges</h3>
<section class="markdown">
  <% if passed_checkpoints.present? %>

    <% if @entries_to_display.present? %>

      <% @entries_to_display.each do |entry| %>
        <% challenge = entry.challenge %>
        <section class="markdown">
            <h4><%= challenge.name %></h4>
            <p><strong>Region</strong>: <%= @id_regions[challenge.region_id].name %></p>
            <%= link_to 'Challenge', challenge_path(challenge) %>
        </section>

      <% end %>

    <% else %>

      <p>There are no challenges to display for this team as yet.</p>

    <% end %>

  <% else %>

    <p>Check back here once the first checkpoint passes to see the challenges
      this team has entered.</p>

  <% end %>

</section>

<%= link_to 'Back to Projects', projects_path %>
  </main>
