<% content_for :title, @current_project.project_name %>
<% if @current_project.description %>
  <% set_meta_tags description: @current_project.description %>
  <% set_meta_tags og: { description: @current_project.description } %>
<% end %>
<main class="team_page">
  <%= render 'side_menu' %>
  <section class="team_project_section">
    <h1>
      <%= yield :title %>
    </h1>
    <aside class="fav_judge">
      <%= render 'user_options' %>
    </aside>
    <h3>Project Info</h3>
    <%= render 'team_project_info' %>
    <h3>Team DataSets</h3>
    <section class="markdown">
      <% if (team_data_sets = @team.team_data_sets).present? %>
        <% team_data_sets.each do |team_data_set| %>
          <%= render 'team_data_set', locals: { data_set: team_data_set } %>
        <% end %>
      <% else %>
        <div>This team does not currently have any datasets.</div>
      <% end %>
    </section>
    <h3>Challenge Entries</h3>
      <% if @entries.any? %>
        <% @entries.each do |entry| %>
          <%= render 'challenges/challenge_panel',
            challenge: entry.challenge,
            entry_count: entry.challenge.published_entries.length
          %>
        <% end %>
      <% else %>
        <section class="markdown">
          <p>There are no challenge entries to display for this team as yet.</p>
        </section>
      <% end %>
    <div class="links">
      <p>
        <%= link_to 'Back to Projects', projects_path %>
      </p>
      <% if current_user&.admin_privileges? @competition %>
        <p>
          <%= link_to "Administer #{@current_project.team_name}", admin_competition_team_path(@competition, @team) %>
        </p>
      <% end %>
    </div>
  </section>
</main>
