- content_for :title, @current_project.project_name
%main.team_page
  %section
    %h2= yield :title
    %aside.fav_judge
      = render 'user_options'
    %h3 Project Info
    = render 'team_project_info'
    %h3 Team DataSets
    %section.markdown
      - if (team_data_sets = @team.team_data_sets).present?
        - team_data_sets.each do |team_data_set|
          = render 'team_data_set', locals: { data_set: team_data_set }
      - else
        %div This team does not currently have any datasets.
    %h3 Challenges
    - if @entries.any?
      - @entries.each do |entry|
        = render 'challenges/challenge_panel',               |
          challenge: entry.challenge,                        |
          entry_count: entry.challenge.published_entries.length
    - else
      %p There are no challenge entries to display for this team as yet.
    %div.links
      %p= link_to 'Back to Projects', projects_path
      - if current_user&.region_privileges? @competition
        %p= link_to "Administer #{@current_project.team_name}", admin_competition_team_path(@competition, @team)
