<main class="team_page">
  <% if params[:logo].present? %>
    <h2>Edit Logo for <%= @sponsor.name %></h2>
    <%= render 'edit_logo' %>
  <% else %>
    <h2>Edit Sponsor <%= @sponsor.name %></h2>
    <%= render 'form' %>
  <% end %>
  <%= link_to 'Back to Sponsor', admin_sponsor_path(@sponsor) %>
</main>
