<h2>Competition <%= @competition.year %> Sponsors </h2>

<% @sponsors.each do |sponsor| %>

  <h3><%= sponsor.name %></h3>
  <% if sponsor.logo.attached? %>
    <img src="<%= url_for(sponsor.logo) %>" alt="<%= sponsor.name %> logo" /><br>
  <% end %>

  <article><%= sponsor.description %></article>

  <%= link_to 'Got to Sponsor', admin_sponsor_path(sponsor) %>

<% end %>


<%= link_to 'New Sponsor', new_admin_sponsor_path %><br>
