<main class="team_page">
  <h2>Competition <%= @competition.year %> Sponsors </h2>

  <% @sponsors.each do |sponsor| %>

    <h3><%= sponsor.name %></h3>
    <% if sponsor.logo.attached? %>
      <p><img src="<%= url_for(sponsor.logo) %>" alt="<%= sponsor.name %> logo" /></p>
    <% end %>

    <article><%= sponsor.description %></article>

    <p><%= link_to 'Go to Sponsor', admin_sponsor_path(sponsor) %></p>

  <% end %>

  <p><%= link_to 'New Sponsor', new_admin_sponsor_path %></p>
  <p><%= link_to 'Back to Account Management', manage_account_path %></p>
</main>
