%main.team_page.admin-sponsors
  %h2
    Competition #{@competition.year} Sponsors
  %p= link_to 'New Sponsor', new_admin_competition_sponsor_path(@competition)
  - @sponsors.each do |sponsor|
    %h3= sponsor.name
    %figure
      - if sponsor.logo.attached?
        %img{:alt => "#{sponsor.name} logo", :src => "#{url_for(sponsor.logo)}"}/
    %article= sponsor.description
    %p= link_to 'Go to Sponsor', admin_competition_sponsor_path(sponsor.competition_id, sponsor)
%p= link_to 'Back to Account Management', manage_account_path
- if @admin_privileges
  %p= link_to 'Back to Competition Management', admin_competition_path(@competition)
