- content_for :title, 'Sponsors'
%main.project_index
  %h2
    Competition #{@competition.year} Sponsors
  %p= link_to 'New Sponsor', new_admin_competition_sponsor_path(@competition), class: 'download-csv'

  %table.projects-table#admin-sponsors-table{'data-turbolinks' => 'false'}
    %thead
      %th Name
      %th Sponsorships
      %th Event Partnerships
      %th Challenge Sponsorships
    %tbody
      - @sponsors.each do |sponsor|
        %tr
          %td= link_to sponsor.name, admin_competition_sponsor_path(sponsor.competition_id, sponsor)
          %td= sponsor.sponsorships.length
          %td= sponsor.event_partnerships.length
          %td= sponsor.challenge_sponsorships.length

%p= link_to 'Back to Account Management', manage_account_path
- if @admin_privileges
  %p= link_to 'Back to Competition Management', admin_competition_path(@competition)
