- event = locals[:event]
- region = event.region
%h4= "#{event.name} in #{region.name}"
- unless event.start_time.blank?
  Start Time: #{event.start_time.strftime("%-d/%-m/%y: %H:%M")}
  %br/
- unless event.end_time.blank?
  End Time: #{event.end_time.strftime("%-d/%-m/%y: %H:%M")}
  %br/
= "#{event.attending_participants_count}/#{event.capacity} (participants attending / capacity)"
%br/
- if event.admin_privileges?(current_user)
  = link_to 'Manage this Event', admin_region_event_path(region, event)
  %br/
