= form_for [:admin, @region, @event] do |form|
  .field
    = form.label :published
    = form.check_box :published, { checked: @event.published }
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :registration_type
    = form.select(:registration_type, options_for_select(EVENT_REGISTRATION_TYPES, @event.registration_type))
  .field
    = form.label :event_type
    = form.select(:event_type, options_for_select(EVENT_TYPES, @event.event_type))
  .field
    = form.label :capacity
    = form.number_field :capacity
  .field
    = form.label :description
    = form.text_area :description
  .field
    = form.label :start_time
    = form.datetime_local_field :start_time
  .field
    = form.label :end_time
    = form.datetime_local_field :end_time
  .field
    = form.label :email
    = form.email_field :email
  .field
    = form.label :twitter
    = form.text_field :twitter
  .field
    = form.label :address
    = form.text_area :address
  .field
    = form.label :place_id, 'Google Place ID'
    = form.text_field :place_id
  = link_to 'Use this link to find your Event Location\'s Google Place ID', 'https://developers.google.com/places/place-id', { target: '_blank' }
  .field
    = form.label :video_id, 'YouTube Video ID'
    = form.text_field :video_id
  .field
    = form.label :accessibility
    = form.text_area :accessibility
  .field
    = form.label :youth_support
    = form.text_area :youth_support
  .field
    = form.label :parking
    = form.text_area :parking
  .field
    = form.label :public_transport
    = form.text_area :public_transport
  .field
    = form.label :operation_hours
    = form.text_area :operation_hours
  .field
    = form.label :catering
    = form.text_area :catering
  .actions
    = form.submit
