%main.team_page
  %h2
    Events for Region #{@region.name}
  = link_to "Create New Event", new_admin_region_event_path(@region)
  - if @events.present?
    %h3 Connection Events
    - @connection_events.each do |event|
      = render 'event_single', locals: { event: event }
    %h3 Competition Events
    - @competition_events.each do |event|
      = render 'event_single', locals: { event: event }
    %h3 Awards Events
    - @award_events.each do |event|
      = render 'event_single', locals: { event: event }
  - else
    %p There are currently no events planned for the current Competitition.
%p= link_to 'Back to Region', admin_competition_region_path(@competition, @region)
