%main.team_page
  %section.team_page_body
    %h2
      Events for Region #{@region.name}
    = link_to "Create New Event", new_admin_region_event_path(@region), class: 'download-csv'
    - if @events.present?
      %table.projects-table#admin-events-table{'data-turbolinks' => 'false'}
        %thead
          %th Event
          %th Region
          %th Type
          %th Start Date
          %th Start Time
          %th End Date
          %th End Time
          %th Attending Registrations
        %tbody
          - @events.each do |event|
            %tr
              %td
                - if event.admin_privileges?(current_user)
                  = link_to event.name, admin_region_event_path(event.region, event)
                - else
                  = event.name
              %td= event.region.name
              %td= event.event_type
              %td= event.start_time&.strftime('%b %d')
              %td= event.start_time&.strftime('%H:%M')
              %td= event.end_time&.strftime('%b %d')
              %td= event.end_time&.strftime('%H:%M')
              %td #{event.attending_registrations.length} / #{event.registrations.length}
    - else
      %p There are currently no events planned for the current Competition.
    %p= link_to 'Back to Region', admin_competition_region_path(@competition, @region)
