<main class="team_page">
  <h2>Events for Region <%= @region.name %></h2>
  <%= link_to "Create New Event", new_admin_region_event_path(@region) %>

  <% if @events.present? %>

    <h3>Connection Events</h3>

    <% @connection_events.each do |event| %>
      <%= render 'event_single', locals: { event: event } %>
    <% end %>

    <h3>Competition Events</h3>

    <% @competition_events.each do |event| %>
      <%= render 'event_single', locals: { event: event } %>
    <% end %>

    <h3>Awards Events</h3>

    <% @award_events.each do |event| %>
      <%= render 'event_single', locals: { event: event } %>
    <% end %>

  <% else %>
    <p>There are currently no events planned for the current Competitition.</p>
  <% end %>
</main>
<p><%= link_to 'Back to Region', admin_competition_region_path(@competition, @region) %></p>
