<% content_for :title, "#{@event.name} Event" %>
<main class="team_page">
  <h2>
    <%= yield :title %>
  </h2>
  <h3>Event Information</h3>
  <p>
    Region: <%= @region.name %>
  </p>
  <p>
    Event Category: <%= @event.event_type %>
  </p>
  <p>
    Registration Type: <%= @event.registration_type %>
  </p>
  <p>
    Event Capacity: <%= @event.capacity %>
  </p>
  <p>
    <%= link_to "Edit #{@event.name} Event", edit_admin_region_event_path(@region, @event) %>
  </p>
  <% if @event.published? %>
    <p>This event has been published and is in public view.</p>
    <%= link_to 'Go to Event Page', event_path(@event.identifier) %>
  <% else %>
    <p>This event has not been published.</p>
    <%= link_to 'Go to Preview Page', preview_admin_region_event_path(@region, @event) %>
  <% end %>
  <h3>Event Assignments</h3>
  <h4>Event Host</h4>
  <% if (host = @event.event_host).present? %>
    <%= render 'admin/shared/user_contact', locals: { user: host } %>
  <% else %>
    <p>This event does not currently have a host.</p>
    <p>
      <%= link_to "New #{EVENT_HOST} Assignment", new_admin_event_assignment_path(@event, title: EVENT_HOST) %>
    </p>
  <% end %>
  <h4>Event Support</h4>
  <p>
    <%= pluralize @event.event_supports.count, 'event support' %>
    currently assigned to event.
  </p>
  <p>
    <%= link_to "Manage #{@event.name} Assignments", admin_event_assignments_path(@event) %>
  </p>
  <h3>Event Registrations</h3>
  <% if @event.at_capacity? %>
    <p>
      <strong>This event is at capacity</strong>
    </p>
    <p>All future participant registrations will be added to the waiting list.</p>
  <% end %>
  <p>
    <%= pluralize @event.registrations.attending.count, 'guest' %>
    attending
    ( <%= pluralize @event.participant_registrations.attending.count, 'participant' %> and
    <%= pluralize @event.vip_registrations.attending.count, 'vip' %>).
  </p>
  <% if @event.waitlist? %>
    <p>
      <%= pluralize @event.registrations.waitlist.count, 'participant' %>
      on the wait list.
    </p>
  <% end %>
  <p>
    <%= pluralize @event.registrations.non_attending.count, 'guest' %>
    registered not attending.
  </p>
  <p>
    <%= link_to "Manage #{@event.name} Registrations", admin_event_registrations_path(@event) %>
  </p>
  <h3>Event Partners</h3>
  <% if (event_partnerships = @event.event_partnerships).present? %>
    <% event_partnerships.each do |event_partnership| %>
      <p>
        <%= render 'admin/sponsors/sponsor', locals: { sponsor: event_partnership.sponsor } %>
      </p>
    <% end %>
  <% end %>
  <p>
    <%= link_to 'Add Event Partner', new_admin_event_event_partnership_path(@event) %>
  </p>
  <% if @region.international? && @event.event_type == AWARD_EVENT %>
    <h3>Flights</h3>
    <p>
      <%= pluralize @inbound_flights.count, 'inbound flight' %>
      saved.
    </p>
    <p>
      <%= pluralize @outbound_flights.count, 'outbound flight' %>
      saved.
    </p>
    <p>
      <%= link_to 'Manage Event Flights', admin_event_flights_path(@event) %>
    </p>
    <h3>Bulk Mails</h3>
    <p>
      <%= pluralize @bulk_mails.count, 'bulk mail' %>
      created for this event.
    </p>
    <p>
      <%= link_to 'Bulk Mails', admin_event_bulk_mails_path(@event) %>
    </p>
  <% end %>
</main>
<% if @region.admin_privileges?(current_user) %>
  <p>
    <%= link_to "Back to #{@region.name} Events", admin_region_events_path(@region) %>
  </p>
<% end %>
<% if current_user.event_privileges? @competition %>
  <p>
    <%= link_to "Back to Event Management", admin_competition_events_path(@competition) %>
  </p>
<% end %>
