<main class="team_page">

<h2><%= "Update #{@team.name}'s Entry to Challenge #{@challenge.name}" %></h2>

<%= form_for [:admin, @team, @entry] do |form| %>
<div class="field">
  <%= form.label :checkpoint_id %>
  <%= form.select :checkpoint_id, options_from_collection_for_select(@checkpoints, :id, :name, @entry.checkpoint_id.to_s) %>
</div>
<div class="field">
  <%= form.label :justification %>
  <%= form.text_area :justification %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<%= link_to 'Back To Team', admin_team_path(@team) %>

</main>
