<main class="team_page">
<h2><%= @team.name %></h2>

<%= form_for [:admin, @team, @entry] do |form| %>

  <%= hidden_field_tag(:checkpoint_id, params[:checkpoint_id]) %>
  <%= hidden_field_tag(:challenge_type, params[:challenge_type]) %>

  <%= form.label :challenge_id %><br>
  <%= form.select(:challenge_id, options_from_collection_for_select(@challenges, :id, :name)) %><br>

  <%= form.label :justification %><br>
  <%= form.text_area :justification %><br>

  <%= form.submit %>
<% end %>

<%= link_to 'Back To Team', admin_team_path(@team) %>
</main>
