%main.team_page
  %h2= @team.name
  = form_for [:admin, @team, @entry] do |form|
    = hidden_field_tag :challenge_type, params[:challenge_type]
    = form.hidden_field :checkpoint_id, value: params[:checkpoint_id]
    = form.label :challenge_id
    %br/
    = form.select :challenge_id, options_from_collection_for_select(@challenges, :id, :name)
    %br/
    = form.label :justification
    %br/
    = form.text_area :justification
    %br/
    = form.submit
%p= link_to 'Back To Team', admin_competition_team_path(@competition, @team)
