%main.project_index
  %h2
    People's Choice Voting for #{@competition.name} #{'(with Judges)' if params[:include_judges] == 'true'}
  - if current_user.is_site_admin?(@competition) && !(params[:include_judges] == 'true')
    %p= link_to 'Download CSV (Peoples Judges Report)', admin_competition_scorecards_path(@competition, format: 'csv'), class: 'download-csv'
  = render 'admin/teams/scorecards/team_scorecards'
  = link_to "Back to #{@competition.name}", admin_competition_path(@competition)
