<h2><%= @challenge.name %> Challenge <%= @region.name %> Region</h2>

Name: <%= @challenge.name %><br>
<% unless @challenge.short_desc.blank? %>
  Short Description: <%= @challenge.short_desc %><br>
<% end %>
<% unless @challenge.long_desc.blank? %>
  Long Description: <%= @challenge.long_desc %><br>
<% end %>
<% unless @challenge.eligibility.blank? %>
  Eligibility: <%= @challenge.eligibility %><br>
<% end %>
<% unless @challenge.video_url.blank? %>
  Video URL: <%= @challenge.video_url %><br>
<% end %>
<% unless @challenge.data_set_url.blank? %>
  Data Set URL: <%= @challenge.data_set_url %><br>
<% end %>

<h3>Sponsorships</h3>

<% if (sponsorships = @challenge.sponsorships).present? %>

  <% sponsorships.each do |sponsorship| %>
    <%= render 'admin/sponsors/sponsor', locals: { sponsor: sponsorship.sponsor } %>
    Sponsorship Type: <%= sponsorship.sponsorship_type.name %><br>
  <% end %>

<% else %>

  <div>There are currently no sponsorships for this challenge in the current competition.</div>

<% end %>

<%= link_to 'Add Sponsorship', new_admin_challenge_sponsorship_path(@challenge) %><br>

<%= link_to "Update #{@challenge.name} Challenge", edit_admin_region_challenge_path(@region, @challenge) %><br>
<%= link_to "Back to #{@region.name} Region", admin_region_path(@region) %>
