<h2><%= @challenge.name %> Challenge <%= @region.name %> Region</h2>

<% if @challenge.image.attached? %>
  <img src="<%= url_for(@challenge.image) %>" alt="<%= @challenge.name %> image" /><br>
<% else %>
  <%= image_tag "default_profile_pic.png" %><br>
<% end %>
<%= link_to 'Update Image', edit_admin_region_challenge_path(@region, @challenge, image: true) %><br>

<% unless @challenge.short_desc.blank? %>
  Short Description: <%= @challenge.short_desc %><br>
<% end %>
<% unless @challenge.long_desc.blank? %>
  Long Description: <%= @challenge.long_desc %><br>
<% end %>
<% unless @challenge.eligibility.blank? %>
  Eligibility: <%= @challenge.eligibility %><br>
<% end %>
<% unless @challenge.video_url.blank? %>
  <a href='<%= @challenge.video_url %>' target="_blank">Video</a><br>
<% end %>

<% if @challenge.pdf.attached? && @challenge.pdf_preview.attached? %>
  <a href='<%= url_for(@challenge.pdf) %>' target="_blank">
    <img src="<%= url_for(@challenge.pdf_preview) %>" alt="<%= @challenge.name %> pdf_preview" title="Govhack Hackerspace" /><br>
  </a>
<% end %>

<% unless @challenge.pdf.attached? %>
  This Challenge does not have a PDF.<br>
<% end %>
<% unless @challenge.pdf_preview.attached? %>
  This Challenge does not have a PDF Preview.<br>
<% end %>

<%= link_to 'Update PDF Preview', edit_admin_region_challenge_path(@region, @challenge, pdf_preview: true) %><br>
<%= link_to 'Update PDF', edit_admin_region_challenge_path(@region, @challenge, pdf: true) %><br>

<% unless @challenge.approved %>
  <strong>This challenge is yet to be approved.</strong><br>
<% end %>
<%= link_to 'Go to Challenge Page', challenge_path(@challenge) %><br>
<%= link_to "Update Challenge", edit_admin_region_challenge_path(@region, @challenge) %><br>

<h3>Teams Competing</h3>

<%= pluralize @challenge.entries.count, 'team' %> entered challenge.<br>

<%= link_to 'Go to Challenge Entries', admin_challenge_entries_path(@challenge) %>

<h3>Judges</h3>

<% if (judges = @challenge.assignments).present? %>
  <% judges.each do |judge| %>
    <%= render 'admin/shared/user_contact', locals: { user: judge.user } %>
  <% end %>
<% else %>
  This challenge does not currently have any judges assigned.<br>
<% end %>

<%= link_to "New #{JUDGE} Assignment", new_admin_challenge_assignment_path(@challenge, title: JUDGE) %><br>

<h3>Challenge Sponsorships</h3>

<% if @challenge_sponsorships.present? %>

  <% @challenge_sponsorships.each do |sponsorship| %>
    <%= render 'admin/sponsors/sponsor', locals: { sponsor: sponsorship.sponsor } %>
    <%= link_to 'Destroy Challenge Sponsorship', admin_challenge_challenge_sponsorship_path(@challenge, sponsorship),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br>
  <% end %>
<% else %>

  <div>There are currently no sponsorships for this challenge in the current competition.</div>

<% end %>

<%= link_to 'Add Sponsorship', new_admin_challenge_challenge_sponsorship_path(@challenge) %><br>

<h3>Challenge Data Sets</h3>

<% if @challenge_data_sets.present? %>

  <% @challenge_data_sets.each do |challenge_data_set| %>
    <% data_set = challenge_data_set.data_set %>
    <h4><%= data_set.name %></h4>
    <%= data_set.url %><br>
    <%= link_to 'Destroy Challenge Data Set', admin_challenge_challenge_data_set_path(@challenge, challenge_data_set),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %><br>
  <% end %>
<% else %>

  <div>There are currently no data sets for this challenge in the current competition.</div>

<% end %>

<%= link_to 'Add Data Set', new_admin_challenge_challenge_data_set_path(@challenge) %><br>

<%= link_to "Back to #{@region.name} Region", admin_region_path(@region) %>
