%main.team_page
  %h2 Add New Staff Flight Registration
  = form_tag new_admin_event_staff_flight_path, method: :get do
    = search_field_tag :term, params[:term]
    = submit_tag 'Search'
  - if @user.present?
    = render 'admin/shared/user_contact', locals: { user: @user }
    %p= "#{@assignment.title} at #{@assignment.assignable.name}"
    - if @existing_registration.present?
      %p
        Staff Registration for #{@user.full_name} already exists.
      %p= link_to 'Update Registration', edit_admin_event_registration_path(@event, @existing_registration)
    - else
      %p= link_to 'Create Staff Invitation', admin_event_staff_flights_path(@event, registration: { assignment_id: @assignment.id, holder_id: @assignment.holder_id }), method: :post
  - elsif @users.present?
    - @users.each do |user|
      = render 'admin/shared/user_contact', locals: { user: user }
      - if (staff_assignments = user.staff_assignments.where(competition: @competition)).any?
        - staff_assignments.each do |assignment|
          %p= link_to "Select as #{assignment.title} at #{assignment.assignable.name}", new_admin_event_staff_flight_path(@event, term: assignment.id)
      - else
        %p
          %strong This Participant does not have any staff assignments.
  - elsif params[:term].present?
    %p
      Apologies, no staff name matching search term '#{params[:term]}'
  - else
    %p Please enter an email address or name to search for a staff member.
= link_to "Back to #{@event.name} Registrations", admin_event_registrations_path(@event)
