- content_for :title, 'Sign In'
%main.registration.signin
  %container
    %section.signup-form
      %h2.heading Sign in to Hackerspace
      - unless Rails.env.production?
        %div.google-oath
          -# TODO: remove once https://github.com/omniauth/omniauth/pull/809 is resolved
          -# = link_to (render "devise/shared/google"), user_google_omniauth_authorize_path, method: :post
          %hr.grey-border
          -# %p.alt-text or sign in below
          %p.alt-text
            Google Sign in is unavailable at this time, please use the
            = link_to 'forgot password link', new_user_password_path
            if you need to regain access to an existing Hackerspace account.
      %section
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          - if devise_mapping.rememberable?
            .custom-control.custom-checkbox
              = f.check_box :remember_me, class:'custom-control-input'
              = f.label :remember_me, class: 'custom-control-label'
          .actions
            = f.submit 'Sign in'
          = render "devise/shared/links"
