<% content_for :title, 'Log In' %>
<main class="registration signin">
  <container>
    <section class="signup-form">
      <h2 class="heading">Log in to Hackerspace</h2>
      <div class="google-oath">
        <%= link_to (render "devise/shared/google", locals: { google_label: 'Log in with Google'}), user_google_omniauth_authorize_path, method: :post %>
        <hr class="grey-border">
        <p class="alt-text"> or log in below</p>
      </div>
      <!-- login form -->
      <section>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <div class="email-wrapper">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <div class="password-wrapper">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password-field' %>
              <span class="toggle-password" onclick="togglePasswordVisibility()">
                <i class="fa fa-eye" id="toggle-password-icon"></i>
              </span>
            </div>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="custom-control custom-checkbox">
              <%= f.check_box :remember_me, class:'custom-control-input' %>
              <%= f.label :remember_me, class: 'custom-control-label' %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit 'Log In' %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </section>
    </section>
    <!-- image -->
    <section class="rhs-image"></section>
  </container>
</main>
