<% content_for :title, "Resources for #{@competition.name}" %>
<main class="dataset_page">
  <h2>
    <%= yield :title %>
  </h2>
  <section class="dataportals">
    <% if @any_data_portals %>
      <%= link_to data_portals_resources_path do %>
        <article>
          <div>
            <h3>Data Portals</h3>
          </div>
        </article>
      <% end %>
    <% end %>
    <%= link_to data_sets_path do %>
      <article class="resource_tile">
        <div>
          <h3>Datasets</h3>
        </div>
      </article>
    <% end %>
    <% if @any_tech %>
      <%= link_to tech_resources_path do %>
        <article>
          <div>
            <h3>Tech</h3>
          </div>
        </article>
      <% end %>
    <% end %>
    <% @information.each do |information| %>
      <%= link_to visits_path(visit: {visitable_type: 'Resource', visitable_id: information.id}), target: '_blank' do %>
        <article>
          <div>
            <h3><%= information.name %></h3>
          </div>
        </article>
      <% end %>
    <% end %>
  </section>
</main>
