<% content_for :title, 'Demographics' %>
<main class="registration single-col edit-account">
  <container class="registration">
    <section class="signup-form">
    <div class="form-wrapper">
      <h2 class="heading">
        <%= yield :title %>
      </h2>
      <%= form_with model: @profile, url: demographic_path(@profile), method: :patch do |form| %>
        <article>
          <strong>
            GovHack values diversity and inclusion. The following fields are
            completely optional and are used strictly for reporting on our progress
            in making GovHack inclusive for all. You may choose to skip some or all
            of the questions. We would be grateful for any answers you do provide
            and these are stored securely and will not be passed onto a third party
            except in aggregated, de-identified form.
          </strong>
        </article>
        <div class="form-group">
          <%= form.label :gender %>
          <%= form.text_field :gender, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :first_peoples %>
          <%= form.select :first_peoples,
            options_for_select(Profile.first_peoples.keys, selected: @profile.first_peoples), 
            include_blank: true %>
        </div>
        <div class="form-group">
          <%= form.label :disability %>
          <%= form.select :disability, 
            options_for_select(Profile.disabilities.keys, selected: @profile.disability), 
            include_blank: true
           %>
        </div>
        <div class="form-group">
          <%= form.label :education %>
          <%= form.select :education, 
            options_for_select(Profile.educations.keys, selected: @profile.education), 
            include_blank: true
          %>
        </div>
        <div class="form-group">
          <%= form.label :employment %>
          <%= form.select :employment, 
            options_for_select(Profile.employments.keys, selected: @profile.employment), 
            include_blank: true
          %>
        </div>
        <div class="form-group">
          <%= form.label :age %>
          <%= form.select :age, 
            options_for_select(Profile.ages.keys, selected: @profile.age), 
            include_blank: true
          %>
        </div>
        <div class="form-group">
          <%= form.label :postcode %>
          <%= form.text_field :postcode, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= form.submit 'Submit' %>
        </div>
      <% end %>
      </div>
    </section>
    <section class="signup-content">
      <section class="content">
        <p class="leading-text">Welcome to</p>
        <h2 class="heading">GovHack 2021</h2>
        <p class="description">
        GovHack is an international competition for people of all abilities who seek to make life better through open data.
        </p>
        <p class="description">
        Across one weekend, thousands come together to form teams, agree projects, and participate in what has become one of the world’s largest open data competition. 
        </p>
      </section>
    </section>
  </container>
</main>
