<% options = locals[:options] %>
<%= form_for [:admin, @event, @registration] do |f| %>
  <% options.each do |status| %>
    <%= f.radio_button(:status, status, options = {checked: @registration.status == status}) %>
    <%= f.label(:status, status) %>
  <% end %>
  <div class="actions">
    <%= f.hidden_field :assignment_id, value: @event_assignment.id %>
    <%= f.hidden_field :holder_id, value: @event_assignment.holder_id %>
    <%= f.submit %>
  </div>
<% end %>
