<h2>Add New Individual Golden Ticket Registration</h2>

<%= form_tag(new_admin_event_registration_path, method: :get) do %>
  <%= search_field_tag :term, params[:term] %>
  <%= hidden_field_tag :type, INDIVIDUAL_GOLDEN %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @user.present? # User found show registration options. %>

  <%= render 'admin/shared/user_contact', locals: { user: @user } %>

  <% if @existing_registration.present? # check for existing registration %>
    <p>Registration for <%= @user.full_name %> already exists.</p>
    <p><%= link_to 'Update Registration', edit_admin_event_registration_path(@event, @existing_registration) %></p>
  <% else %>
    <p><%= link_to 'Assign Golden Ticket', admin_event_registrations_path(@event, type: INDIVIDUAL_GOLDEN, user_id: @user.id), method: :post %></p>
  <% end %>

<% elsif @users.present? # Review search results %>

  <% @users.each do |user| %>
    <%= render 'admin/shared/user_contact', locals: { user: user } %>
    <%= link_to 'Select', new_admin_event_registration_path(@event, term: user.email, type: INDIVIDUAL_GOLDEN) %><br>
  <% end %>

<% elsif params[:term].present? # Could not find anything. %>

  Apologies, no name matching search term '<%= params[:term] %>'<br>

<% else # No search term entered / first visit to page %>

  Please enter an email address or name to search for a user.<br>

<% end %>
