<h2>Add New Group Golden Ticket Registration</h2>

<%= form_tag(new_admin_event_registration_path, method: :get) do %>
  <%= search_field_tag :term, params[:term] %>
  <%= hidden_field_tag :type, GROUP_GOLDEN %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @team.present? # User found show registration options. %>

  <h3><%= @project.team_name %> | <%= @project.project_name %></h3>
  <% if @leader.present? %>
    <p>Team Leader: <%= @leader.display_name %></p>
    <% if @existing_registration.present? # check for existing registration %>
      <p>Golden Ticket Registration for <%= @user.full_name %> already exists for <%= @project.team_name %>.</p>
      <p><%= link_to 'Update Registration', edit_admin_event_registration_path(@event, @existing_registration) %></p>
    <% else %>
      <p><%= link_to 'Assign Group Golden Ticket', admin_event_registrations_path(@event, type: GROUP_GOLDEN, team_id: @team.id), method: :post %></p>
    <% end %>
  <% else %>
    <p>No team leader assigned for this team.</p>
  <% end %>

<% elsif @teams.present? # Review search results %>

  <% @teams.each do |team| %>
    <h3><%= team.current_project.team_name %> | <%= team.current_project.project_name %></h3>
    <%= link_to 'Select', new_admin_event_registration_path(@event, term: project.team_id, type: GROUP_GOLDEN) %><br>
  <% end %>

<% elsif params[:term].present? # Could not find anything. %>

  <p>Apologies, no team project name matching search term '<%= params[:term] %>'</p>

<% else # No search term entered / first visit to page %>

  <p>Please enter a team or project name to search.</p>

<% end %>
