<h2>Add New Staff Flight Registration</h2>

<%= form_tag(new_admin_event_registration_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= hidden_field_tag :type, STAFF %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @user.present? # User found show registration options. %>

  <%= render 'admin/shared/user_contact', locals: { user: @user } %>
  <p><%= "#{@assignment.title} at #{@assignment.assignable.name}" %></p>

  <% if @existing_registration.present? # check for existing registration %>
    <p>Staff Registration for <%= @user.full_name %> already exists.</p>
    <p><%= link_to 'Update Registration', edit_admin_event_registration_path(@event, @existing_registration) %></p>
  <% else %>
    <p><%= link_to 'Create Staff Invitation', admin_event_registrations_path(@event, type: STAFF, assignment_id: @assignment.id), method: :post %></p>
  <% end %>

<% elsif @users.present? # Review search results %>

  <% @users.each do |user| %>
    <%= render 'admin/shared/user_contact', locals: { user: user } %>
    <% @user_id_assignments[user.id].each do |assignment| %>
      <% next if assignment.assignable_type == 'Team' %>
      <% next if [PARTICIPANT, VIP].include? assignment.title %>
      <p><%= link_to "Select as #{assignment.title} at #{assignment.assignable.name}", new_admin_event_registration_path(@event, term: assignment.id, type: STAFF) %></p>
    <% end %>
  <% end %>

<% elsif params[:term].present? # Could not find anything. %>

  <p>Apologies, no staff name matching search term '<%= params[:term] %>'</p>

<% else # No search term entered / first visit to page %>

  <p>Please enter an email address or name to search for a staff member.</p>

<% end %>
