%main.team_page
  %section.team_page_body
    %h2
      Update Registration for #{@user.display_name} #{@event.name} #{@region.name}
    - if @event.not_attending?(@event_assignment) && @event.at_capacity?
      %p This event is at capacity.
      = render 'form', locals: { options: [WAITLIST, NON_ATTENDING] }
    - elsif @event.waitlisted? @event_assignment
      %p Waitlist, will be emailed should a space become available.
      \#{render 'form', locals: { options: [WAITLIST, NON_ATTENDING] }}
    - elsif @registration.status == ATTENDING
      %p Registered as attending.
      \#{render 'form', locals: { options: [ATTENDING, NON_ATTENDING] }}
    - elsif @registration.status == NON_ATTENDING
      %p Registered as not attending.
      \#{render 'form', locals: { options: [ATTENDING, NON_ATTENDING] }}
  %p= link_to 'Back to Registrations', admin_event_registrations_path(@event)
