<main class="team_page">
  <h2>Add New Registration</h2>

  <%= form_tag new_admin_event_registration_path, method: :get do %>
    <%= search_field_tag :term, params[:term] %>
    <%= submit_tag 'Search' %>
  <% end %><br>

  <% if @user.present? %>

    <%= render 'admin/shared/user_contact', locals: { user: @user } %>
    <p>Event Assignment: <%= @event_assignment.title %></p>
    <p><%= link_to 'Update Event Assignment', admin_user_path(@user) %></p>

    <% unless @existing_registration.present? %>

      <% if @event_assignment.title == VIP || @event.below_capacity?%>
        <%= render 'form', locals: { options: [ATTENDING, NON_ATTENDING] } %>
      <% else %>
        <strong>This event is at capacity</strong><br>
        <p>All future participant registrations will be added to the waiting list.</p>
        <%= render 'form', locals: { options: [WAITLIST, NON_ATTENDING] } %>
      <% end %>

    <% else %>
      <p>Registration for <%= @user.full_name %> already exists.</p>
      <p><%= link_to 'Update Registration', edit_admin_event_registration_path(@event, @existing_registration) %></p>
    <% end %>

  <% elsif @users.present? %>

    <% @users.each do |user| %>
      <%= render 'admin/shared/user_contact', locals: { user: user } %>
      <p>Event Assignment: <%= (event_assignment = user.event_assignment(@competition)).title %></p>
      <p><%= link_to 'Select', new_admin_event_registration_path(@event, term: user.email) %></p>
    <% end %>

  <% elsif params[:term].present? %>

    <p>Apologies, no name matching search term '<%= params[:term] %>'</p>

  <% else %>

    <p>Please enter an email address or name to search for a user.</p>

  <% end %>

  <%= link_to "Back to #{@event.name} Registrations", admin_event_registrations_path(@event) %>
</main>
