<main class="team_page">
<h2>Update <%= @team.name %> High Resolution Image</h2>
<%= form_for [:team_management, @team] do |form| %>
<div class="field">
  <% if @team.high_res_image.attached? %>
    <img src="<%= url_for(@team.high_res_image) %>" alt="<%= "#{@team.name} High Resolution Image" %>" />
  <% else %>
    <%= image_tag "default_profile_pic.png" %>
  <% end %>
</div>
<div class="field">
  <%= form.label :high_res_image, 'Upload a High Resolution Image (only png/gif/jpeg/jpg)' %>
  <%= form.file_field :high_res_image, accept: 'image/png,image/gif,image/jpeg' %>
</div>
<div class="actions">
  <%= hidden_field_tag(:high_res_image, true) %>
  <% if @team.high_res_image.attached? %>
    <%= form.submit 'Replace High Res Image' %>
  <% else %>
    <%= form.submit 'Upload High Res Image' %>
  <% end %>
</div>
<% end %>
