- content_for :title, 'Update Thumbnail'
%main.team_page
  %section
    %h2
      Update #{@team.name} Thumbnail
    = form_for [:team_management, @team], url: update_thumbnail_team_management_team_path(@team) do |form|
      .form-field
        - if @team.thumbnail.attached?
          %img{:alt => "#{@team.name} thumbnail", :src => "#{url_for(@team.thumbnail)}"}/
        - else
          = image_tag "default_profile_pic.png"
      .form-field
        = form.label :thumbnail, 'Upload a New Thumbnail (only png/gif/jpeg/jpg)'
        = form.file_field :thumbnail, accept: 'image/png,image/gif,image/jpeg'
      = hidden_field_tag(:thumbnail, true)
      .actions
        - if @team.thumbnail.attached?
          = form.submit 'Replace Thumbnail'
        - else
          = form.submit 'Upload Thumbnail'
    = link_to 'Back to Team', team_management_team_path(@team)
