<h2>Creat New Team</h2>

<%= form_for [:team_management, @team] do |form| %>

  <%= form.label :event_id %>
  <%= form.select :event_id, options_from_collection_for_select(@events, :id, :name, @team.event_id.to_s) %><br>
  <%= form.check_box :youth_team %>
  <%= form.label :youth_team, 'Is your team a youth team (made up by at least 75% people aged under 18 years old)?' %><br>
  <%= form.submit %>
<% end %>

<%= link_to 'Back to Teams', teams_path %>
