<h2><%= @current_project.team_name %></h2>

<h3>Competition Event</h3>
Competition Event: <%= @event.name %><br>
<% if @team.published %>
  This Project has been published.<br>
  <%= link_to 'Go to Team Page', team_path(@team) %><br>
<% else %>
  This Project is yet to be published.<br>
<% end %>

<% if competition_closed? %>
  <strong>Competition Closed No More Edits Possible</strong><br>
<% else %>
  <%= link_to 'Update Team Details', edit_team_management_team_path(@team) %><br>
  <%= link_to 'Update Thumbnail', edit_team_management_team_path(@team, thumbnail: true) %><br>
  <%= link_to 'Update High Resolution Image', edit_team_management_team_path(@team, high_res_image: true) %><br>
<% end %>
<%= link_to 'Back to Event', event_path(@team.event.identifier) %><br>

<h3>Team Project Info</h3>

<%= render 'teams/team_project_info' %>

<%= link_to 'Update Project', edit_team_management_team_project_path(@team, @team.current_project) %>

<h3>Team Data Sets</h3>

This team currently has <%= pluralize @team.team_data_sets.count, 'data set' %>.<br>

<%= link_to 'Go to Team Data Sets', team_management_team_team_data_sets_path(@team) %>

<h3>Team Members</h3>

<h4>Team Leader</h4>

<%= render 'users/user_contact', locals: { user: @team.team_leader } %>

<% if (team_members = @team.team_members).present? %>
  <strong>+ <%= pluralize team_members.count, 'other team member' %>.</strong><br>
<% end %>
<% if (invitees = @team.invitees).present? %>
  <strong><%= pluralize invitees.count, 'invitee' %> invited.</strong><br>
<% end %>

<%= link_to 'Manage Team Members', team_management_team_assignments_path(@team) %><br>

<h3>Challenge Entries</h3>

<%= pluralize @team.challenges.count, 'challenge' %> entered.<br>

<%= link_to 'Manage Team Challange Entries', team_management_team_entries_path(@team) %>
