%section.challenge-panel
  %article
    %h4= challenge.name
    - unless challenge.short_desc.blank?
      %h5= challenge.short_desc
    %p
      = link_to 'Go to Challenge', challenge_path(challenge.identifier)
      | #{pluralize entry_count, 'team has', plural: 'teams have' }
      entered this challenge across all checkpoints that have passed.
  %aside
    - challenge.sponsors_with_logos.each do |sponsor|
      %figure
        = link_to (image_tag(sponsor_logo_asset_path(sponsor))),             |
          sponsor.website, target: '_blank'
