- content_for :title, 'Challenges'
%h2 Challenges for Competition #{@competition.year}
%h3
  %span{style: "text-decoration: #{params[:action] == 'index' && 'underline'};"}
    = link_to 'Catalogue', challenges_path, class: 'dataset_nav'
  |
  %span{style: "text-decoration: #{params[:action] == 'table' && 'underline'};"}
    = link_to 'Table', table_challenges_path, class: 'dataset_nav'
