<section class="teams"><%= pluralize @teams.count, 'team' %> <%= @teams.count == 1 ? 'has' : 'have' %> entered into this challenge across all checkpoints that have passed.</br>

<% @passed_public_checkpoints.each do |checkpoint| %>

	<h4><%= checkpoint.name %> Checkpoint</h4>

  <% if (teams = challenge_teams(checkpoint)).present? %>

	  <% teams.each do |team| %>
	    <h5><%= "#{team.current_project.team_name} - #{team.current_project.project_name}" %></h5>
	    <%= link_to 'Go to Team Project', project_path(team.current_project.identifier) %><br>
	  <% end %>

  <% else %>
		<p>No team projects entered at this checkpoint.</p>
	<% end %>

<% end %>
