%section.teams
  %p
    - entry_count = @challenge_id_to_entry_count[@challenge.id]
    = pluralize entry_count, 'team'
    = entry_count == 1 ? 'has' : 'have'
    entered into this challenge across all checkpoints that have passed in the
    relevant team's region.
  %p
    %strong
      Team Projects will appear below when the relevant checkpoint has passed
      in #{@region.time_zone} time.
  - @passed_public_checkpoints.each do |checkpoint|
    %h4 #{checkpoint.name} Checkpoint
    - if (teams = challenge_teams(checkpoint)).present?
      - teams.each do |team|
        %h5= "#{team.current_project.team_name} - #{team.current_project.project_name}"
        = link_to 'Go to Team Project', project_path(team.current_project.identifier)
        %br/
    - else
      %p No team projects entered at this checkpoint.
