- content_for :title, 'Challenges'
%main.challenge_index
  %h2 Challenges for Competition #{@competition.year}
  = form_tag challenges_path, method: :get do
    = search_field_tag :term, params[:term]
    = submit_tag 'Search'
  %p= link_to 'Clear Search', challenges_path
  -# %p= link_to 'Download CSV', challenges_path(format: 'csv'), class: 'download-csv'
  - @regions.each do |region|
    - next unless @competition.started?(region.time_zone)
    - next if (challenges = @region_challenges[region.id]).empty?
    %h3= region.name
    - challenges.each do |challenge|
      %section.challenge
        %article
          %h4= challenge.name
          - unless challenge.short_desc.blank?
            %h5= challenge.short_desc
          - entry_count = @challenge_id_to_entry_count[challenge.id]
          %p
            = link_to 'Go to Challenge', challenge_path(challenge.identifier)
            |
            \#{pluralize entry_count , 'team'}
            \#{entry_count == 1 ? 'has' : 'have'} entered into this challenge across all checkpoints that have passed.
        %aside.sponsors
          - if challenge.challenge_sponsorships.present?
            - challenge.challenge_sponsorships.each do |sponsorship|
              - sponsor = sponsorship.sponsor
              %figure
                %a{:href => "#{sponsor.website}", :target => "_blank"}
                  - if sponsor.logo.attached?
                    = image_tag url_for(sponsor.logo)
                  - else
                    = image_tag 'default_profile_pic.png'
