- content_for :title, 'Challenges'
%main.challenge_index
  %h2 Challenges for #{@competition.name}
  %section.later
    %p
      %strong
        Check back here at the commencement of the competition to view the challenges.
    - if user_signed_in?
      - if @event.present?
        %p You are registered for #{@event.name}
      - else
        %p
          Be sure to register for one of the many
          = link_to 'Competition Events', competition_events_path
          to participate in #{@competition.name}
    - else
      %p
        Be sure to sign up to the Hackerspace and register for one of the many
        = link_to 'Competition Events', competition_events_path
