<main class="challenge_page">
	<section class="challenge_head">
		<article>
			<h2><%= @challenge.name %></h2>
			<h3>Jurisdiction: <%= @region.name %></h3>
		</article>
		<aside class="sponsors">
			<% if @challenge_sponsorships.present? %>
		  	<% @challenge_sponsorships.each do |sponsorship| %>
			 		<% sponsor = sponsorship.sponsor %>
				  <figure>
						<a href='<%= sponsor.website %>' target="_blank">
				      <% if sponsor.logo.attached? %>
				        <%= image_tag url_for(sponsor.logo) %>
				      <% else %>
				        <%= image_tag 'default_profile_pic.png' %>
				      <% end %>
						</a>
				  </figure>
		  <% end %>
		<% end %>
		</aside>
	</section>
	<section class="challenge_body">
		<article>
			<% unless @challenge.short_desc.blank? %>
			  <h4><%= @challenge.short_desc %></h4>
			<% end %>
			<% unless @challenge.long_desc.blank? %>
			  <p><%= markdown @challenge.long_desc %></p>
			<% end %>
			<% unless @challenge.eligibility.blank? %>
			  <p><strong>Eligibility</strong>: <%= @challenge.eligibility %></p>
			<% end %>
			<% if @data_sets.present? %>
				<h5>Dataset Highlight</h5>
			  <% @data_sets.each do |data_set| %>
			 		<p><strong><%= data_set.name %></strong><br />
			 		<%= link_to(data_set.url,data_set.url) %></p>
			  <% end %>
			<% end %>
		</article>
		<aside>
			<% unless @challenge.video_url.blank? %>
				<div class="videoWrapper"><iframe width="560" height="315" src="<%= @challenge.video_url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
			<% end %>
			<% if @challenge.pdf.attached? && @challenge.pdf_preview.attached? %>
			  <a href='<%= url_for(@challenge.pdf) %>' target="_blank">
			    <img class="pdf_preview" src="<%= url_for(@challenge.pdf_preview) %>" alt="<%= @challenge.name %> pdf_preview" title="Govhack Hackerspace" /><br>
			  </a>
			<% end %>
		</aside>
	</section>
	<% if @challenge.image.attached? %>
	  <img src="<%= url_for(@challenge.image) %>" alt="<%= @challenge.name %> image" /><br>
	<% end %>
	<section>
		<% if user_signed_in? %>
			<% unless @user_eligible_teams.empty? %>
				<h3>Your Team Entries</h3>
			  <% @user_eligible_teams.each do |team| %>
					<% project = team.current_project %>
			    <h4><%= "#{project.team_name} - #{project.project_name}" %></h4>
			    <% if (entry = Entry.find_by(team: team, challenge: @challenge)).present? %>
			      Team entered into this challenge for <%= entry.checkpoint.name %> Checkpoint.<br>
			    <% else %>
			      <% if team.available_checkpoints(@challenge).present? %>
				      <article>
				        <p class="challenge_enter"><%= link_to 'Enter Challenge', new_team_management_team_entry_path(team, challenge_id: @challenge.id) %></p>
				      </article>
			      <% else %>
							<% if team.all_checkpoints_passed? %>
			        		All Checkpoints have passed.</br>
								<% if in_competition_window?(LAST_TIME_ZONE) %>
								<% else %>
								<% end %>
							<% else %>
								All available checkpoint limits reached for
								<%= @region.national? ? 'national' : 'regional' %> challenges.</br>
							<% end %>
			      <% end %>
			    <% end %>
			  <% end %>
			<% end %>
		<% else %>
		  Sign in to enter your team into this challenge.<br>
		<% end %>

		<h3>All Team Entries</h3>

		<% if in_either_judging_window?(LAST_TIME_ZONE) %>
			<% if @teams.present? %>
				<%= render 'team_judging_table' %>
			<% else %>
				<p>No team entries to display for this challenge.</p>
			<% end %>
		<% else %>
			<%= render 'team_checkpoint_display' %>
		<% end %>

	</section>
	<section class="ie-push">
		<%= link_to 'Back to Challenges', challenges_path %>
	</section>
</main>
