<h2><%= @challenge.name %></h2>

<% if @challenge.image.attached? %>
  <img src="<%= url_for(@challenge.image) %>" alt="<%= @challenge.name %> image" /><br>
<% end %>

Region: <%= @region.name %><br>
<% unless @challenge.short_desc.blank? %>
  Short Description: <%= @challenge.short_desc %><br>
<% end %>
<% unless @challenge.long_desc.blank? %>
  Long Description: <%= @challenge.long_desc %><br>
<% end %>
<% unless @challenge.eligibility.blank? %>
  Eligibility: <%= @challenge.eligibility %><br>
<% end %>
<% unless @challenge.video_url.blank? %>
  <a href='<%= @challenge.video_url %>' target="_blank">Video</a>
<% end %>

<% if @challenge.pdf.attached? && @challenge.pdf_preview.attached? %>
  <a href='<%= url_for(@challenge.pdf) %>' target="_blank">
    <img src="<%= url_for(@challenge.pdf_preview) %>" alt="<%= @challenge.name %> pdf_preview" title="Govhack Hackerspace" /><br>
  </a>
<% end %>

<h3>Data Sets</h3>

<% @data_sets.each do |data_set| %>
  <h4><%= data_set.name %></h4>
  <%= data_set.url %><br>
<% end %>

<h3>Team Entries</h3>

<%= pluralize @challenge.entries.count, 'team' %> entered into challenge.<br>

<h4>Your Team Entries</h4>
<% if user_signed_in? %>
  <% current_user.teams.each do |team| %>
    <h5><%= team.name %></h4>
    <% if (entry = Entry.find_by(team: team, challenge: @challenge)).present? %>
      Team entered into this challange for <%= entry.checkpoint.name %> Checkpoint.<br>
    <% else %>
      <% if team.available_checkpoints? %>
        <%= link_to 'Enter Challenge', new_team_management_team_entry_path(team, challenge_id: @challenge.id) %><br>
      <% else %>
        All Checkpoints have passed.<br>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  Sign in to enter your team into this challenge.<br>
<% end %>

<h4>All team Entries</h4>

<% passed_competition_checkpoints.each do |checkpoint| %>

  <% if (teams = challenge_teams(checkpoint)).present? %>

    <h3><%= checkpoint.name %> Checkpoint</h3>

    <% teams.each do |team| %>
      <h4><%= team.name %></h4>
      <%= link_to 'Go to Team', team_path(team) %><br>
    <% end %>

  <% end %>

<% end %>

<% if @challenge_sponsorships.present? %>
  <h3>Sponsorships</h3>
  <% @challenge_sponsorships.each do |sponsorship| %>
    <%= render 'admin/sponsors/sponsor', locals: { sponsor: sponsorship.sponsor } %>
  <% end %>
<% end %>

<%= link_to 'Back to Challenges', challenges_path %>
