- content_for :title, @challenge.name
%main.challenge_page
  %section.challenge_head
    %article
      %h2= @challenge.name
      %h3
        Jurisdiction: #{@region.name}
    %aside.sponsors
      - if @challenge_sponsorships.present?
        - @challenge_sponsorships.each do |sponsorship|
          - sponsor = sponsorship.sponsor
          %figure
            %a{:href => "#{sponsor.website}", :target => "_blank"}
              - if sponsor.logo.attached?
                = image_tag url_for(sponsor.logo)
              - else
                = image_tag 'default_profile_pic.png'
  %section.challenge_body
    %article
      - unless @challenge.short_desc.blank?
        %h4= @challenge.short_desc
      - unless @challenge.long_desc.blank?
        %p= markdown @challenge.long_desc
      - unless @challenge.eligibility.blank?
        %p
          %strong> Eligibility
          \: #{@challenge.eligibility}
      %p
        %strong Entry:
        = render 'challenges/challenge_entry'
      - if @data_sets.present?
        %h5 Dataset Highlight
        - @data_sets.each do |data_set|
          %p
            %strong= data_set.name
            %br/
            = link_to(data_set.url,data_set.url)
    %aside
      - unless @challenge.video_url.blank?
        .videoWrapper
          %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@challenge.video_url}", :width => "560"}
      - if @challenge.pdf.attached? && @challenge.pdf_preview.attached?
        %a{:href => "#{url_for(@challenge.pdf)}", :target => "_blank"}
          %img.pdf_preview{:alt => "#{@challenge.name} pdf_preview", :src => "#{url_for(@challenge.pdf_preview)}", :title => "Govhack Hackerspace"}/
          %br/
  - if @challenge.image.attached?
    %img{:alt => "#{@challenge.name} image", :src => "#{url_for(@challenge.image)}"}/
    %br/
  %section
    - if user_signed_in?
      - unless @user_eligible_teams.empty?
        %h3 Your Team Entries
        - @user_eligible_teams.each do |team|
          - project = team.current_project
          %h4= "#{project.team_name} - #{project.project_name}"
          - if (entry = Entry.find_by(team: team, challenge: @challenge)).present?
            %p Team entered into this challenge for #{entry.checkpoint.name} Checkpoint.
          - else
            - if team.available_checkpoints(@challenge).present?
              %article
                %p.challenge_enter= link_to 'Enter Challenge', new_team_management_team_entry_path(team, challenge_id: @challenge.id)
            - else
              - if team.all_checkpoints_passed?
                - if @competition.in_comp_window? LAST_TIME_ZONE
                  %p All Checkpoints have passed.
                - else
                  %p No entries to this challenge for this team.
              - else
                %p
                  All available checkpoint limits reached for
                  \#{@region.international? ? 'national' : 'regional'} challenges.
    - else
      %p Sign in to enter your team into this challenge.
    %h3 All Team Entries
    - if @competition.either_judging_window_open? LAST_TIME_ZONE
      - if @teams.present?
        = render 'team_judging_table'
      - else
        %p No team entries to display for this challenge.
    - elsif @competition.started?(@region.time_zone) || @region.international?
      = render 'team_checkpoint_display'
    - else
      %p Challenge entries will appear here when the competition starts.
%section.ie-push
  - if current_user.present? && current_user.region_privileges?(@competition)
    %p= link_to 'Manage this Challenge', admin_region_challenge_path(@region, @challenge)
  %p= link_to 'Back to Challenges', challenges_path
