%main.project_index
  = render 'index_header'
  - if @challenges.any?
    %p= link_to 'Download CSV', table_challenges_path(format: 'csv'), class: 'download-csv'
    %table.projects-table#challenges_table_table{'data-turbolinks' => 'false'}
      %thead
        %tr
          %th Region
          %th Name
          %th Sponsors
          %th Entries
          %th{style: 'display: none;'} meta
      %tbody
        - @challenges.each do |challenge|
          - next unless @checker.show?(challenge.region)
          %tr
            %td= challenge.region.name
            %td= link_to challenge.name, challenge_path(challenge)
            %td= challenge.sponsors.pluck(:name).join(', ')
            %td= challenge.published_entries.length
            %td{style: 'display: none;'}= "#{challenge.short_desc} #{challenge.long_desc}"
  - else
    %p
      %strong No Challenges saved for #{@competition.name} at this time.
