- content_for :title, 'Review Terms and Conditions'
%main.registration.single-col.toc
  %h2 GovHack Hackerspace Terms and Conditions
  %section
    %article
      = render 'static_pages/terms_and_conditions_text'
      = form_with model: @user, url: agreement_path(@user), method: :patch do |f|
        .custom-control.custom-checkbox
          = f.check_box(:accepted_terms_and_conditions), class:'custom-control-input'
          = f.label(:accepted_terms_and_conditions, 'I accept GovHack Terms and Conditions'), class: 'custom-control-label'
        .actions
          = f.submit 'Continue'
