- content_for :title, "Regions for #{@competition.name}"
%main.project_index
  %h2= yield :title
  %p= link_to 'New Region', new_admin_competition_region_path, class: 'download-csv'
  %table.projects-table#admin-regions-table{'data-turbolinks' => 'false'}
    %thead
      %th Name
      %th Category
      %th Time Zone
      %th Director
    %tbody
      - @regions.each do |region|
        %tr
          %td= link_to region.name, admin_competition_region_path(@competition, region)
          %td= region.category
          %td= region.time_zone ? region.time_zone : COMP_TIME_ZONE
          %td= region.director&.display_name

- if current_user.admin_privileges?(@competition)
  %p= link_to 'Back to Competition Management', admin_competition_path(@competition)
%p= link_to 'Back to Account Management', manage_account_path
