%main.team_page
  %h2 Region Management
  %p= link_to 'Create Region', new_admin_competition_region_path
  %h3 #{Region::INTERNATIONAL} Region
  - if @internationals.present?
    - @internationals.each do |region|
      = render 'region_modal', locals: { region: region }
  - else
    %p No International Region saved.
  %h3 #{Region::NATIONAL} Regions
  - if @nationals.present?
    - @nationals.each do |region|
      = render 'region_modal', locals: { region: region }
  - else
    %p No National Regions saved.
  %h3 #{Region::REGIONAL} Regions
  - if @regionals.present?
    - @regionals.each do |region|
      = render 'region_modal', locals: { region: region }
  - else
    %p No Regional Regions saved.
- if current_user.admin_privileges?(@competition)
  %p= link_to 'Back to Competition Management', admin_competition_path(@competition)
%p= link_to 'Back to Account Management', manage_account_path
