<h2><%= @region.name %></h2>

<% if @region.time_zone %>
  Time Zone: <%= @region.time_zone %></br>
<% end %>

<h3>Region Director</h3>

<% if (director = @region.director).present? %>
  Full Name: <%= director.full_name %></br>
<% else %>
  <%= form_tag("/admin/assignments", method: "post") do %>
    <%= label_tag(:email, "User Email:") %>
    <%= text_field_tag(:email) %>
    <%= hidden_field_tag(:title, REGION_DIRECTOR) %>
    <%= hidden_field_tag(:assignable_type, 'Region') %>
    <%= hidden_field_tag(:assignable_id, @region.id) %>
    <%= submit_tag("Assign New #{REGION_DIRECTOR}") %>
  <% end %>
<% end %>

<h3>Region Support</h3>
<% @region.supports.each do |support| %>
  Full Name: <%= support.full_name %></br>
<% end %>

<%= form_tag("/admin/assignments", method: "post") do %>
  <%= label_tag(:email, "User Email:") %>
  <%= text_field_tag(:email) %>
  <%= hidden_field_tag(:title, REGION_SUPPORT) %>
  <%= hidden_field_tag(:assignable_type, 'Region') %>
  <%= hidden_field_tag(:assignable_id, @region.id) %>
  <%= submit_tag("Assign New #{REGION_SUPPORT} Member") %>
<% end %>

<h3>Events</h3>

<% @region.events.where(competition: Competition.current).each do |event| %>
  <h4><%= event.name %></h4>
  <%= link_to "Manage #{event.name}", admin_region_event_path(@region, event) %></br>
<% end %>

<%= link_to "Create New Event", new_admin_region_event_path(@region) %></br>

<h3>Sponsorships</h3>

<% @region.sponsorships.each do |sponsorship| %>
  <h4><%= sponsorship.sponsor.name %></h4>
  Sponsorship Type: <%= sponsorship.sponsorship_type.name %><br>
<% end %>

<%= link_to 'Add Sponsorship', new_admin_region_sponsorship_path(@region) %><br>

<% if (parent = @region.parent).nil? %>
  <%= link_to 'Back to Regions', admin_regions_path %><br>
<% else %>
  <%= link_to "Back to #{parent.name} Region", admin_region_path(parent)  %><br>
<% end %>
