<main class="team_page">
  <h2><%= @region.name %></h2>
  <% if @region.time_zone %>
    <p>Time Zone: <%= @region.time_zone %></p>
  <% end %>
  <% if @region.award_release %>
    <p>Award Release: <%= @region.award_release %></p>
  <% end %>
  <%= link_to 'Update Region Info', edit_admin_region_path(@region) %>

  <h3>Region Director</h3>
  <% if (director = @region.director).present? %>
    <%= render 'admin/shared/user_contact', locals: { user: director } %>
  <% else %>
    This region does not currently have a director.</br>
    <%= link_to "New #{REGION_DIRECTOR} Assignment", new_admin_region_assignment_path(@region, title: REGION_DIRECTOR) %></br>
  <% end %>

  <h3>Region Support</h3>
  <% if @region.supports.present? %>
    <%= pluralize @region.supports.count, 'region support' %> currently assigned to event.</br>
  <% end %>
  <%= link_to 'Manage Assignments', admin_region_assignments_path(@region) %>

  <h3>People's Choice Judging</h3>
  <% if @region.national? %>
    <p>See Competition Dashboard</p>
  <% else %>
    <p><%= link_to 'Regional Judging', admin_region_scorecards_path(@region, include_judges: false) %></p>
    <p><%= link_to 'Regional Judging (with Judges)', admin_region_scorecards_path(@region, include_judges: true) %></p>
  <% end %>

  <h3>Events</h3>
  <% if (events = @region.events.where(competition: Competition.current)).present? %>
    <h4>Connection Events</h4>
    <p><%= pluralize @region.events.where(event_type: CONNECTION_EVENT).count, 'connection event' %> planned.</p>
    <h4>Competition Events</h4>
    <p><%= pluralize @region.events.where(event_type: COMPETITION_EVENT).count, 'competition event' %> planned</p>
    <h4>Awards Events</h4>
    <p><%= pluralize @region.events.where(event_type: AWARD_EVENT).count, 'award event' %> planned</p>
  <% else %>
      <p>There are currently no events planned for the current Competitition.</p>
  <% end %>
  <%= link_to 'Manage Events', admin_region_events_path(@region) %>

  <h3>Sponsorships</h3>
  <% if @sponsorships.present? %>
    <p><%= pluralize @sponsorships.count, 'sponsorship' %> recorded for this region.</p>
  <% else %>
    <p>There are currently no sponsorships for this region in the current competition.</p>
  <% end %>
  <%= link_to 'Manage Sponsorships', admin_region_sponsorships_path(@region) %>

  <h3>Data Sets</h3>
  <% if @data_sets.present? %>
    <p><%= pluralize @data_sets.count, 'data set'%> saved for this region.</p>
  <% else %>
    <p>There are currently no data sets for this region in the current competition.</p>
  <% end %>
  <%= link_to 'Manage Data Sets', admin_region_data_sets_path(@region) %>

  <h3>Challenges</h3>
  <% if @challenges.present? %>
    <p><%= pluralize @challenges.count, 'challenge' %> created for this region.</p>
  <% else %>
    <p>There are currently no challenges for this region in the current competition.</p>
  <% end %>
  <%= link_to 'Manage Challenges', admin_region_challenges_path(@region) %>

  <h3>Bulk Mails</h3>
  <p><%= pluralize @bulk_mails.count, 'bulk mail' %> created for this region.</p>
  <%= link_to 'Bulk Mails', admin_region_bulk_mails_path(@region) %>

  <% if @region.national? %>
    <h3>National Challenge Entries By Region</h3>
    <p>(ignoring checkpoints unlike public screen)</p>
    <%= render 'entries/national_challenge_entries' %>
  <% else %>
    <h3>Regional Challenge Entries By Event</h3>
    <p>(ignoring checkpoints unlike public screen)</p>
    <%= render 'entries/regional_challenge_entries' %>
  <% end %>

  <% if (parent = @region.parent).present? && parent.admin_privileges?(current_user) %>
    <%= link_to "Back to #{parent.name} Region", admin_region_path(parent)  %></br>
  <% end %>

  <% if current_user.admin_privileges? %>
    <%= link_to 'Back to Regions', admin_regions_path %></br>
  <% end %>
</main>
