<h2><%= @region.name %></h2>

<% if @region.time_zone %>
  Time Zone: <%= @region.time_zone %></br>
<% end %>

<h3>Region Director</h3>

<% if (director = @region.director).present? %>
  Full Name: <%= director.full_name %></br>
<% else %>
  <%= form_tag("/admin/assignments", method: "post") do %>
    <%= label_tag(:email, "User Email:") %>
    <%= text_field_tag(:email) %>
    <%= hidden_field_tag(:title, REGION_DIRECTOR) %>
    <%= hidden_field_tag(:assignable_type, 'Region') %>
    <%= hidden_field_tag(:assignable_id, @region.id) %>
    <%= submit_tag("Assign New #{REGION_DIRECTOR}") %>
  <% end %>
<% end %>

<h3>Region Support</h3>
<% @region.supports.each do |support| %>
  Full Name: <%= support.full_name %></br>
<% end %>

<%= form_tag("/admin/assignments", method: "post") do %>
  <%= label_tag(:email, "User Email:") %>
  <%= text_field_tag(:email) %>
  <%= hidden_field_tag(:title, REGION_SUPPORT) %>
  <%= hidden_field_tag(:assignable_type, 'Region') %>
  <%= hidden_field_tag(:assignable_id, @region.id) %>
  <%= submit_tag("Assign New #{REGION_SUPPORT} Member") %>
<% end %>

<h3>Sub Regions</h3>

<% @region.sub_regions.each do |sub_region| %>
  <%= render 'region_modal', locals: { region: sub_region, heading: 4 } %>
<% end %>

<%= form_tag("/admin/regions", method: "post") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
  <%= hidden_field_tag(:parent_id, @region.id) %>
  <%= select_tag(:time_zone, options_from_collection_for_select(ActiveSupport::TimeZone.country_zones('AU'), :name, :name)) %>
  <%= submit_tag("Create New Sub Region for " + @region.name) %>
<% end %>

<h3>Events</h3>

<% @region.events.where(competition: Competition.current).each do |event| %>
  <h4><%= event.name %></h4>
  <%= link_to "Manage #{event.name}", admin_region_event_path(@region, event) %></br>
<% end %>

<%= link_to "Create New Event", new_admin_region_event_path(@region) %></br>
<% if @region.parent_id.present? %>
  <%= link_to "Back to #{@region.parent.name} Region", admin_region_path(@region.parent_id) %>
<% end %>
