%main.team_page
  %h2= @region.name
  - if @region.international?
    %p
      %strong Root Region
  - if @region.time_zone
    %p Time Zone: #{@region.time_zone}
  - if @region.award_release
    %p Award Release: #{@region.award_release}
  %p Region Category: #{@region.category}
  - if @parent
    %p Parent: #{@parent.name}
  %p= link_to 'Update Region Info', edit_admin_competition_region_path(@competition, @region)
  %h3 Assignments
  %h4 Region Director
  - if @director.present?
    = render 'admin/shared/user_contact', locals: { user: @director }
  - else
    %p This region does not currently have a director.
    %p= link_to "New #{REGION_DIRECTOR} Assignment", new_admin_region_assignment_path(@region, title: REGION_DIRECTOR)
  %h4 Region Support
  - if @supports_count.zero?
    %p There are currently no region supports assigned to this region.
  - else
    %p
      = pluralize @supports_count, 'region support'
      currently assigned to this region.
  %p= link_to 'Manage Assignments', admin_region_assignments_path(@region)
  %h3 People's Choice Judging
  - if @region.international?
    %p See Competition Dashboard
  - else
    %p= link_to 'Regional Judging', admin_region_scorecards_path(@region, include_judges: false)
    %p= link_to 'Regional Judging (with Judges)', admin_region_scorecards_path(@region, include_judges: true)
  %h3 Events
  - if @events.present?
    %h4 Connection Events
    %p
      = pluralize @connections_count, 'connection event'
      planned.
    %h4 Competition Events
    %p
      = pluralize @competitions_count, 'competition event'
      planned
    %h4 Awards Events
    %p
      = pluralize @awards_count, 'award event'
      planned
  - else
    %p There are currently no events planned for the current region.
  %p= link_to 'Manage Events', admin_region_events_path(@region)
  %h3 Sponsorships
  - if @sponsorships_count.zero?
    %p There are currently no sponsorships for this region in the current competition.
  - else
    %p
      = pluralize @sponsorships_count, 'sponsorship'
      recorded for this region.
  %p= link_to 'Manage Sponsorships', admin_region_sponsorships_path(@region)
  %h3 Data Sets
  - if @data_sets_count.zero?
    %p There are currently no data sets for this region in the current competition.
  - else
    %p
      = pluralize @data_sets_count, 'data set'
      saved for this region.
  %p= link_to 'Manage Data Sets', admin_region_data_sets_path(@region)
  %h3 Challenges
  - if @challenges_count.zero?
    %p There are currently no challenges for this region in the current competition.
  - else
    %p
      = pluralize @challenges_count, 'challenge'
      created for this region.
  %p= link_to 'Manage Challenges', admin_region_challenges_path(@region)
  %h3 Bulk Mails
  - if @bulk_mails_count.zero?
    %p There are currently no bulk mails for this region in the current competition.
  - else
    %p
      = pluralize @bulk_mails_count, 'bulk mail'
      created for this region.
  %p= link_to 'Bulk Mails', admin_region_bulk_mails_path(@region)
  - if @region.international?
    %h3 National Challenge Entries By Region
    %p
      %em Ignoring Checkpoints Unlike Public Screen
    = render 'entries/national_challenge_entries'
  - else
    %h3 Regional Challenge Entries By Event
    %p
      %em Ignoring Checkpoints Unlike Public Screen
    = render 'entries/regional_challenge_entries'
- if current_user.region_privileges?(@competition)
  %p= link_to 'Back to Competition Regions', admin_competition_regions_path(@competition)
