<h2>
  Update <%= @sponsor.name %> Logo
</h2>
<%= form_for [:sponsorship_management, @sponsor] do |form| %>
  <% if @sponsor.logo.attached? %>
    <img alt="<%= @sponsor.name %> Logo" src="<%= url_for(@sponsor.logo) %>"/>
    <br/>
  <% else %>
    <%= image_tag "default_profile_pic.png" %>
    <br/>
  <% end %>
  <%= form.label :logo, 'Upload a Logo. (only png/gif/jpeg/jpg)' %>
  <br/>
  <%= form.file_field :logo, accept: 'image/png,image/gif,image/jpeg' %>
  <br/>
  <%= hidden_field_tag(:logo, true) %>
  <% if @sponsor.logo.attached? %>
    <%= form.submit 'Replace Logo' %>
  <% else %>
    <%= form.submit 'Upload Logo' %>
  <% end %>
<% end %>
