<h2>Edit Sponsor <%= @sponsor.name %></h2>

<%= form_for [:sponsorship_management, @sponsor] do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name  %><br>
  <%= f.label :description %><br>
  <%= f.text_field :description  %><br>
  <%= f.submit %>
<% end %>
