%h2= @sponsor.name
- if @sponsor.logo.attached?
  %img{:alt => "#{@sponsor.name} logo", :src => "#{url_for(@sponsor.logo)}"}/
  %br/
- else
  = image_tag 'default_profile_pic.png'
  %br/
= link_to 'Update Logo', edit_sponsorship_management_sponsor_path(@sponsor, logo: true)
%br/
%article= @sponsor.description
= link_to 'Edit Sponsor Details', edit_sponsorship_management_sponsor_path(@sponsor)
%h3 Sponsorships
- if (sponsorships = @sponsor.sponsorships).empty?
  %div
    No sponsorships for #{@sponsor.name}
- else
  - sponsorships.each do |sponsorship|
    %h4
      = sponsorship.sponsorable_type
      \: #{sponsorship.sponsorable.name}
    Sponsorship type: #{sponsorship.sponsorship_type.name}
    %br/
%h3 Event Partnerships
%div Please go to individual events to add event parter.
- if (event_partnerships = @sponsor.event_partnerships).empty?
  %div
    No event partnerships for #{@sponsor.name}
- else
  - event_partnerships.each do |event_partnership|
    %h4
      Event: #{event_partnership.event.name}
    = link_to 'Go to Event', event_path(event_partnership.event.identifier)
    %br/
