<h2><%= @challenge.name %></h2>

<% ordered_challenge_entries %>

<h3>Entries Marked</h3>

<% @entries_and_scores.each do |obj| %>

  <h4><%= obj[:entry].team.name %></h4>
  <%= "Average Score: #{obj[:score]} from #{obj[:entry].judges_voted}
    of #{ pluralize @challenge.assignments.count, 'judge'}" %><br>

<% end %>

<h3>No Markes Allocated</h3>

<% @nil_entries.each do |entry| %>

  <%= render 'team_project_review', locals: { entry: entry } %>

<% end %>

<h3>Projects yet to be marked Eligible</h3>

<% @nil_eligible_entries.each do |entry| %>

  <%= render 'team_project_review', locals: { entry: entry } %>

<% end %>

<h3>Non Eligible Projects</h3>

<% @non_eligible_entries.each do |entry| %>

  <%= render 'team_project_review', locals: { entry: entry } %>

<% end %>

<%= link_to 'Back to Challenge', admin_region_challenge_path(@challenge.region, @challenge) %>
