<h2>Create New Sponsorship for <%= @sponsorable.name %></h2>

<%= form_for [:admin, @sponsorable, @sponsorship] do |f| %>
  <%= f.label :sponsor_id %><br>
  <%= f.select(:sponsor_id, options_from_collection_for_select(Sponsor.all, :id, :name)) %><br>
  <%= f.label :sponsorship_type_id %><br>
  <%= f.select(:sponsorship_type_id, options_from_collection_for_select(SponsorshipType.all, :id, :name)) %><br>
  <%= f.submit %>
<% end %>

<% if @sponsorable.class == Region %>
  <%= link_to "Back to #{@sponsorable.name}", admin_region_path(@sponsorable) %>
<% else %>
  <%= link_to "Back to #{@sponsorable.name}", admin_region_event_path(@sponsorable.region, @sponsorable) %>
<% end %>
