- content_for :title, 'User Management'
%main.project_index
  %h2= yield :title
  %p= link_to "Download CSV (All users and what events they registered for in #{@competition.year})", admin_users_path(format: 'csv'), class: 'download-csv'
  %p= link_to "Download CSV (Mailing List Export #{@competition.year})", mailing_list_export_admin_users_path(format: 'csv'), class: 'download-csv'

  %table#admin-users-table
    %thead
      %th Full Name
      %th Preferred Name
      %th Email
      %th Confirmed Status
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to (user.full_name.present? ? user.full_name : '[no name]'), admin_user_path(user)
          %td= user.preferred_name
          %td= user.email
          %td= user.confirmed_status

%p= link_to 'Back to Account Management', manage_account_path
