%main.team_page
  %h2 Create New User
  = form_for [:admin, @user] do |f|
    = f.label(:full_name, "Full name:")
    = f.text_field(:full_name)
    %br/
    = f.label(:email, "Email:")
    = f.text_field(:email)
    %br/
    = f.submit "Create User"
  %p= link_to 'Back to Users', admin_users_path
