- content_for :title, @user.display_name
%main.team_page
  %h2= yield :title
  %p
    Email: #{@user.email}
  - if @user.confirmed?
    %p
      %strong Confirmed
  - else
    %p= link_to 'Confirm User', confirm_admin_user_path(@user), method: :post
  - @event_assignments.each do |event_assignment|
    %h3= event_assignment.competition.name
    %h4 Event Assignment
    %p Title: #{event_assignment.title}
    %p= link_to 'Update Event Assignment', edit_admin_user_assignment_path(@user, event_assignment)
    %br
    %h4 All Other Assignments
    - @user.assignments.where(competition: event_assignment.competition).where.not(title: EVENT_ASSIGNMENT_TITLES).each do |assignment|
      %h5= assignment.assignable.name
      %p Assignment type: #{assignment.assignable.class.name}
      %p Title: #{assignment.title}
      %p= link_to 'Remove Assignment', admin_user_assignment_path(@user, assignment), method: :delete, data: { confirm: 'Are you sure?' }
      %br
%p= link_to 'Back to Users', admin_users_path
