<h2><%= @user.full_name %></h2>
Email: <%= @user.email %></br>
Competiton status: <%= @assignment.title %></br>
<% if @assignment.title == PARTICIPANT %>
  <%= form_for [:admin, @assignment] do |f| %>
    <%= f.submit "Make VIP" %>
  <% end %>
<% end %>
</br>
<%= link_to 'Back to Users', admin_users_path %>
