<main class="team_page">
  <h2><%= @user.display_name %></h2>
  <p>Email: <%= @user.email %></p>

  <h3>Event Assignment</h3>
  <p>Event Assignment Title: <%= @event_assignment.title %></p>

  <%= link_to 'Update Event Assignment', edit_admin_user_assignment_path(@user, @event_assignment) %><br>

  <h3>All Other Assignments</h3>

  <% @user.assignments.each do |assignment| %>
    <% next if assignment == @event_assignment %>
    <p><strong>Title: <%= assignment.assignable.class.name %> - <%= assignment.title %></strong></p>
    <p>Assigned To: <%= assignment.assignable.name %></p>
    <p><%= link_to 'Remove Assignment', admin_user_assignment_path(@user, assignment),
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %></p>
  <% end %>

  <p><%= link_to 'Back to Users', admin_users_path %></p>
</main>
