- content_for :title, @user.display_name
%main.project_index
  %h2= yield :title
  %p
    %strong
      Email:
    #{@user.email}
  - if @user.accepted_code_of_conduct
    %p
      %strong
        Agreed to code of conduct on:
      = @user.accepted_code_of_conduct.strftime("%e %B %Y  %I.%M %p")
  - else
    %p
      %strong
        Has not agreed to code of conduct.
  - if @user.confirmed?
    %p
      %strong
        Confirmed account on:
      = @user.confirmed_at.strftime("%e %B %Y  %I.%M %p")
  - else
    %p
      %strong
        User not confirmed,
      = link_to 'Confirm User?', confirm_admin_user_path(@user), method: :post
  - if @profile.present?
    %p
      %strong Profile Identifier:
      -if @profile.published
        = link_to @profile.identifier, profile_path(@profile)
      - else
        = @profile.identifier
    %p
      %strong Published:
      = @profile.published ? '✅' : '❌'

  %h3 Assignments for #{@user.display_name}
  %table.projects-table#admin-users-show-table{'data-turbolinks' => 'false'}
    %thead
      %th Competition
      %th Assignable Type
      %th Assignable Name
      %th Title
      %th Action
    %tbody
      - @user.assignments.preload(assignable: :current_project, holder: :competition).each do |assignment|
        %tr
          %td= assignment.holder.competition.year
          %td= assignment.assignable.class.name
          %td= assignment.assignable.name
          %td= assignment.title
          %td= link_to 'Remove', admin_user_assignment_path(@user, assignment), method: :delete, data: { confirm: 'Are you sure?' }

%p= link_to 'Back to Users', admin_users_path
