- checkpoint = locals[:checkpoint]
- challenges = locals[:challenges]
- type = locals[:type]
- max_challenges = locals[:max_challenges]
- available_challenges = locals[:available_challenges]
= "#{challenges.count} of #{pluralize checkpoint.max_national_challenges, "#{type} challenge"} entered"
%br/
- challenges.each do |challenge|
  = render 'challenge_entry', locals: { checkpoint: checkpoint, challenge: challenge }
- if challenges.count < max_challenges && available_challenges.present?
  = link_to "Enter New #{type} Challenge at checkpoint #{checkpoint.name}", new_admin_team_entry_path(@team, challenge_type: type, checkpoint_id: checkpoint.id)
  %br/
- elsif available_challenges.empty?
  %strong
    No more #{type} challenges left to enter.
  %br/
- else
  %strong
    Team has entered the maximum number of #{type} challenges for this checkpoint
  %br/
