<main class="project_index">
<h2>Teams for <%= @competition.name %></h2>

<%= form_tag admin_teams_path, method: :get do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>
<%= link_to 'Clear Search', admin_teams_path %></br>
<%= link_to 'Download CSV', teams_path(format: 'csv') %></br>

<table>
	<thead>
		<th>Project</th>
		<th>Team</th>
		<th>Location</th>
	</thead>
	<tbody>
  <% filter_projects(params[:term]).each do |project| %>
  <tr>
    <% team = @id_teams_projects[project.team_id][:team] %>
    <td><%= link_to "#{project.project_name}", admin_team_path(team) %></td>
    <td><%= project.team_name %></td>
    <td><%= @id_teams_projects[project.team_id][:event].name %></td>
  </tr>
  <% end %>
	</tbody>
</table>

<%= link_to 'Back to Account Management', manage_account_path %>
</main>
