- content_for :title, "Teams for #{@competition.name}"
%main.project_index
  %h2= yield :title
  %p= link_to 'Download CSV (Users who are members of a published team)', admin_competition_teams_path(@competition, format: 'csv'), class: 'download-csv'
  %p= link_to 'Download CSV (Every Team Member)', admin_competition_teams_path(@competition, format: 'csv', category: 'members'), class: 'download-csv'
  - if current_user.site_admin?(@competition)
    %p= link_to 'Download CSV (Team Entries)', admin_competition_teams_path(@competition, format: 'csv', category: 'entries'), class: 'download-csv'
  %table.projects-table#admin-teams-table{'data-turbolinks' => 'false'}
    %thead
      %th Project
      %th Team
      %th Location
    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to "#{project.project_name}", admin_competition_team_path(@competition, project.team)
          %td= project.team_name
          %td= project.event.name
%p= link_to 'Back to Account Management', manage_account_path
