<% content_for :title, @project.team_name %>
<main class="team_page">
  <h2>
    <%= yield :title %>
  </h2>
  <p>Event: <%= @event.name %></p>
  <p>Region: <%= @region.name %></p>
  <p>Team Project is <%= @team.published ? 'published' : 'unpublished' %>.</p>
  <p>
    <%= link_to "#{@team.published ? 'Unpublish' : 'Published'} Team Project",
    update_published_admin_competition_team_path(
    ), method: :patch          %>
  </p>
  <h3>Project Version Management</h3>
  <p>Project Version Count: <%= @projects.count %></p>
  <p>Current Version Created At: <%= @project.created_at %></p>
  <p>
    <%= link_to 'Project Management', admin_team_projects_path(@team) %>
  </p>
  <h3>Team Members</h3>
  <% @team.assignments.each do |assignment| %>
    <% user = assignment.user %>
    <div>
      <p>
        <strong>Name: <%= user.display_name %></strong>
      </p>
      <p>Title: <%= assignment.title %></p>
      <p>Email: <%= user.email %></p>
      <% if user.slack %>
        <p>Slack: <%= user.slack %></p>
      <% end %>
      <p>Event: <%= user.participating_competition_event(@competition)&.name %></p>
    </div>
  <% end %>
  <h3>Challenge Management</h3>
  <% @checkpoints.each do |checkpoint| %>
    <h4><%= checkpoint.name %> Checkpoint</h4>
    <h5>National Challenges</h5>
    <%= render 'challenge_category', locals:
      { checkpoint: checkpoint,
      type: NATIONAL,
      max_challenges: checkpoint.max_national(@region),
      challenges: @team.national_challenges(checkpoint),
      available_challenges: @available_national_challenges }
    %>
    <h5>Regional Challenges</h5>
    <%= render 'challenge_category', locals:
      { checkpoint: checkpoint,
      type: REGIONAL,
      max_challenges: checkpoint.max_regional(@region),
      challenges: @team.regional_challenges(checkpoint),
      available_challenges: @available_regional_challenges }
    %>
  <% end %>
</main>
<p>
  <%= link_to 'Back to Team Management', admin_competition_teams_path(@competition) %>
</p>
<% if @team.published? %>
  <p>
    <%= link_to 'Back to Project Page', project_path(@project.identifier) %>
  </p>
<% end %>
