= form_for [:admin, @competition, @criterion] do |form|
  = form.label :category
  %br/
  = form.select(:category, options_for_select(JUDGEMENT_CATEGORIES, @criterion.category))
  %br/
  = form.label :name
  %br/
  = form.text_field :name
  %br/
  = form.label :description
  %br/
  = form.text_area :description
  %br/
  = form.submit
