%main.team_page
  %section.team_page_body
    %h2
      Criteria for #{@competition.name}
    %p= link_to 'New Criterion', new_admin_competition_criterion_path(@competition)
    %h3 Challenge Criteria
    = render 'criteria_display', locals: { type: CHALLENGE, criteria: @competition.challenge_criteria }
    %h3 Project Criteria
    = render 'criteria_display', locals: { type: PROJECT, criteria: @competition.project_criteria }
  - if current_user.admin_privileges?(@competition)
    %p= link_to 'Back to Competition', admin_competition_path(@competition)
