<% content_for :title, "Criteria for #{@competition.name}" %>
<main class="team_page">
  <section>
    <h2>
      <%= yield :title %>
    </h2>
    <p>
      <%= link_to 'New Criterion', new_admin_competition_criterion_path(@competition) %>
    </p>
    <h3>Challenge Criteria</h3>
    <%= render 'criteria_display', locals: { type: CHALLENGE, criteria: @competition.challenge_criteria } %>
    <h3>Project Criteria</h3>
    <%= render 'criteria_display', locals: { type: PROJECT, criteria: @competition.project_criteria } %>
  </section>
  <% if current_user.admin_privileges?(@competition) %>
    <p>
      <%= link_to 'Back to Competition', admin_competition_path(@competition) %>
    </p>
  <% end %>
</main>
