<main class="team_page">
  <section>
    <h2>
      Correspondence to <%= @user.display_name %> from Bulk Mail <%= @bulk_mail.name %>
    </h2>
    <p>
      <strong>Sent At:</strong>
      <%= @correspondence.created_at %>
    </p>
    <p>
      <strong>From:</strong>
      <%= @bulk_mail.from_email %>
    </p>
    <p>
      <strong>To:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Subject:</strong>
      <%= @bulk_mail.subject %>
    </p>
    &gt;&gt;&gt;&gt;
    <%= markdown @correspondence.body %>
    &gt;&gt;&gt;&gt;
    <p>
      <%= link_to 'Back to Bulk Mail', [:admin, @mailable, @bulk_mail] %>
    </p>
  </section>
</main>
