<h2>Correspondence to <%= @user.display_name %> from Bulk Mail <%= @bulk_mail.name %></h2>

<p>Sent At: <%= @correspondence.created_at %></p>
<p>From: <%= @bulk_mail.from_email %></p>
<p>To: <%= @user.email %></p>
<p>Subject: <%= @bulk_mail.subject %></p>
>>>>
  <%= markdown @correspondence.body %>
>>>>
<p><%= link_to 'Back to Bulk Mail', [:admin, @mailable, @bulk_mail] %></p>
