<main class="team_page">
  <h2>Sponsorships for <%= @region.name %> Region</h2>
  <%= link_to 'Add Sponsorship', new_admin_region_sponsorship_path(@region) %>
  <% if @sponsorships.present? %>
    <% @sponsorships.each do |sponsorship| %>
      <%= render 'admin/sponsors/sponsor', locals: { sponsor: sponsorship.sponsor } %>
      Sponsorship Type: <%= sponsorship.sponsorship_type.name %></br>
    <% end %>
  <% else %>
    <p>There are currently no sponsorships for this region in the current competition.</p>
  <% end %>

  <%= link_to "Back to #{@region.name} Region", admin_region_path(@region) %>
</main>
