%table
  %thead
    %tr
      %th{:rowspan => "2"} Entry
      %th{:rowspan => "2"} Project
      %th{:rowspan => "2"} Team
      %th{:rowspan => "2"} Location
      - @judges.each do |judge|
        %th{:colspan => "2"}= judge.display_name
      - if @judges.present?
        %th{:rowspan => "2"} Total Average
      %th{:rowspan => "2"} Award
    %tr
      - @judges.each do |judge|
        %th Project / Challenge
        %th Average
  %tbody
    - @projects.each do |project|
      %tr
        - entry = @id_entries[project.team_id]
        %td{:rowspan => "2"}= link_to (entry.eligible ? 'Eligible' : 'Not Eligible'), edit_admin_challenge_entry_path(@challenge, entry)
        %td{:rowspan => "2"}= link_to "#{project.project_name}", project_path(project.identifier)
        %td{:rowspan => "2"}= project.team_name
        %td{:rowspan => "2"}= project.event.name
        - challenge_scores = []
        - total_averages = 0
        - complete_count = 0
        - @judges.each do |judge|
          - score_value_project = 0
          - if (display_score = @judge_project_scores[judge.id][project.team_id][:display_score_status]).is_a? Integer
            - score_value_project = ((display_score.to_f / @project_judging_total.to_f) * 100).to_i
            = render 'challenges/judging_cell', locals: { total: score_value_project }
          - else
            %td= display_score
          - score_value_challenge = 0
          - if (display_score = @judge_challenge_scores[judge.id][project.team_id][:display_score_status]).is_a? Integer
            - score_value_challenge = ((display_score.to_f / @challenge_judging_total.to_f) * 100).to_i
            - challenge_scores << score_value_challenge
          - else
            - challenge_scores << display_score
          - if score_value_project.zero? || score_value_challenge.zero?
            %td{:rowspan => "2"} Not all marked
          - else
            - score_total = ((score_value_project + score_value_challenge).to_f / 2.to_f).to_i
            - total_averages += score_total
            - complete_count += 1
            = render 'challenges/judging_cell', locals: { total: score_total, rowspan: 2 }
        - if @judges.present?
          - if complete_count.zero?
            %td{:rowspan => "2"} None Complete
          - else
            - average_score = (total_averages.to_f / complete_count.to_f).to_i
            = render 'challenges/judging_cell', locals: { total: average_score, rowspan: 2 }
        %td{:rowspan => "2"}= entry.award
      %tr
        - challenge_scores.each do |score_value_challenge|
          - if score_value_challenge.is_a? Integer
            = render 'challenges/judging_cell', locals: { total: score_value_challenge }
          - else
            %td= score_value_challenge
