%main.team_page
  %section
    %h2 Review Entry
    %p Team: #{@team.name}
    %p Challenge: #{@challenge.name}
    %p Checkpoint: #{@checkpoint.name}
    %p Justification: #{@entry.justification}
    = form_for [:admin, @challenge, @entry] do |form|
      .form-group
        = form.label :eligible, 'Mark Eligible'
        = form.radio_button :eligible, true, options = {checked: @entry.eligible == true}
      .form-group
        = form.label :eligible, 'Mark Ineligible'
        = form.radio_button :eligible, false, options = {checked: @entry.eligible == false}
      .form-group
        = form.label :award
        = form.select :award, options_for_select([nil] + AWARD_NAMES, @entry.award)
      .actions
        = form.submit
    %p= link_to 'Go to Team Project', project_path(@team.current_project.identifier), target: '_blank'
    %p= link_to 'Back to Entries', admin_challenge_entries_path(@challenge)
