- content_for :title, 'Scavenger Hunt'
%main.scavenger_hunt
  :javascript
    const showInstructions = (shouldShow) => {
      document.querySelector(".scavenger_instructions").style.display = shouldShow ? 'block' : 'none';
      document.querySelector(".scavenger_title_instructions").style.display = shouldShow ? 'inline' : 'none';
      document.querySelector(".scavenger_title").style.display = shouldShow ? 'none' : 'inline';
    }

  %section.header
    %h2
      Scavenger Hunt -
      %span.scavenger_title Submit your answers
      %span.scavenger_title_instructions Instructions
  .scavenger_container
    .scavenger_questions
      - @hunt_questions.each do |question|
        %div= question.question
    .scavenger_answers
      %h2= yield :title
      - unless user_signed_in?
        %p Sign Up to participate in the scavenger hunt!
      - @hunt_questions.each do |question|
        = form_for question do |form|
          = form.label :answer, question.question
          - if user_signed_in?
            - if current_user.assignments.where(assignable: question).exists?
              %p.scavenger_answered You have successfully answered this question
            - else
              = form.text_field :answer
              = form.submit 'Submit'

      %a{class: "nav-button", onclick: "showInstructions(true)"} View Instructions

      - if @hunt_badge.present?
        %p You have claimed the scavenger badge!

      .scavenger_instructions
        %h2 Instructions:

        %p
          Getting lost, can sometimes be the easiest way to disover new things.
          The GovHack Treasure Hunt will help you find your way around the digital competition.

        %p Correct answers will earn you Treasure Hunt badges for your GovHack profile.

        %a{class: "nav-button", onclick: "showInstructions(false)"} Back
