- content_for :title, 'Treasure Hunt'
%main.treasure_hunt
  :javascript
    const showInstructions = (shouldShow) => {
      document.querySelector(".treasure_instructions").style.display = shouldShow ? 'block' : 'none';
      document.querySelector(".treasure_title_instructions").style.display = shouldShow ? 'inline' : 'none';
      document.querySelector(".treasure_title").style.display = shouldShow ? 'none' : 'inline';
    }

  %section.header
    %h2
      Treasure Hunt
      %span.treasure_title_instructions - Instructions
  .treasure_container
    .treasure_questions_container
      .treasure_questions
        %h2 Treasure Hunt Clues
        - @hunt_questions.each do |question|
          %div= question.question
    .treasure_answers
      - if user_signed_in?
        - @hunt_questions.each do |question|
          = form_for question do |form|
            = form.label :answer, question.question
            - if user_signed_in?
              - if current_user.assignments.where(assignable: question).exists?
                %p.treasure_answered You have successfully answered this question
              - else
                = form.text_field :answer, placeholder: "Your answer"
                = form.submit 'Submit'
      - else
        %p
          %strong
            = link_to 'Sign up to join the Treasure Hunt!', new_user_registration_path

        - @hunt_questions.each do |question|
          %p= question.question

      %a{class: "nav-button", onclick: "showInstructions(true)"} View Instructions

      - if @hunt_badge_assignment.present?
        %p You have claimed the #{@hunt_badge.name}!

      .treasure_instructions
        %h2 Instructions:

        %p Getting lost can sometimes be the easiest way to discover new things. The GovHack Treasure Hunt will help you find your way around the digital competition.

        %p Five correct answers will earn you a Treasure Hunt badge for your GovHack profile.

        %p
          %strong How To Play:

        %ol
          %li Each clue will lead you to a website or dataset
          %li Search the website or dataset to look up the answer to the clue
          %li Each answer will be a single non-case sensitive word or a number in numerical format e.g. 19585

        %p Note: you do not need to download files, register, or sign into any additional pages to find the answers.
        %a{class: "nav-button", onclick: "showInstructions(false)"} Back
