= form_for [:admin, @competition] do |form|
  .field
    = form.label :year
    = form.number_field :year
  .field
    = form.label :team_form_start
    = form.datetime_local_field :team_form_start
  .field
    = form.label :team_form_end
    = form.datetime_local_field :team_form_end
  .field
    = form.label :start_time
    = form.datetime_local_field :start_time
  .field
    = form.label :end_time
    = form.datetime_local_field :end_time
  .field
    = form.label :peoples_choice_start
    = form.datetime_local_field :peoples_choice_start
  .field
    = form.label :peoples_choice_end
    = form.datetime_local_field :peoples_choice_end
  .field
    = form.label :challenge_judging_start
    = form.datetime_local_field :challenge_judging_start
  .field
    = form.label :challenge_judging_end
    = form.datetime_local_field :challenge_judging_end
  .field
    = form.label :current
    = form.check_box :current
  .actions
    = form.submit
