- content_for :title, 'Demographics Data Set Report'
%main.project_index
  %h2
    #{yield :title} for #{@competition.year}    
      
  %p= link_to 'Download CSV', demographics_data_set_report_admin_competition_path(@competition, format: 'csv'), class: 'download-csv'

  %table
    %thead
      %th  user_id
      %th  full_name
      %th  profile_id
      %th  age
      %th  gender
      %th  first_peoples
      %th  disability
      %th  education 
      %th  employment
      %th  postcode
    %tbody
      - @report.each do |row|
        %tr
          %td= row[:user_id]
          %td= row[:full_name]
          %td= row[:id]
          %td= row[:age]
          %td= row[:gender]
          %td= row[:first_peoples]
          %td= row[:disability]
          %td= row[:education]
          %td= row[:employment]
          %td= row[:postcode]
          
%p= link_to 'Back to Competition', admin_competition_path(@competition)
