<h2>Update Competition <%= @competition.year %></h2>

<%= form_for [:admin, @competition] do |form|  %>

  <%= form.label :start_time %><br>
  <%= form.datetime_local_field :start_time %><br>

  <%= form.label :end_time %><br>
  <%= form.datetime_local_field :end_time %><br>

  <%= form.submit %>

<% end %>

<%= link_to 'Back to Competition', admin_competition_path(@competition) %>
