<h2>Competition <%= @competition.year %></h2>

Start Time: <%= @competition.start_time %><br>
End Time: <%= @competition.end_time %><br>

People's Choice Start: <%= @competition.peoples_choice_start %><br>
People's Choice End: <%= @competition.peoples_choice_end %><br>

Challenge Judging Start: <%= @competition.challenge_judging_start %><br>
Challenge Judging End: <%= @competition.challenge_judging_end %><br>

<%= link_to 'Update Competition Times', edit_admin_competition_path(@competition) %><br>

<h3>Competition Assignments</h3>

<h4>Competition Director</h4>

<% if (director = @competition.director).present? %>
  <%= render 'admin/shared/user_contact', locals: { user: director } %>
<% else %>
  This competition does not currently have a director.<br>
<% end %>

<h4>Site Admins</h4>

<% if (site_admins = @competition.site_admins).present? %>
  <% site_admins.each do |site_admin| %>
    <%= render 'admin/shared/user_contact', locals: { user: site_admin } %>
  <% end %>
<% else %>
  This competition does not currently have any site admins.<br>
<% end %>

<h4>GovHack Management Team</h4>

<% if (members = @competition.management_team).present? %>
  <% members.each do |member| %>
    <%= render 'admin/shared/user_contact', locals: { user: member } %>
  <% end %>
<% else %>
  This competition does not currently have any management team members.<br>
<% end %>

<%= link_to 'Assignments Management', admin_competition_assignments_path(@competition) %><br>

<h3>CheckPoints</h3>

<%= pluralize @checkpoints.count, 'checkpoint' %> saved.<br>

<%= link_to 'Competition Checkpoints', admin_competition_checkpoints_path(@competition) %><br>

<h3>Criteria</h3>

<%= pluralize @competition.region_criteria.count, 'Regional Challenge Criterion' %> saved.<br>
<%= pluralize @competition.peoples_criteria.count, 'People\'s Choice Criterion' %> saved.<br>

<h3>People's Choice Judging</h3>

<%= pluralize @competition.peoples_scorecards.count, 'scorecard' %> submitted.<br>
<%= link_to 'Go To Judgements', admin_competition_peoples_scorecards_path(@competition) %><br>

<%= link_to 'Competition Criteria', admin_competition_criteria_path(@competition) %>
