<h2>Competition <%= @competition.year %><h2>

<h3>Competition Assignments</h3>

<h4>Competition Director</h4>

<% if (director = @competition.director).present? %>
  <%= render 'admin/shared/user_contact', locals: { user: director } %>
<% else %>
  This competition does not currently have a director.<br>
<% end %>

<h4>Site Admins</h4>

<% if (site_admins = @competition.site_admins).present? %>
  <% site_admins.each do |site_admin| %>
    <%= render 'admin/shared/user_contact', locals: { user: site_admin } %>
  <% end %>
<% else %>
  This competition does not currently have any site admins.<br>
<% end %>

<h4>GovHack Management Team</h4>

<% if (members = @competition.management_team).present? %>
  <% members.each do |member| %>
    <%= render 'admin/shared/user_contact', locals: { user: member } %>
  <% end %>
<% else %>
  This competition does not currently have any management team members.<br>
<% end %>

<%= link_to 'Assignments Management', admin_competition_assignments_path(@competition) %><br>

<h3>CheckPoints</h3>

<% if @checkpoints.present? %>
  <% @checkpoints.order(end_time: :asc).each_with_index do |checkpoint, order| %>
    <h4>Checkpoint Number <%= order + 1 %></h4>
    End Time: <%= checkpoint.end_time %><br>
    <%= link_to 'Update Checkpoint', edit_admin_competition_checkpoint_path(@competition, checkpoint) %><br>
  <% end %>
<% else %>
  <div>The Competition does not currently have any checkpoints set.<div>
<% end %>

<% if @checkpoints.count < MAX_COMPETITION_CHECKPOINTS %>
  <%= link_to 'Add New Checkpoint', new_admin_competition_checkpoint_path(@competition) %><br>
<% else %>
  <div>The Competition has the maximum number of checkpoints</div>
<% end %>
