<main class="team_page">
  <h2>Competition <%= @competition.year %></h2>
  <% if @competition.current %>
    <p><strong>Current Competition</strong></p>
  <% end %>
  <p>Start Time: <%= time_tag @competition.start_time %></p>
  <p>End Time: <%= time_tag @competition.end_time %></p>

  <p>People's Choice Start: <%= time_tag @competition.peoples_choice_start %></p>
  <p>People's Choice End: <%= time_tag @competition.peoples_choice_end %></p>

  <p>Challenge Judging Start: <%= time_tag @competition.challenge_judging_start %></p>
  <p>Challenge Judging End: <%= time_tag @competition.challenge_judging_end %></p>



  <p><%= link_to 'Update Competition', edit_admin_competition_path(@competition) %></p>

  <h3>People's Choice Judging</h3>

  <p><%= link_to 'Competition Judging', admin_competition_scorecards_path(@competition, include_judges: false) %></p>
  <p><%= link_to 'Competition Judging (with Judges)', admin_competition_scorecards_path(@competition, include_judges: true) %></p>

  <h3>Competition Assignments</h3>

  <h4>Competition Director</h4>

  <% if (director = @competition.director).present? %>
    <%= render 'admin/shared/user_contact', locals: { user: director } %>
  <% else %>
    <p>This competition does not currently have a director.</p>
  <% end %>

  <h4>Site Admins</h4>

  <% if (site_admins = @competition.site_admins).present? %>
    <% site_admins.each do |site_admin| %>
      <%= render 'admin/shared/user_contact', locals: { user: site_admin } %>
    <% end %>
  <% else %>
    <p>This competition does not currently have any site admins.</p>
  <% end %>

  <h4>GovHack Management Team</h4>

  <% if (members = @competition.management_team).present? %>
    <% members.each do |member| %>
      <%= render 'admin/shared/user_contact', locals: { user: member } %>
    <% end %>
  <% else %>
    <p>This competition does not currently have any management team members.</p>
  <% end %>

  <p><%= link_to 'Assignments Management', admin_competition_assignments_path(@competition) %></p>

  <h3>CheckPoints</h3>

  <p><%= pluralize @checkpoints.count, 'checkpoint' %> saved.</p>

  <p><%= link_to 'Competition Checkpoints', admin_competition_checkpoints_path(@competition) %></p>

  <h3>Criteria</h3>

  <p><%= pluralize @competition.challenge_criteria.count, 'Challenge Criterion' %> saved.</p>
  <p><%= pluralize @competition.project_criteria.count, 'Project Criterion' %> saved.</p>

  <p><%= link_to 'Competition Criteria', admin_competition_criteria_path(@competition) %></p>
</main>
<p><%= link_to 'Back to Competitions', admin_competitions_path %></p>
