- content_for :title, 'Sponsor Data Set Report'
%main.project_index
  %h2
    #{yield :title} for #{@competition.year}
  %p
    %strong
      = @unaccounted_team_data_set_count
      team data sets unaccounted for in the below output.
  %p= link_to 'Download CSV', sponsor_data_set_report_admin_competition_path(@competition, format: 'csv'), class: 'download-csv'

  %table.projects-table#admin_demographics_table{'data-turbolinks' => 'false'}
    %thead
      %th Data Set
      %th Challenges
      %th Sponsors
      %th Team Data Sets
      %th Teams
    %tbody
      - @report.each do |row|
        %tr
          %td= row[:data_set_name]
          %td= row[:challenges].join ', '
          %td= row[:sponsors].join ', '
          %td= row[:team_data_sets_count]
          %td= row[:teams_count]

%p= link_to 'Back to Competition', admin_competition_path(@competition)
