= form_for [:admin, @region, @bulk_mail] do |form|
  = form.label :name
  = form.text_field :name
  %br/
  = form.label :from_email
  = form.email_field :from_email
  = form.label :subject
  = form.text_field :subject
  = form.label :body
  = form.text_area :body
  %ul
    %li { display_name } - To insert a Participant's Preferred Name.
    %li { team_name } - To insert a Participant's Team Name.
    %li { project_name } - To insert a Participant's Project Name.
  = form.submit
