<%= form_for [:admin, @region, @bulk_mail] do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :from_email %>
  <%= form.email_field :from_email %></br>

  <%= form.label :subject %>
  <%= form.text_field :subject %></br>

  <%= form.label :body %></br>
  <%= form.text_area :body %></br>
  <ul>
    <li>{ display_name } - To insert a Participant's Preferred Name.</li>
    <li>{ team_name } - To insert a Participant's Team Name.</li>
    <li>{ project_name } - To insert a Participant's Project Name.</li>
  </ul>
  <%= form.submit %>
<% end %>
