<%= form_for [:admin, @region, @bulk_mail] do |form| %>
  <div>
    <% @team_orders.each do |team_order| %>
      <h3>
        <%= "#{team_order.team.current_project.team_name} | #{team_order.team.current_project.project_name} %>
      </h3>
      <%= fields_for "team_orders[]", team_order do |team_order_form| %>
        <div class="form-group">
          <%= team_order_form.select(:request_type, options_for_select(TEAM_ORDER_REQUEST_TYPES, team_order.request_type)) %>
        </div>
        <table>
          <tr>
            <th>Title</th>
            <th>Display Name</th>
            <th>GovHack Can Contact</th>
          </tr>
          <% team_order.team.leaders.each do |leader| %>
            <tr>
              <td>Team Leader</td>
              <td>
                <%= leader.display_name %>
              </td>
              <td>
                <%= leader.me_govhack_contact ? 'Can Contact' : 'Cannot Contact' %>
              </td>
            </tr>
          <% end %>
          <% team_order.team.members.each do |member| %>
            <tr>
              <td>Team Member</td>
              <td>
                <%= member.display_name %>
              </td>
              <td>
                <%= member.me_govhack_contact ? 'Can Contact' : 'Cannot Contact' %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
