%main.team_page
  %h2
    Bulk Mails for #{@region.name}
  = link_to 'New Bulk Mail', new_admin_region_bulk_mail_path(@region)
  - if @bulk_mails.present?
    - @bulk_mails.each do |bulk_mail|
      %h3= bulk_mail.name
      %p
        Created At: #{bulk_mail.created_at}
      %p
        Status: #{bulk_mail.status}
      %p= link_to 'Go to Bulk Mail', admin_region_bulk_mail_path(@region, bulk_mail)
  - else
    %p There are no bulk mails for this region.
%p= link_to "Back to #{@region.name} Region", admin_competition_region_path(@competition, @region)
