%main.registrations_list
  %h1= "Bulk Mail Order #{@bulk_mail.name } for #{@region.name}"
  %p
    %strong From Email:
    = @bulk_mail.from_email
  %p
    %strong Subject:
    = @bulk_mail.subject
  %p
    %strong Created At:
    = @bulk_mail.created_at
  %div
    %p &gt;&gt;&gt;&gt;
    = markdown(BulkMail.correspondence_body(@bulk_mail.body, @example_user, @example_project)) unless @bulk_mail.body.nil?
    %p &gt;&gt;&gt;&gt;
  - unless @bulk_mail.status.in? [PROCESS, PROCESSED]
    %p#edit= link_to 'Edit Bulk Mail', edit_admin_region_bulk_mail_path(@region, @bulk_mail)
    %p#configure= link_to 'Configure Mail Orders', edit_admin_region_bulk_mail_path(@region, @bulk_mail, team_orders: true)
  - if @team_orders.present? && @team_orders.where(request_type: NONE).count != @team_orders.count
    %table#correspondences{'data-bulk-mail-id' => @bulk_mail.id}
      %tr
        %th Team Name
        %th Project Name
        %th Title
        %th Display Name
        %th Email Status
      - @team_orders.each do |team_order|
        - next if team_order.request_type == NONE
        - team_order.team.leaders.each do |leader|
          - next unless leader.me_govhack_contact
          %tr
            %td= team_order.team.current_project.team_name
            %td= team_order.team.current_project.project_name
            %td Team Leader
            %td= leader.display_name
            - @participant_count += 1
            - if (correspondence = correspondence_with(leader.id)).present?
              %td= link_to correspondence.status, admin_bulk_mail_correspondence_path(@bulk_mail, correspondence)
            - else
              %td{'data-user-id' => leader.id}
        - next if team_order.request_type == LEADER_ONLY
        - team_order.team.members.each do |member|
          - next unless member.me_govhack_contact
          %tr
            %td= team_order.team.current_project.team_name
            %td= team_order.team.current_project.project_name
            %td Team Member
            %td= member.display_name
            - @participant_count += 1
            - if (correspondence = correspondence_with(member.id)).present?
              %td= link_to correspondence.status, admin_bulk_mail_correspondence_path(@bulk_mail, correspondence)
            - else
              %td{'data-user-id' => member.id}
  - else
    %p
      %strong No mail orders configured at this time.
  - if @bulk_mail.status == DRAFT
    %p#process_mail= link_to "Process Mail Orders for #{ pluralize @participant_count, 'Participant'}", |
        '#', data: { confirm: 'Are you sure?' }                                                         |
= link_to 'Back to Bulk Mails', admin_region_bulk_mails_path(@region)
