<main class="team_page">
  <h2>Bulk Mail Order <%= @bulk_mail.name %> for <%= @region.name %></h2>
  <p>Status: <%= @bulk_mail.status %></p>
  <p>From Email: <%= @bulk_mail.from_email %></p>
  <p>Subject: <%= @bulk_mail.subject %></p>
  <p>Created At: <%= @bulk_mail.created_at %></p>

  <div>
    <p>>>>></p>
    <%= markdown(BulkMail.correspondence_body(@bulk_mail.body, @example_user, @example_project)) unless @bulk_mail.body.nil? %>
    <p>>>>></p>
  </div>

  <% unless @bulk_mail.status == PROCESSED %>
    <p><%= link_to 'Edit Bulk Mail', edit_admin_region_bulk_mail_path(@region, @bulk_mail) %></p>
    <p><%= link_to 'Edit Mail Orders', edit_admin_region_bulk_mail_path(@region, @bulk_mail, team_orders: true) %></p>
  <% end %>

  <table>
    <tr>
      <th>Team Name</th>
      <th>Project Name</th>
      <th>Title</th>
      <th>Display Name</th>
      <% if @bulk_mail.status == PROCESSED %>
        <th>Email Status</th>
      <% end %>
    </tr>
    <% @team_orders.each do |team_order| %>
      <% next if team_order.request_type == NONE %>
      <% team_order.team.leaders.each do |leader| %>
        <% next unless leader.me_govhack_contact %>
        <tr>
          <td><%= team_order.team.current_project.team_name %></td>
          <td><%= team_order.team.current_project.project_name %></td>
          <td>Team Leader</td>
          <td><%= leader.display_name %></td>
          <% @participant_count += 1 %>
          <% if @bulk_mail.status == PROCESSED %>
            <% correspondence = correspondence_with(leader.id) %>
            <td><%= link_to correspondence.status, admin_bulk_mail_correspondence_path(@bulk_mail, correspondence) %></td>
          <% end %>
        </tr>
      <% end %>
      <% next if team_order.request_type == LEADER_ONLY %>
      <% team_order.team.members.each do |member| %>
        <% next unless member.me_govhack_contact %>
        <tr>
          <td><%= team_order.team.current_project.team_name %></td>
          <td><%= team_order.team.current_project.project_name %></td>
          <td>Team Member</td>
          <td><%= member.display_name %></td>
          <% @participant_count += 1 %>
          <% if @bulk_mail.status == PROCESSED %>
            <% correspondence = correspondence_with(member.id) %>
            <td><%= link_to correspondence.status, admin_bulk_mail_correspondence_path(@bulk_mail, correspondence) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% if @bulk_mail.status == DRAFT %>
  <p><%=
    link_to "Process Mail Orders for #{ pluralize @participant_count, 'Participant'}",
    admin_region_bulk_mail_path(@region, @bulk_mail, process: true), method: :patch,
    data: { confirm: "Are you sure?" }
  %></p>
  <% elsif @bulk_mail.status == PROCESS %>
    <p>This Bulk Mail is currently being processed check back shortly.</p>
  <% end %>
  <%= link_to 'Back to Bulk Mails', admin_region_bulk_mails_path(@region) %>
</main>
