!!!
%html
  %head
    - if ENV['RAILS_ENV'] == 'development'
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - else
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Security-Policy", "content" => "upgrade-insecure-requests"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %title
      = yield(:title).presence || 'GovHack'
      | Hackerspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
  %body
    - unless params[:popup].present?
      = render "shared/top_bar"
    %p.notice= notice
    %p.alert= alert
    = yield
    - unless params[:popup].present?
      = render 'layouts/footer'
    = javascript_tag "window._search = '#{params[:search]}'"
