!!!
%html
  %head
    - if ENV['RAILS_ENV'] == 'development'
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - else
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Security-Policy", "content" => "upgrade-insecure-requests"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %title
      = yield(:title).presence || 'GovHack'
      | Hackerspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
  %body
    - unless params[:popup].present?
      - if @acting_on_behalf_of_user
        %div.acting-on-behalf-of-user
          You are acting on behalf of
          %strong= @acting_on_behalf_of_user.display_name
          = link_to "Revert back to #{current_user.display_name}", cease_acting_on_behalf_of_user_admin_user_path(@acting_on_behalf_of_user), method: :patch
      = render "shared/top_bar"
    %p.notice= notice
    %p.alert= alert
    = yield
    - unless params[:popup].present?
      = render 'layouts/footer'
    = javascript_tag "window._search = '#{params[:search]}'"
