!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Security-Policy", "content" => "upgrade-insecure-requests"}/
    = csrf_meta_tags
    = csp_meta_tag
    %title
      - if yield(:title).present?
        = yield(:title)
      - else
        GovHack
      | Hackerspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'application/favicon'
  %body
    - unless params[:popup].present?
      = render "shared/top_bar"
    %p.notice= notice
    %p.alert= alert
    = yield
    - unless params[:popup].present?
      = render 'layouts/footer'
