= form_for [:admin, @competition, @hunt_question] do |form|
  .form-group
    = form.label :question
    = form.text_field :question
  .form-group
    = form.label :answer
    = form.text_field :answer
  .actions
    = form.submit
