%main.team_page
  %h2
    Hunt Questions for #{@competition.name}
  %p= link_to 'Add New Hunt Question', new_admin_competition_hunt_question_path(@competition)
  - if @hunt_questions.present?
    %table.projects-table#admin-hunt-question-table{'data-turbolinks' => 'false'}
      %thead
        %th Question
        %th Answer
        %th Edit
      %tbody
        - @hunt_questions.each do |hunt_question|
          %tr
            %td= hunt_question.question
            %td= hunt_question.answer
            %td= link_to 'Edit', edit_admin_competition_hunt_question_path(@competition, hunt_question)
  - else
    %p The Competition does not currently have any Hunt Questions set.

  %h3 Choose the Hunt Badge
  - if @badges.present?
    %table.projects-table#admin-hunt-question-badges-table{'data-turbolinks' => 'false'}
      %thead
        %th Name
        %th Action
      %tbody
        - @badges.each do |badge|
          %tr
            %td= badge.name
            - if @competition.hunt_badge_id == badge.id
              %td
                %strong
                  This is the Scavenger Hunt Badge
            - else
              %td= link_to 'Make this the Scavenger Hunt Badge', badge_admin_competition_hunt_questions_path(@competition, competition: {hunt_badge_id: badge.id}), method: :patch
  - else
    %p The Competition does not currently have any Hunt Questions set.
  %h3 Publishing
  - if @competition.hunt_published
    %p
      This hunt has been published.
      = link_to 'Unpublish', hunt_published_admin_competition_hunt_questions_url(@competition, competition: {hunt_published: false}), method: :patch
  - else
    %p
      This hunt has not been published.
      = link_to 'Publish', hunt_published_admin_competition_hunt_questions_url(@competition, competition: {hunt_published: true}), method: :patch
%p= link_to 'Back to Competition', admin_competition_path(@competition)
